@import '~antd/lib/style/themes/default.less';
@import '../../../utils/utils.less';
.repairRecordForm {
  .formItem {
    width: 100%;
    :global {
      .ant-form-item-control-wrapper {
        width: 90%;
      }
    }
  }
}

.repairRecordList {
  margin-top: 20px;
}
