.container {
  position: relative;
  height: 100%;
  background: no-repeat center center;
  background-size: 100% 100%;
}

@keyframes myfirst
{
  from {transform: translateY(0)}
  to {transform: translateY(-20px);}
}
.animated {
  animation: myfirst 1s infinite alternate;
}
