.container {
  position: relative;
  // padding: 0 15%;
  height: 100%;
}
.wrapper {
  position: relative;
  height: calc(~'100% - 30px');
  background: no-repeat center center;
  background-size: 100% 100%;
}
.imageContainer {
  height: 100% !important;
  :global {
    .leaflet-right {
      right: 21%;
      top: 15%;
    }
  }
}
// 以marker作为tooltip使用
.tooltipMarker {
  margin-top: -89px !important;
  margin-left: -89px !important;
  padding: 6px;
  width: auto !important;
  height: auto !important;
  font-size: 14px !important;
  white-space: nowrap;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 3px;
  box-shadow: 0 0 1em red;
  animation: fade 0.5s 3 alternate;
  cursor: auto !important;

  // 伪元素实现下箭头
  &:before {
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-left: -6px;
    margin-bottom: -12px;
    pointer-events: none;
    border: 6px solid transparent;
    border-top-color: rgba(0, 0, 0, 0.75);
    background: transparent;
    content: "";
  }
}
.legendWrapper {
  position: absolute;
  top: 11.2963%;
  right: 22%;
  z-index: 888;
}
.legend {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;

  .legendItem {
    display: flex;
    align-items: center;
    justify-content: center;

    &:not(:last-child) {
      margin-right: 36px;
    }

    .legendItemIcon {
      margin-right: 12px;
      width: 24px;
      height: 24px;
      background: no-repeat center center;
      background-size: 100% 100%;
    }
  }
}
.alarm {
  margin-left: 10px;
  color: #04fdff;
  cursor: pointer;
}
@keyframes fade {
  from {
      opacity: 1.0;
  }
  50% {
      opacity: 0.4;
  }
  to {
      opacity: 1.0;
  }
}
.alarmTooltip {
  animation: fade 0.5s 3 alternate;

  :global {
    .ant-tooltip-inner {
      box-shadow: 0 0 1em red;
    }
  }
}


@keyframes myfirst
{
  from {width: 0; height: 0; background-color: rgba(255,0,0,0.6)}
  to {width: 10em; height: 10em; background-color: rgba(255,0,0,0.1)}
}
.animated {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-radius: 50%;
  // background-color: red;
  animation: myfirst 2s infinite;
  z-index: -1;
  // box-shadow: 0 0 50px red

  &.delay {
    animation: myfirst 2s 1s infinite;
  }
}


