.layout {
  :global {
    .ant-tabs {
      margin-bottom: -17px !important;
    }
  }
}

.card {
  & > :global(.ant-card-body) {
    padding: 0;
  }
}

/* 筛选栏 */
.toolbar1 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  padding: 12px 24px;
  border-bottom: 1px solid #f0f0f0;

  & > div {
    flex: none;
  }
}
.toolbar2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 12px 24px;
  border-bottom: 1px solid #f0f0f0;

  & > div {
    flex: none;
  }
}

.countBar {
  margin-bottom: 24px;
  padding: 12px 24px;
  border-bottom: 1px solid #f0f0f0;
}

.row {
  padding: 0 24px;

  .col {
    margin-bottom: 24px;
  }
}

.rangeContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 -12px;

  .quickRangeContainer {
    flex: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 -6px;
    padding: 0 12px;

    & > div {
      flex: none;
      padding: 0 6px;
    }

    .quickRange {
      cursor: pointer;
      transition: color 0.3s;

      &.active {
        color: #1890ff;
      }

      &:hover {
        color: #40a9ff;
      }

      &:active {
        color: #096dd9;
      }
    }
  }

  .rangePickerWrapper {
    flex: none;
    padding: 0 12px;
  }
}
