.legendItem {
  height: 36px;
  line-height: 36px;
  font-size: 0;
  color: #fff;

  .icon {
    display: inline-block;
    margin-right: 16px;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    background-color: #ccc;
  }

  .label {
    display: inline-block;
    width: 52px;
    font-size: 14px;
    vertical-align: middle;
  }

  .value {
    display: inline-block;
    font-size: 18px;
    vertical-align: middle;
  }
}
