.legendItem {
  display: flex;
  align-items: center;
  line-height: 2.25em;
  color: #fff;

  .icon {
    flex: none;
    margin-right: 1em;
    width: 1em;
    height: 1em;
    background-color: #ccc;
  }

  .label {
    flex: none;
    width: 3.25em;
  }

  .value {
    flex: 1;
  }
}
