.item {
  width: 60% !important;
}

.clickable {
  color: #1890ff !important;
  text-decoration: none !important;
  cursor: pointer;

  &:hover {
    color: #40a9ff !important;
  }

  &:active {
    color: #096dd9 !important;
  }
}

.fileList {
  padding: 9px 0;
  line-height: 1.5;
}

@media screen and (max-width: 992px) {
  .item {
    width: 100% !important;
  }
}
