/******************** 当前隐患 **********************/
.countList {
  display: flex;
  padding-bottom: 16px;

  .countItem {
    flex: 1;

    :first-child {
      font-size: 24px;
      text-align: center;
    }
    :nth-child(2) {
      text-align: center;
      color: #00a8ff;
    }
  }
}
