.titleWrapper {
  display: flex;
  padding-bottom: 1.25em;
  .titleIcon {
    flex: none;
    width: 2.125em;
    height: 1.6875em;
    background: no-repeat center;
    background-size: contain;
  }
  .title {
    flex: 1;
    padding-left: 0.375em;
    line-height: 1.6875em;
    .ellipsisTitle {
      max-width: 18em;
    }
  }
}
.wrapper {
  display: flex;
  .imageWrapper {
    flex: none;
    position: relative;
    width: 7.5em;
    height: 10em;
    background: #054795 no-repeat center;
    background-size: 50% auto;
    .image {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: no-repeat center;
      background-size: 100% auto;
      cursor: pointer;
    }
  }
  .fieldsWrapper {
    flex: 1;
    position: relative;
    // top: -0.25em;
    padding-left: 1em;
  }
}
.status {
  position: absolute;
  top: 0;
  right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.75em;
  width: 1.75em;
  text-align: center;
  line-height: 1;
  word-break:break-all;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  z-index: 9;
}
.sourceLabelWrapper,
.reportLabelWrapper,
.reviewLabelWrapper {
  width: 4em;
  letter-spacing: 2em;
}
.reportPerson,
.planRectificationPerson,
.actualRectificationPerson,
.reviewPerson {
  margin-right: 0.75em;
}
.expiredPlanRectificationTime {
  color: #F83329;
}
