.iconContainer {
  flex: none;
  width: 60px;
  color: #1890ff;
  cursor: pointer;
  text-align: left;

  a {
    margin-right: 3px;
  }

  .expandIcon {
    transform: rotate(-180deg);
    transition: all 0.5s;
  }

  .icon {
    transition: all 0.5s;
  }
}
