.container {
  :global {
    .ant-card-head {
      .ant-card-head-wrapper {
        padding: 8px 0 !important;

        .ant-card-head-title {
          margin: 8px 0 !important;
        }
      }
      .ant-tabs-nav-container {
        font-size: 14px !important;
      }
      .ant-tabs-tab {
        margin-right: 16px !important;
        padding: 8px !important;
      }
    }
  }
}
.extraContainer {
  margin: 0 -12px -12px;
  .extraWrapper {
    display: inline-block;
    margin-bottom: 12px;
    padding: 0 12px;
    vertical-align: top;
  }
}
.select {
  min-width: 142px;
  vertical-align: top;
}
.empty {
  height: 200px;
}
