.container {
  position: relative;
  height: 100%;
  overflow: auto;
  margin-right: -15px;
  padding-right: 15px;
  color: #fff;

  .rlvl {
    font-size: 18px;
    border-bottom: 1px solid rgba(88, 109, 136, 0.7);
    padding: 0 15px 8px;
    margin-bottom: 5px;

    .question {
      display: inline-block;
      margin-left: 15px;
      color: #D1374D;
      cursor: pointer;
      font-size: 18px;
    }
  }

  .subTitle {
    line-height: 28px;
  }

  .circle {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #0ff;
    margin-right: 8px;
    position: relative;
    top: -2px;
  }

  .label {
    color: #0ff;
  }

  .title {
    font-size: 16px;
    color: #fff;
    margin: 10px 0;

    .rect {
      display: inline-block;
      width: 20px;
      height: 20px;
      background-color: #0ff;
      margin-right: 15px;
      position: relative;
      top: 4px;
    }
  }

  .detail {
    display: inline-block;
    margin-left: 30px;
    color: #0ff;
    cursor: pointer;
  }

  .content {
    position: relative;
    padding: 10px 15px;
    border: 1px solid #0ff;
    color: #fff;
    line-height: 26px;
  }

  .more {
    position: absolute;
    bottom: 10px;
    right: 15px;
    color: #0ff;
    cursor: pointer;
  }

  .name {
    position: absolute;
    top: 80px;
    left: 42px;
    color: #3697B6;
    cursor: pointer;
  }
}
