@light-white: #dfdbdb;

.container {
  position: relative;
  color: #fff;
  height: 100%;
  overflow: auto;
  margin-right: -15px;
  padding-right: 15px;

  .areaContainer {
    position: relative;
    line-height: 26px;
    padding: 0 0 16px 25px;
    // border-bottom: 1px solid #196092;

    .areaColor {
      position: absolute;
      top: 14px;
      right: 15px;
      height: 50px;
      width: 50px;
      line-height: 50px;
      text-align: center;
      border-radius: 50%;
      font-size: 16px;
    }
  }

  .wrapper {
    position: relative;
    border-top: 1px solid #196092;
    padding: 16px 10px;
    padding-left: 25px;

    .rightIcon {
      color: #4F6F96;
      font-size: 16px;
      position: absolute;
      right: 0;
      top: 12px;
    }

    .title {
      font-size: 16px;
      padding-left: 10px;
      border-left: 4px solid #0ff;
      margin-left: -11px;
      line-height: 24px;
      position: relative;

      .value {
        display: inline-block;
        margin-left: 10px;
      }

      .extra {
        position: absolute;
        right: 5px;
        top: 0;
        font-size: 14px;
        cursor: pointer;
      }

      .video {
        position: absolute;
        display: inline-block;
        width: 36px;
        height: 36px;
        top: -8px;
        cursor: pointer;
        right: 5px;
      }
    }

    .content {
      position: relative;
      padding: 12px 0;
      font-size: 14px;
      padding-bottom: 0;

      .dotItem {
        display: inline-block;

        .dot {
          display: inline-block;
          width: 10px;
          height: 10px;
          margin-right: 5px;
          border-radius: 50%;
        }

        .dotValue {
          display: inline-block;
          margin-left: 10px;
        }

        &+.dotItem {
          margin-left: 25px;
        }
      }

      .tagItem {
        position: relative;
        line-height: 26px;
        border-top: 1px solid rgba(25, 96, 146, 0.5);
        padding: 8px 0;
        cursor: pointer;

        .tagValue {
          display: inline-block;
          margin-left: 15px;
        }

        .rightIcon {
          color: #4F6F96;
          font-size: 16px;
          position: absolute;
          right: 5px;
          top: 12px;
        }

        .tip {
          color: #CCD0D9;
          float: right;
          margin-right: 30px;
          font-size: 12px;
        }

        &:last-child {
          padding-bottom: 0;
        }
      }
    }
  }
}

.tableModallContainer {
  .modalTitle {
    color: #fff;
    text-align: center;
    font-size: 26px;
  }

  .scroll {
    overflow-x: hidden;
    overflow-y: auto;
    padding-right: 20px;
    margin-right: -20px;

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.3);
      background-color: transparent;
    }

    &::-webkit-scrollbar {
      width: 8px;
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: rgba(9, 103, 211, 0.5);
    }
  }

  .footer {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    .pagesText {
      line-height: 32px;
      color: @light-white;
    }
  }

  :global {
    .ant-modal-body {
      padding: 0 24px 24px 24px;
    }

    .ant-modal-header {
      background-color: transparent;
      border-bottom-width: 0px;
      border-top: none;
    }

    .ant-modal-close {
      color: @light-white;

      &:focus,
      &:hover {
        color: #fff;
      }
    }

    .ant-modal-title {
      color: #fff;
    }

    .ant-modal-footer {
      border-top: none;
      padding-top: 0;
    }

    .ant-modal-content {
      background-color: #033069;
      border: 1px solid #0ff;
      box-shadow: 0 0 1.1em rgba(0, 255, 255, 0.2) inset;
    }

    .ant-table-thead>tr>th {
      // border-bottom-color: #0967d3;
      color: @light-white;
      background: transparent;
      // color: #07a4f9;
      padding: 10px 10px;
    }

    .ant-table-tbody>tr>td {
      // border-bottom-color: #0967d3;
      color: @light-white;
      padding: 10px 10px;
      background-color: transparent !important;
    }

    .ant-table-tbody>tr:hover {
      & td {
        background: rgb(11, 52, 110);
      }
    }

    .ant-table-placeholder {
      background: rgb(7, 52, 111);
      color: @light-white;
      border-bottom-width: 0;
    }

    .ant-pagination-prev a,
    .ant-pagination-next a {
      color: #0967d3;
      background-color: #033069;
      border-color: #0967d3;
    }

    .ant-pagination-item {
      background-color: #033069;
      border-color: #0967d3;

      & a {
        color: #0967d3;
      }
    }

    .ant-pagination-prev:hover,
    .ant-pagination-next:hover,
    .ant-pagination-item:hover,
    .ant-pagination-item-disabled:hover {
      & a {
        border-color: #1890ff;
        color: #1890ff;
      }
    }

    .ant-pagination-item-active,
    .ant-pagination-item-active:hover {
      background-color: #0967d3;

      & a {
        color: @light-white;
      }
    }
  }

  .switchBtn {
    display: inline-block;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    padding: 6px 12px;

    &:hover {
      background-color: rgba(9, 103, 211, 0.5);
    }

    &+.switchBtn {
      margin-left: 15px;
    }
  }
}

.cardContainer {
  color: @light-white;
  border: 2px solid #fff;

  .line {
    display: flex;
    border-bottom: 1px solid @light-white;

    &:last-child {
      border-bottom: none;
    }

    .lineItem {
      padding: 12px 16px;
      display: flex;
      align-items: center;

      &:first-child {
        flex: 1;
      }

      &:nth-child(2) {
        flex: 2;
        border-left: 1px solid @light-white;
      }
    }

    .lineItem2 {
      padding: 12px 8px;
      display: flex;
      align-items: center;
      flex: 1;
      justify-content: center;
      border-left: 1px solid @light-white;
    }
  }
}
