.container {
  position: relative;
  height: 100%;
  border: 1px solid #0ff;

  .fourColorsContainer {
    position: absolute;
    bottom: 15px;
    color: #fff;
    left: calc(~'50% - 260px');
    text-align: center;

    .fourColorsWrapper {
      float: left;
      line-height: 30px;
      width: 130px;

      // & + .fourColorsWrapper {
      //   margin-left: 16px;
      // }

      .rect {
        display: inline-block;
        width: 30px;
        height: 15px;
        margin-right: 10px;
        position: relative;
        top: 2px;
      }
    }
  }

  .controlContainer {
    position: absolute;
    top: 15px;
    left: calc(~'50% - 270px');
    color: #676868;
    // color: #0ff;
    cursor: pointer;

    .controlItem {
      float: left;
      background-color: #fff;
      border-radius: 5px;
      width: 120px;
      height: 42px;
      line-height: 42px;
      text-align: center;

      &:hover {
        opacity: 0.8;
      }

      & + .controlItem {
        margin-left: 20px;
      }

      .icon {
        width: 24px;
        height: 24px;
        display: inline-block;
        margin-right: 6px;
        position: relative;
        top: 6px;
      }
    }

    .active {
      color: #116fda;
    }
  }

  .positionBtn {
    position: absolute;
    left: 10px;
    top: 15px;
    height: 42px;
    width: 42px;
    padding: 0px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 3px;
    border-radius: 2px;
  }

  .dotIcon {
    display: block;
    width: 45px;
    height: 45px;
    position: relative;
    background-size: 100% 100%;
  }

  :global {
    .amap-toolbar.amap-touch-toolbar {
      right: 10px !important;
      bottom: 110px !important;

      .amap-zoomcontrol {
        border: none;
        box-shadow: 0 0 0;
        background-color: rgba(4, 71, 134, 0.8);
        border-radius: 5px;
        width: 30px;

        .amap-zoom-touch-minus,
        .amap-zoom-touch-plus {
          background: none;
          height: 30px;
        }

        .amap-zoom-touch-minus > div,
        .amap-zoom-touch-plus > div {
          color: #a3a3a3;
          line-height: 30px;
        }
      }
    }

    .amap-touch-toolbar .amap-zoomcontrol:after {
      top: 34px;
      background-color: #00a1f6;
      opacity: 0.2;
    }

    .amap-scalecontrol {
      left: auto !important;
      bottom: 32px !important;
      right: 65px !important;
    }

    .amap-info-content.amap-info-outer {
      background-color: rgba(0, 49, 96, 0.9) !important;
      border: none;
    }

    .amap-info-sharp {
      // display: none;
      height: 13px !important;
      background: url('http://data.jingan-china.cn/v2/big-platform/safety/govmap-sharp.png')
        no-repeat center center;
      background-size: auto 100%;
    }

    .amap-info-close {
      display: none;
    }

    .fm-control-popmarker {
      color: #fff;
      padding: 0 !important;
      background-color: rgba(22, 22, 22, 0.9) !important;
      // border: 1px solid #f83329 !important;
      border: none !important;
      border-radius: 3px !important;

      & > div {
        height: 100% !important;
        overflow: hidden !important;
      }

      & > input {
        background: none !important;
        cursor: pointer;
        z-index: 8;
        outline: none;
      }
    }

    .fm-control-popmarker-top {
      border-color: rgba(22, 22, 22, 0.9) transparent transparent !important;
      z-index: 6;
    }
  }
}
