@Height: 35px;

// .container {
//   height: calc(~'36.14% - 15px');
//   position: relative;
//   margin-top: 15px;

.item {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 14px;

  .number {
    border: 1px solid #0ff;
    color: #fff;
    border-radius: 5px;
    width: @Height;
    height: @Height;
    line-height: @Height;
    text-align: center;
    margin-bottom: 3px;
    font-size: 20px;
    cursor: pointer;
  }

  .name {
    cursor: pointer;
  }
}

// }

.container {
  height: 100%;

  :global {
    .ant-carousel {
      height: 100%;

      .slick-slider {
        height: 100%;

        .slick-list {
          height: 100%;

          .slick-track {
            height: 100%;

            .slick-slide>div {
              height: 100%;

              .ant-row {
                height: 100%;
              }
            }
          }
        }

        .slick-dots {
          bottom: 2px;
        }
      }
    }
  }

  // overflow: hidden;
}
