.container {
  position: relative;
  height: 100%;
  overflow: auto;
  margin-right: -15px;
  padding-right: 15px;

  .title {
    font-size: 16px;
    color: #fff;
    margin: 10px 0;
  }

  .detail {
    display: inline-block;
    margin-left: 30px;
    color: #0ff;
    cursor: pointer;
  }

  .content {
    position: relative;
    padding: 10px 15px;
    border: 1px solid #0ff;
    color: #fff;
    line-height: 26px;
  }

  .more {
    position: absolute;
    bottom: 10px;
    right: 15px;
    color: #0ff;
    cursor: pointer;
  }

  .name {
    position: absolute;
    top: 80px;
    left: 42px;
    color: #3697B6;
    cursor: pointer;
  }

  .label {
    color: #0ff;
  }

  .alarm {
    position: absolute;
    right: 15px;
    top: 10px;
    width: 24px;
    height: 24px;
  }
}
