.container {
  width: 100%;
  height: 30px;
  line-height: 30px;
  color: #fff;
  overflow: hidden;
  position: relative;
  white-space: nowrap;

  .tips {
    position: relative;
    display: inline-block;
    white-space: nowrap;
    padding: 0 10px;

    .tip {
      display: inline-block;

      &+.tip {
        margin-left: 50px;
      }

      span {
        margin-left: 10px;
      }
    }

    &+.tips {
      margin-left: 120px;
    }
  }
}
