.mutil {
  display: flex;
  width: 100%;

  :global {
    .ant-divider-horizontal {
      min-width: 3px;
      height: 2px;
      background-color: #989797;
    }
  }

  .itemF {
    width: 20%;
    height: 32px;
    margin-top: 5px;
  }

  .itemS {
    width: 3%;
    height: 32px;
    margin-left: 3%;
    margin-right: 4%;
  }

  .itemT {
    width: 70%;
    height: 32px;
    margin-top: 5px;
  }
}
