/******************************** 动态监测 ************************** */

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
  ;
  line-height: 1;
  font-size: 14px;
  color: #fff;
  background: url('http://data.jingan-china.cn/v2/big-platform/safety/com/company-bg.png') no-repeat center center / 100% 100%;
  overflow: hidden;
  position: relative;
}

/* 主体 */

.mainBody {
  flex: 1;
  padding: 12px 24px 24px;
  overflow: hidden;
  position: relative;
}

/* 实时报警 */

.realTimeAlarmContainer {
  padding-bottom: 6px;
  height: 50%;
}

// 上部中间四小块
.topCenter {
  padding-left: 6px;
  padding-right: 6px;
}

/* 视频监控 */

.videoMonitorContainer {
  padding-top: 6px;
  height: 50%;
}

@media screen and (max-width: 1599px) {
  .main {
    font-size: 12px;
  }
}
