.card {
  border-radius: 5%;
  background: #072b5d;
  overflow: hidden;
}

.numContainer {
  display: flex;
  height: 75%;
  align-items: center;
  background: #072b5d;
  justify-content: center;
}

.num {
  font-size: 30px;
  margin: 0;
  color: #00a8ff;
  text-align: center;
}

.titleContainer {
  border-radius: 10% 10% 0 0;
  display: flex;
  height: 25%;
  align-items: center;
  justify-content: center;
  background: #0855b0;
}

.title {
  margin: 0;
  color: #fff;
  text-align: center;
}
