.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;

  .legendContainer {
    color: #fff;
    position: absolute;
    bottom: 2px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 12px;
    padding: 0 10%;

    .legend {
      cursor: pointer;
      flex: 1;

      .circle {
        display: inline-block;
        // border-radius: 50%;
        width: 5px;
        height: 14px;
        margin-right: 6px;
        position: relative;
        top: 3px;
      }

      .number {
        display: inline-block;
        margin-left: 6px;
      }

      &+.legend {
        margin-left: 8px;
      }
    }
  }

  .extra {
    position: absolute;
    right: 5px;
    top: 2px;
    color: #fff;
    cursor: pointer;
    padding: 0 8px;
    border-radius: 5px;

    .number {
      color: #0ff;
      font-size: 22px;
      display: inline-block;
      margin-left: 10px;
    }

    &:hover {
      background-color: rgba(21, 74, 144, 0.7);
    }
  }
}
