.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .tabsWrapper {
    height: 40px;
    margin-bottom: 10px;
    display: flex;
    justify-content: left;
    align-items: flex-end;
    border-bottom: 2px solid #0967d3;
    margin: 0 10px;

    :global {
      .ant-radio-group {
        width: 100%;
        display: flex;
      }

      .ant-radio-button-wrapper {
        flex: 1;
        border: none;
        color: white;
        background: #043b7e;
        border: 1px solid #043b7e;
        border-radius: 8px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        text-align: center;

        &+.ant-radio-button-wrapper {
          margin-left: 8px;
        }
      }

      .ant-radio-button-wrapper-checked {
        background: #0967d3;
        border: 1px solid #0967d3;
      }

      .ant-radio-button-wrapper:not(:first-child)::before {
        width: 0;
        height: 0;
      }
    }
  }
}

.gauge {
  display: inline-block;
  width: 50%;
  height: 32%;
  vertical-align: middle;
  text-align: -webkit-center;
  cursor: pointer;
}

.waterContainer {
  margin: 2% 2% 0 2%;
}
