@cyan: rgb(4, 253, 253);
@grey: #AEAEAE;

.outer {
  margin-bottom: 15px;
}

.status {
  width: 114px;
  height: 120px;
  position: absolute;
  bottom: 15px;
  right: 12px;
}

.stamp {
  height: 91px;
  margin-bottom: 15px;
  background-size: 100% 100%;
}

.day {
  // color: @cyan;
  color: #FFF;
  margin-bottom: 0;
  text-align: center;
  line-height: 1;
}

.days {
  margin: 0 2px;
}

.zero {
  color: #fff;
  margin-right: 1em;
}

.one:extend(.zero) {
  margin-right: 2em;
}

.two:extend(.zero) {
  margin-right: 3em;
}

.normal {
  color: #FFF;
}

.abnormal {
  color: rgb(255, 72, 72);
}

.container {
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: column;

  .topWrapper {
    display: flex;
    align-items: center;

    .select {
      min-width: 110px;
      color: #fff;
      font-size: 14px;
      margin-left: 15px;
      margin-bottom: 8px;

      :global {
        .ant-select-selection {
          background-color: transparent;
          border-color: #00ffff;
          height: 36px;
        }

        .ant-select-selection__rendered {
          margin-left: 15px;
          margin-right: 15px;
          line-height: 35px;
        }

        .ant-select-arrow {
          color: #00ffff;
        }

        .ant-select-selection-selected-value {
          padding-right: 16px;
        }
      }
    }
  }

  .cards {
    flex: 1;
    // overflow: auto;
    overflow: hidden;
    margin-top: 8px;
    align-items: center;

    &+.cards {
      margin-top: 35px;
    }

    div:last-child {
      margin-bottom: 0;
    }

    .card {
      color: #FFF;
      padding: 15px 0 15px 15px;
      // box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
      // background-color: rgb(4, 59, 126);
      border: 1px solid @cyan;
      position: relative;
      min-height: 129px;

      p {
        margin-bottom: 8px;
      }

      p:last-child {
        margin-bottom: 0;
      }

      .repeat {
        position: absolute;
        top: 10px;
        right: 15px;
        text-align: center;
        z-index: 66;
        color: #8198B4;
        font-size: 13px;
        cursor: pointer;

        &:hover {
          color: #BED1E8;
        }

        .number {
          min-width: 50px;
          height: 55px;
          line-height: 42px;
          font-size: 25px;
          padding: 0 8px;
          cursor: pointer;
        }
      }

      .name {
        margin-bottom: 15px;
        position: relative;
        font-size: 16px;
        font-weight: bold;
        height: 24px;

        .cardName {
          display: inline-block;
          width: 56%;
          overflow: hidden;
          white-space: nowrap;
          text-emphasis: ellipsis;
          text-overflow: ellipsis;
        }

        .info {
          padding: 2px 15px;
          border-radius: 15px;
          font-size: 15px;
          color: @grey;
          border: 1px solid @grey;
          margin-left: 10px;
          font-weight: normal;
          position: relative;
          right: 15px;
          top: -5px;
        }

        .warning {
          .info;
          color: #f83329;
          border-color: #f83329;
        }

        .fault {
          .info;
          color: #eeab07;
          border-color: #eeab07;
        }
      }

      .left {
        width: 85px;
        display: inline-block;
      }

      .moreDetail {
        position: absolute;
        right: 15px;
        bottom: 23px;
        color: #00ffff;
        cursor: pointer;
      }
    }
  }

  .scrollContainer {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
  }

  .spin {
    height: 100%;

    :global {
      .ant-spin-container {
        height: 100%;

        &:after {
          background-color: transparent;
        }
      }
    }
  }

  .loadMoreWrapper {
    text-align: center;
  }
}

.warn {
  color: #FFF;
  // font-size: 12px;
  position: absolute;
  top: 5px;
  right: 20px;
  padding: 2px 10px;
  border: 1px solid @cyan;
  border-radius: 16px;
  cursor: pointer;
  background-color: rgb(3, 44, 91);
}

.warn:hover {
  background-color: rgb(0, 89, 142);
}

.warned:extend(.warn) {
  cursor: auto;
  color: @grey;
  background-color: transparent;
}

.spans {
  display: flex;
  margin-bottom: 15px;
}

.span {
  color: #FFF;
  padding: 5px 15px;
  margin-right: 10px;
  border: 1px solid @cyan;
  border-radius: 16px;
  cursor: pointer;
}

.selected:extend(.span) {
  background-color: rgb(3, 44, 91);
}

.dropDown {
  padding: 4px 0;
  background-color: rgb(3, 48, 105);
  border: 1px solid #00ffff;

  :global {
    .ant-select-dropdown-menu-item {
      padding-left: 15px;
      padding-right: 15px;
      color: #fff;
      font-weight: normal;
      font-size: 14px;
      border-radius: 0;
      background-color: rgb(3, 48, 105);

      &:hover {
        color: #00ffff;
        background-color: #04407d;
      }
    }
  }
}

.repeatTimes {
  color: #fff;
  text-align: center;

  .times {
    line-height: 24px;

    .label {
      color: #9F9F9F;
    }
  }
}
