.content {
  height: 100%;
  overflow: hidden;

  .totalInfo {
    padding: 0 10px 10px 0;
    color: #fff;
    height: 220px;
    position: relative;

    .title {
      height: 1.2em;
      line-height: 1.2em;
      padding-left: 0.5em;
      border-left: 3px solid #00FBFC;
      font-size: 1.2em;
    }

    .progress {
      overflow-y: auto;
      width: 100%;
      margin-top: 30px;
    }
  }
}

.realTimeMonitor {
  width: 100%;
  padding-top: 16px;
  height: calc(100% - 220px);
  color: #fff;

  .titleLine {
    height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    .title {
      height: 1.2em;
      line-height: 1.2em;
      padding-left: 0.5em;
      border-left: 3px solid #00FBFC;
      font-size: 1.2em;
    }
  }

  .listContainer {
    height: calc(100% - 52px);
    margin-top: 20px;
    overflow-y: auto;
  }

  .card {
    width: 98%;
    display: flex;
    border: 1px solid #04fdff;
    color: #fff;
    padding: 10px;

    .picArea {
      width: 100px;
      height: 100%;
      margin-top: 20px;
    }

    .pondBg {
      width: 90px;
      height: 90px;
      margin-top: 3px;
    }

    .itemContainer {
      width: calc(100% - 100px);
      flex: 1;
      justify-content: space-around;
      display: flex;
      flex-direction: column;


      .line {
        display: block;
        width: 100%;
        font-size: 15px;
        line-height: 1.7em;
        height: 1.7em;
      }

      .lastLine {
        margin: 5px 0;
        // display: block;
        width: 100%;
        text-align: right;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .statusButton {
          margin-right: 5px;
          display: inline-block;
          width: 54px;
          height: 28px;
          line-height: 26px;
          border-radius: 5px;
          border-width: 1px;
          border-style: solid;
          text-align: center;
        }

        .camera {
          width: 30px;
          height: 30px;
          cursor: pointer;
        }
      }
    }
  }

  .emptyContainer {
    width: 100%;
    height: 300px;
    margin-top: 20px;
    position: relative;
  }
}
