@cyan: rgb(76, 206, 240);

.outer {
  padding-right: 8px;
  margin-bottom: 15px;
}

.card {
  color: #FFF;
  padding: 15px 0 15px 15px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  background-color: rgb(4, 59, 126);
  position: relative;

  p {
    margin-bottom: 8px;
  }

  p:last-child {
    margin-bottom: 0;
  }

  .time {
    margin-bottom: 15px;
  }
}

.status {
  width: 114px;
  height: 120px;
  position: absolute;
  bottom: 15px;
  right: 12px;
}

.stamp {
  height: 91px;
  margin-bottom: 15px;
  background-size: 100% 100%;
}

.day {
  color: @cyan;
  margin-bottom: 0;
  text-align: center;
  line-height: 1;
}

.info {
  padding: 5px 15px;
  border-radius: 15px;
  color: @cyan;
  border: 1px solid @cyan;
  margin-left: 10px;
}

.position {
  color: @cyan;
  margin-right: 4em;
}

.num:extend(.position) {
  margin-right: 1em;
}

.person:extend(.position) {
  margin-right: 2em;
}

.normal {
  color: #FFF;
}

.abnormal {
  color: rgb(255, 72, 72);
}

.container {
  height: 100%;
}

.spans {
  display: flex;
  margin-bottom: 15px;
}

.span {
  color: #FFF;
  padding: 5px 15px;
  margin-right: 10px;
  border: 1px solid @cyan;
  border-radius: 16px;
}

.selectedSpan:extend(.span) {
  background-color: rgb(4, 59, 126);
}

.cards {
  height: calc(100% - 48px);
  overflow: auto;

  div:last-child {
    margin-bottom: 0;
  }
}
