.gasContainer {
  margin-top: 10px;
  height: calc(100% - 115px);
  overflow: auto;
}

.alarm {
  position: absolute;
  right: 60px;
  top: 14px;
  color: rgb(222, 84, 84);
}

.alarmIcon {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(../imgs/alarmIcon.png);
  position: relative;
  top: 4px;
  margin-right: 5px;
}
