.mapSearchMain {
  :global {
    .rc-select {
      .rc-select-selection {
        background-color: #003160;
        border: none;
        .rc-select-selection__placeholder {
          color: rgba(255, 255, 255, 0.8);
        }
      }
      .rc-select-selection--single {
        height: 36px;
        line-height: 36px;
        .rc-select-selection__rendered {
          height: 36px;
          line-height: 36px;
        }
      }
      .rc-select-search__field {
        color: #fff;
      }
    }
  }
}

:global {
  .rc-select-dropdown {
    border: none;
    background-color: #003160;
    font-size: 13px;
    li.rc-select-dropdown-menu-item {
      background-color: #003160;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .rc-select-dropdown:first-child {
    overflow: hidden;
    width: 100%;
  }
}
