.card {
  margin-bottom: 24px;

  :global {
    .antd-pro-components-description-list-index-descriptionList
      .antd-pro-components-description-list-index-term {
      vertical-align: top;
    }
    .antd-pro\\components\\-description-list\\index-descriptionList
      .antd-pro\\components\\-description-list\\index-term {
      vertical-align: top;
    }
  }
}

.rangPicker {
  position: relative;
  margin-top: 4px;
  margin-right: 14px;
}

.backBtn {
  position: relative;
  top: 0px;
  right: 5px;
}

.imgSection {
  width: 10%;
  height: 140px;
  float: left;
  margin-right: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  border: 1px solid #000;
  cursor: pointer;
}

.magnify {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(92, 99, 109, 0.8);
  z-index: 6666;
}

.center {
  width: 300px;
  height: 480px;
  padding: 20px 0 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  overflow: hidden;
  transform: translate(-50%, -50%);
}

.magImg {
  font-size: 120px;
  text-align: center;
  // line-height: 400px;
  width: 300px;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

// .attachmentContent {
//   vertical-align: top;
// }
// .backBtn {
//   width: 100px;
//   height: 36px;
//   position: absolute;
//   top: 140px;
//   right: 30px;
// }
