.cardContainer {
  color: #FFF;
  margin: 0 2px 8px 0;
  padding: 10px 10px 2px 10px;
  background-color: rgb(4, 64, 125);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  position: relative;
}

.title {
  color: #0FF;
  margin-left: -5px;
}

.detail {
  color: #0FF;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.cards {
  height: 100%;
  overflow: auto;
}
