@red: #ff4848;

.container {
  color: @red;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 1);
  z-index: 1000;
  overflow: auto;
}

.shrink {
  color: #0FF;
  position: absolute;
  right: 30px;
  top: 30px;
}

.head {
  color: @red;
}

.title {
  color: @red;
}
