.cardContainer {
  font-size: 16px;
  color: #FFF;
  height: 80px;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(4, 64, 125);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.head {
  width: 60px;
  height: 60px;
  background-size: 100% 100%;
}
