@red: rgb(248, 51, 41);

/* 容器 */
.container {
  display: flex;
  padding: 16px 8px;
  height: 100%;
  position: relative;

  .left, .right {
    padding: 0 8px;
    height: 100%;
  }

  .left {
    flex: 3;

    .leftSection {
      // padding: 5px 0 0 0;
      height: calc(100% - 35px);
      background-color: rgb(3, 48, 105);
      border: 1px solid rgb(4, 253, 255);
      border-radius: 1em;
      border-top-left-radius: 0;
      box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.75);
    }
  }

  .right {
    flex: 7;
    .rightSection {
      padding: 50px 25px 25px 20px;
      position: relative;
      height: 100%;
      background-color: rgb(3, 48, 105);
      border: 1px solid rgb(4, 253, 255);
      border-radius: 1em;
      border-top-left-radius: 0;
      box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.75);
    }
  }

  // :global {
  //   .leaflet-top {
  //     top: 40px;
  //   }
  // }

  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: rgba(0, 87, 169, 1);
  }

  ::-webkit-scrollbar-track {
    border-radius: 4px;
    background: rgba(2, 28, 64, 0.6);
  }
}

.note {
  color: #FFF;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.85);
  box-shadow: 0 0 10px 2px rgba(248, 51, 41, 0.85);
  cursor: pointer;

  :global{
    .ant-notification-notice-message {
      color: @red;
    }

    .ant-notification-close-icon {
      color: #FFF;
    }

    .ant-notification-notice-icon-warning {
      color: @red;
    }
  }

  .desc {
    // cursor: pointer;
  }
}
