.colorRow {
  background-color: #fafafa;
}
.item {
  position: relative;
  padding: 24px;
  height: 288px;
  border: 2px solid #13c2c2;

  .itemTitle {
    position: absolute;
    top: 0;
    left: 24px;
    right: 24px;

    .channelName {
      color: #722ed1;
    }

    .manned {
      color: #1890ff;
    }

    .unmanned {
      color: #f5222d;
    }

    .deviceStatus {
      color: #52c41a;
    }
  }

  .itemContent {
    height: 100%;
    background: no-repeat center;
    background-size: 100% 100%;
  }
}
