.pointDrawer {
  :global {
    .ant-drawer-body {
      margin-bottom: 18px;
    }

    .ant-drawer-wrapper-body {
      padding-top: 64px;
    }
  }
}

.noAuth {
  color: rgba(0, 0, 0, 0.25);
  cursor: not-allowed;
}
