.form {
  margin-bottom: -24px !important;
}
.dropdownSpinContainer {
  position: relative;

  & > .dropdownSpin {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
.rangePicker {
  width: 100%;
}
.buttonContainer {
  margin-right: -8px;

  &:global(> .ant-btn) {
    margin-right: 8px;
  }
}
.emptyText {
  color: rgba(0, 0, 0, 0.45);
}
