.formCard {
  :global {
    .ant-card-body {
      padding: 24px 24px 0px 24px;
    }
  }
}

.form {
  :global {
    .ant-form-item {
      display: flex;
    }

    .ant-form-item-label {
      flex: none;
    }

    .ant-form-item-control-wrapper {
      flex: 1;
    }

    .ant-form-item-control-wrapper {
      width: 80%;
    }

    .ant-calendar-picker {
      min-width: 270px;
    }

    .ant-legacy-form-item-label {
      flex-grow: 0;
    }

    .ant-legacy-form-item .ant-legacy-form-item-control-wrapper {
      flex: 1 1;
    }
  }
}
