.layout {
  :global {
    .ant-tabs {
      margin: 0 0 -17px 0;
    }
  }
}
.fieldContainer {
  position: relative;
  margin: -0.5em 0;

  .fieldWrapper {
    display: flex;
    padding: 0.5em 0;
    line-height: 1.5;

    .fieldName {
      flex: none;
      color: rgba(0, 0, 0, 0.45);
    }

    .fieldValue {
      flex: 1;
      width: 0;
    }
  }
}
.countContainer {
  display: flex;
  padding-top: 28px;

  .countWrapper {
    flex: 1;
    width: 0;
    padding-left: 84px;
    line-height: 1.5;
    background: no-repeat left;
    background-size: 63px;

    .countName {
      color: rgba(0, 0, 0, 0.45);
      white-space: nowrap;
    }

    .countValue {
      font-size: 28px;
    }
  }
}
.buttonContainer {
  display: flex;
  justify-content: space-between;
  padding: 0.5em 0;

  .buttonContainerLeft {
    flex: none;
    margin: -0.5px 0;

    img {
      display: inline-block;
      width: 30px;
      vertical-align: top;
    }
  }

  .buttonContainerRight {
    flex: none;
    margin: 0 -12px;

    .buttonWrapper {
      display: inline-block;
      padding: 0 12px;
      vertical-align: top;
    }
  }
}
.videoIcon {
  display: inline-block;
  margin: -0.5px 0;
  width: 30px;
  height: 22px;
  background: url('../assets/icon-video-play.png') no-repeat;
  background-size: contain;
  cursor: pointer;
  vertical-align: top;
}
.padding {
  padding: 0.5em 0;
  min-height: 36px;

  &.panelAlarm {
    background: url('../assets/icon-alarm.png') no-repeat right 0.5em;
    background-size: 22px;
  }
}
.card {
  margin-bottom: 24px;
}
.subTitle {
  margin-bottom: 16px;
  font-weight: bold;
  line-height: 1.5;
}
.badge {
  margin-left: 4px;
  vertical-align: top !important;
}
.referenceContainer {
  margin: -0.5em 0;
  line-height: 1.5;

  .referenceWrapper {
    display: flex;
    padding: 0.5em 0;

    .referenceName {
      flex: none;
      color: rgba(0, 0, 0, 0.85);
    }

    .referenceValue {
      flex: 1;
      width: 0;
    }
  }
  .referenceMarkWrapper {
    display: flex;
    color: rgba(0, 0, 0, 0.45);
    padding-bottom: 0.5em;

    .referenceMarkName {
      flex: none;
    }

    .referenceMarkValue {
      flex: 1;
      width: 0;
    }
    .formula {
      opacity: 0.65;
    }
  }
  .referenceMaterailWrapper {
    padding: 0.5em 0;

    .referenceMaterailName {
      padding-bottom: 0.5em;
      color: rgba(0, 0, 0, 0.85);
    }

    .referenceMaterailMark {
      color: rgba(0, 0, 0, 0.45);
    }
  }
}
.table {
  line-height: 1.5;

  :global {
    .ant-table {
      td,
      th {
        white-space: nowrap;
      }
    }

    .ant-table-content {
      overflow-x: auto !important;
    }
  }
}
.contactContainer {
  // margin: 0.25em 0;
  text-align: left;

  .contactWrapper {
    display: flex;
    // padding: 0.25em 0;

    .contactName {
      flex: none;
      color: rgba(0, 0, 0, 0.45);
    }
    .contactValue {
      flex: 1;
      width: 100%;
    }
  }
}
.videoModal {
  position: fixed !important;
}
