.locateButton, .saveButton, .editButton {
  margin-right: 16px;
}
.saveButton, .editButton, .deleteButton, .axis {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.xNumInput[disabled],
.yNumInput[disabled] {
  background-color: #f5f5f5 !important;
}
.item {
  margin-right: 16px;
}
