.buttonContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 -4px 16px;

  .buttonWrapper {
    flex: none;
    padding: 0 4px;
  }
}
.contentContainer {
  margin: -8px;

  .contentWrapper {
    padding: 8px;

    &:not(:last-child) {
      border-bottom: 1px solid #f0f0f0;
    }

    &.inputNumberWrapper {
      padding: 3px 8px;
      width: 80px;
    }
  }
}
