:global {
  .custom-empty-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .custom-empty-icon {
    flex: none;
    margin-bottom: 8px;
    width: 64px;
    height: 41px;
    background: url('../../assets/PRESENTED_IMAGE_SIMPLE.svg') no-repeat center;
    background-size: contain;
  }
  .custom-empty-label {
    flex: none;
    font-size: 14px;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.25);
  }
}
