.fileList {
  line-height: 32px;
}
.uploadText {
  margin-top: 8px;
}
.image {
  width: 100%;
  vertical-align: top;
}
.modal {
  :global {
    .ant-modal-close {
      .ant-modal-close-x {
        width: 2em;
        height: 2em;
        line-height: 2em;
      }
    }
  }
}
