.dot {
  width: 8px;
  height: 8px;
  display: inline-block;
}

.redDot:extend(.dot) {
  background: rgb(248,51,41);
}

.greyDot:extend(.dot) {
  background: rgb(159,159,159);
}

.cyanDot:extend(.dot) {
  background: #0FF;
}
