.coursewareList {
  @mb: 14px;
  @mr: 10px;
  :global {
    .ant-form-item {
      margin-bottom: 0.8em;
    }
  }
  .mr10 {
    margin-right: @mr;
  }
  .cardContainer {
    .firstLine {
      display: flex;
      .title {
        flex: 1;
        font-size: 16px;
        font-weight: 600;
        word-break: break-all;
        padding-right: 10px;
        cursor: pointer;
      }
      .rightIcons {
        visibility: hidden;
        color: #615b5b;
        .icon {
          cursor: pointer;
        }
        .disabledIcon {
          cursor: not-allowed;
        }
      }
    }
    .tags {
      margin-top: @mb;
      &>* {
        font-size: 13px;
      }
    }
    .introduction {
      margin-top: @mb;
      font-size: 15px;
    }
    .statistics {
      margin-top: @mb;
      color: rgba(0, 0, 0, .45);
      .icon {
        margin-right: 8px;
      }
    }
  }
  .cardContainer:hover .rightIcons {
    visibility: visible;
  }
  .grey {
    color: rgba(0, 0, 0, .45);
  }
}

.courseViewContainer {
  .titleContainer {
    text-align: center;
    font-size: 17px;
    font-weight: 500;
    word-break: break-all;
    margin-bottom: 0.4em;
  }
  .statistics {
    text-align: right;
    color: rgba(0, 0, 0, .45);
    margin-bottom: 0.4em;
  }
  .detail {
    margin-top: 0.4em;
    font-size: 15px;
    span {
      font-weight: 600;
    }
    .content {
      word-break: break-all;
      text-indent: 2em;
    }
  }
}
