.formCard {
  margin-bottom: 24px;

  :global {
    .ant-card-body {
      padding-bottom: 0;
    }
  }
}
.table {
  :global {
    .ant-table {
      td,
      th {
        white-space: nowrap;
      }
    }

    .ant-table-content {
      overflow-x: auto !important;
    }
    .ant-table-body {
      overflow: auto !important;
    }
  }
}
