.person() {
  background: no-repeat center;
  background-size: 100% 100%;
}
// 人员容器
.personContainer {
  // width: 38px;
  // height: 40px;
  background-color: transparent;
  border: none;
}
/* 人员名称 */
.personName  {
  color: #fff;
  text-align: center;
}
/* 报警状态的人员 */
.redPerson {
  background-image: url('../../imgs/peopleRed.png');
}
/* 普通的工作人员 */
.bluePerson {
  background-image: url('../../imgs/person1.png');
}
/* 访客 */
.greenPerson {
  background-image: url('../../imgs/person.png');
}
