.container {
  padding-top: 20px;
}

.item {
  display: flex;
  align-items: center;
  height: 60px;
  padding-left: 50px;
  border-radius: 6px;
  background-color: rgb(6, 51, 107);
  margin-bottom: 8px;
}

.icon {
  width: 40px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 40px;
}

.p {
  color: #FFF;
  margin: 0;
}

.count {
  font-size: 20px;
  color: #0FF;
  margin: 0 30px;
}

.more {
  color: rgb(159, 159, 159);
}
