.item {
  display: flex;
  align-items: center;
}

.icon {
  width: 60px;
  height: 60px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.p {
  color: #FFF;
  margin: 0;
}

.count {
  font-size: 20px;
  color: #0FF;
  margin: 0 15px 0 10px;
}
