@cyan: rgb(76, 206, 240);

.container {
  position: absolute;
  top: calc(9.62963% + 24px);
  left: 50%;
  transform: translateX(-50%);
}

.item {
  display: inline-block;
  font-size: 16px;
  color: @cyan;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  margin-right: 10px;
  border: 1px solid @cyan;
  border-radius: 10px 0 10px 0;
  background-color: rgba(3, 48, 105, 0.902);
  cursor: pointer;
}

.item1:extend(.item) {
  color: #FFF;
  background-color: rgb(26, 102, 194);
}

.icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 5px;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  top: 6px;
}
