.conatainer {
  display: flex;
  justify-content: center;
}

.spans {
  span {
    color: #FFF;
    padding: 0 50px;
    line-height: 40px;
    border: 1px solid #0FF;
    border-right: none;
  }

  span:last-child {
    border-right: 1px solid #0FF;
  }

  .selected {
    background-color: rgb(5, 71, 149);
  }
}
