.container {
  display: flex;
  margin: 5px 8px 0;
  padding-top: 10px;
  border-top: 1px solid #474747;
}

.fire {
  width: 23px;
  height: 24px;
}

.smoke {
  width: 24px;
  height: 24px;
}

.elec {
  width: 26px;
  height: 26px;
}

.gas {
  width: 20px;
  height: 27px;
}

.water {
  width: 21px;
  height: 27px;
}

.fire, .smoke, .elec, .gas, .water {
  position: relative;
  background-size: 100% 100%;
  margin-right: 10px;

  .bar {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    padding: 2px 0;
    border-radius: 5px;
    justify-content: center;
    background-color: #161616;
  }
}

.fire:hover, .smoke:hover, .elec:hover, .gas:hover, .water:hover {
  .bar {
    display: flex;
  }
}

.inner>:last-child {
  margin-right: 0;
}

.item {
  font-size: 12px;
  margin-right: 10px;
}

.dot {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin-right: 5px;
  border-radius: 50%;
  position: relative;
  top: -2px;
}

.label {
  margin-right: 5px;
}
