.container {
  font-size: 17px;
  padding: 0 0 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #195E8E;
}

.counts {
  width: 365px;
  font-size: 14px;
  color: #9f9f9f;
  display: flex;
  justify-content: space-between;
}

// .countContainer:not(:last-child) {
//   margin-right: 5px;
// }

.count {
  font-size: 18px;
  color: #FFF;
  margin: 0 1px;
}
