.container {
  font-size: 17px;
  display: flex;
  padding: 0 16px 16px;
  margin-bottom: 10px;
  justify-content: space-between;
  border-bottom: 1px solid #195E8E;
}

.counts {
  width: 310px;
  font-size: 14px;
  color: #9f9f9f;
  display: flex;
  justify-content: space-between;
}

.count {
  font-size: 18px;
  color: #FFF;
  margin: 0 1px;
}
