@darkBlue: rgb(25, 94, 142);

.container {
  padding: 5px 0;
  border-bottom: 1px solid @darkBlue;
  position: relative;

  p {
    color: #FFF;
    margin: 0;
    font-size: 14px;
  }
}

.icon {
  width: 18px;
  height: 18px;
  display: inline-block;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  margin-right: 5px;
  position: relative;
  top: 3px;
}

.unit {
  margin-bottom: 5px;
}

.unitIcon:extend(.icon) {
  background-image: url(../imgs/unit.png);
}

.locationIcon:extend(.icon) {
  background-image: url(../imgs/location.png);
}

.cameraIcon {
  width: 36px;
  height: 36px;
  background-size: 100% 100%;
  background-image: url(../imgs/camera.png);
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
