.personLabelWrapper {
  width: 4em;
  letter-spacing: 0.5em;
}

.resultValueContainer {
  display: flex;
}
.itemResult {
  flex: none;
  display: flex;
  align-items: center;
  margin-right: 1.25em;

  .itemPoint {
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
  }

  .itemResultLabel  {
    padding: 0 0.25em;
  }
}

