.formCard {
  :global {
    .ant-card-body {
      padding: 24px 24px 0px 24px;
    }
  }
}

.form {
  :global {
    // .ant-form-item {
    //   display: flex;
    // }

    // .ant-form-item-label {
    //   flex: none;
    // }

    // .ant-form-item-control-wrapper {
    //   flex: 1;
    // }

    // .ant-form-item-control-wrapper {
    //   width: 80%;
    // }

    .ant-legacy-form-item .ant-legacy-form-item-control-wrapper {
      flex: 1 1;
    }

    .ant-calendar-picker {
      min-width: 270px;
    }
  }
}

.cardList {
  margin-bottom: -24px;
  overflow: hidden;

  .card {
    overflow: hidden;
    height: 242px;

    :global {
      .ant-card-extra {
        display: none;
        margin-right: -12px;
        padding: 12px 0;
      }

      .ant-card-head-title {
        font-weight: bold;
      }

      .ant-card-body {
        padding: 9px 10px 6px;
      }

      p {
        margin-bottom: 12px;
      }
    }

    .ellipsisText {
      margin-bottom: 12px;
      height: 1.5em;
    }
  }

  :global {
    .ant-list .ant-list-item-content-single {
      max-width: 100%;

      &:hover {
        .ant-card {
          -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.09);
          box-shadow: 0 3px 8px rgba(0, 0, 0, 0.09);
          border-color: rgba(0, 0, 0, 0.09);
        }

        .ant-card-extra {
          display: block;
        }
      }
    }
  }

  .imgConatiner {
    width: 130px;
    height: 170px;
    background-color: rgba(228, 228, 228, 0.753);
    flex: none;
    margin-top: 5px;
    border: 1px solid rgb(121, 122, 124);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .title {
    font-size: 20px;
    font-weight: bold;
  }

  .line {
    padding: 2px 0;
  }
}

.moadFormBody {
  :global {
    .ant-modal-close {
      display: none;
    }
  }
}

.modalForm {
  :global {
    .ant-form-item {
      margin-bottom: 4px;

      .ant-upload.ant-upload-select-picture-card {
        width: 250px;
        height: 250px;
      }
    }


  }

  .cascaderStyle {
    :global {
      .ant-cascader-menu-item-expand-icon {
        display: none,
      }
    }
  }

  .imgConatiner {
    width: 160px;
    height: 170px;
    background-color: rgba(228, 228, 228, 0.753);
    flex: none;
    margin-top: 5px;
    border: 1px solid rgb(121, 122, 124);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.modalExport {
  :global {
    .ant-modal-close {
      display: none;
    }
  }
}
