.list {
  display: flex;
  margin-top: 7%;

  .item {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    .quantity {
      width: 64px;
      height: 64px;
      line-height: 64px;
      text-align: center;
      font-size: 20px;
      border-radius: 50%;
      color: #fff;
      background: transparent;
    }
    .name {
      font-size: 14px;
      position: absolute;
      top: 75%;
      margin-left: 4px;
    }
  }
}
