.container {
  line-height: 1.5;
  text-align: left;

  .item {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
.clickable {
  color: #1890ff !important;
  text-decoration: none !important;
  cursor: pointer;

  &:hover {
    color: #40a9ff !important;
  }

  &:active {
    color: #096dd9 !important;
  }
}
