.container {
  .item {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
.pictureContainer {
  display: flex;
  margin: -4px;

  .pictureWrapper {
    flex: none;
    padding: 4px;

    .picture {
      height: 40px;
      vertical-align: top;
      cursor: pointer;
    }
  }
}
.clickable {
  color: #1890ff !important;
  text-decoration: none !important;
  cursor: pointer;

  &:hover {
    color: #40a9ff !important;
  }

  &:active {
    color: #096dd9 !important;
  }
}
