.carouselDemoWrapper {
  position: relative;
  background: rgb(92, 156, 217);
  overflow: hidden;
  height: 800px;
}

.carouselDemo {
  width: 100%;
  height: 100%;
}

.carouselWrapper {
  position: absolute;
  width: 300px;
  height: 400px;
  margin: auto;
  left: 0;
  right: 0;
  top: 200px;
  padding-top: 350px;
  margin-top: -350px;
}

.carousel {
  position: relative;
  width: 100%;
  margin: auto;
  height: 100%;
}

.carouselContent {
  transform-style: preserve-3d;
  width: 100%;
}

.itemWrapper {
  position: absolute;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
  width: 100%;
}

.itemWrapper .rotateLayer .bgAndBlurLayer {
  border-radius: 8px;
  overflow: hidden;
  background: #fff;
  transition: filter .45s;
  margin: auto;
}

.itemWrapper .rotateLayer .bgAndBlurLayer .contentLayer {
  transition: opacity .65s;
}

.imgWrapper {
  height: 400px;
  background-size: cover;
  background-position: center;
}

.dashboardContainer {
  margin: 0 !important;
  position: relative;
  background: rgb(92, 156, 217);
  overflow: hidden;
  padding: 50px 60px 90px 60px;
}

.itemContainer {
  width: 300px;
  height: 400px;
}

.imgItem {
  width: 100%;
  height: 100%;
  cursor: pointer;
  border-radius: 8px;
  background-size: cover;
  background-position: center;
}

.section {
  width: 280px;
  height: auto;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 5px;
  &:hover img {
    transform: scale(1.1, 1.1);
  }
  &:hover {
    box-shadow: 0 0 20px rgba(51, 51, 51, 0.2);
  }
  &:hover .text {
    color: #1890ff;
  }
  .imgContainer {
    width: 100%;
    height: auto;
    display: block;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      transition: all 0.8s;
    }
  }
  .text {
    width: 100%;
    background: #fff;
    font-size: 1.7em;
    font-weight: 700;
    letter-spacing: 6px;
    transition: all 0.8s;
    height: 4.5em;
    line-height: 4.5em;
    text-align: center;
    overflow: hidden;
  }
}
