.container {
  margin-top: 20px;
  // padding: 14px 10px 0;
  padding: 14px 10px;
  background-color: #FFF;
}

.total {
  margin: 0;
  font-size: 16px;
}

.p {
  margin: 0;
}

.delete {
  color: #1890ff;
  margin-left: 8px;
  cursor: pointer;
}
