.container {
  position: relative;
  height: 100%;
}
.jumpButton {
  color: #00ffff;
  cursor: pointer;

  &:hover {
    color: #fff;
  }
}
.legendList {
  position: absolute;
  top: 0;
  right: 0;
  height: 20px;
  line-height: 20px;

  .legendItem {
    float: left;
    margin-right: 12px;
    height: 100%;

    .legendItemIcon {
      display: inline-block;
      margin-right: 8px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
    }

    .legendItemName {
      font-size: 12px;
    }
  }
}
