.container {
  :global {
    .ant-drawer-body {
      padding: 0;
      height: 100%;
    }
  }
}
/* 关闭按钮 */
.closeButton {
  font-size: 20px;
  color: #fff;
  cursor: pointer;

  &:hover {
    color: #00ffff;
  }
}
