@import '~antd/lib/style/themes/default.less';
@import '../../utils/utils.less';
.error {
  color: red;
}

.cardContainer {
  margin: 0 auto;
  .tableTitle {
    color: black;
    font-weight: bolder;
    font-size: 18px;
    margin-bottom: 5px;
  }
}
