@import '~antd/lib/style/themes/default.less';
@import '../../utils/utils.less';
.error {
  color: red;
}

.ant-card-head-title {
  font-weight: 600;
  font-size: 18px;
}

.anticon-close-circle {
  font-size: 72px;
}

.cardContainer {
  margin: 0 auto;
  margin-bottom: 20px;
  .tableTitle {
    color: black 90%;
    font-weight: 600;
    font-size: 18px;
    line-height: 3;
  }
  .message {
    text-align: center;
    display: block;
    font-size: 18px;
    line-height: 60px;
    color: #4d4848;
  }
}
