.topWrite {
  line-height: 30px;
  font-size: 14px;
}

.writeRed {
  color: red;
}

.content {
  :global {
    .antd-pro\\layouts\\-grid-content-main.antd-pro\\layouts\\-grid-content-wide {
      margin: 0;
    }

    .antd-pro-layouts-grid-content-main.antd-pro-layouts-grid-content-wide {
      margin: 0;

    }
  }
}
