/* 企业信息 */
.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  line-height: 1;
}
.top {
  flex: none;
  padding-left: 84px;
  background: no-repeat 12px center;
  background-size: 48px 48px;

  & > :first-child {
    height: 48px;
    line-height: 48px;
    font-size: 20px;
    cursor: pointer;
  }
  & > :not(:first-child) {
    height: 36px;
    line-height: 36px;
    font-size: 16px;
  }
  .fieldName {
    color: rgb(0, 168, 255);
  }
}
.bottom {
  flex: 1;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 12px;

  & > div {
    flex: none;
    width: 50%;
    padding: 11px;
    padding-left: 84px;
    background: no-repeat 11px center;
    background-size: 50px 50px;
    border-radius: 3px;

    .countLabel {
      height: 28px;
      line-height: 28px;
      font-size: 16px;
      color: rgb(0, 168, 255);
    }
    .countValue {
      height: 28px;
      line-height: 28px;
      font-size: 28px;
    }
  }

  .hoverable {
    cursor: pointer;

    &:hover {
      background-color: rgba(9, 103, 211, 0.2);
      box-shadow: 0 0 1em rgba(9, 103, 211, 1) inset;
    }
  }
}

/* 重要单位 */
.importantUnit {
  position: absolute;
  right: -16px;
  // top: 30.949285%;
  bottom: 4px;
  width: 82px;
  height: 27px;
  background: no-repeat center center;
  background-size: 100% 100%;
}
