.alarmStrategyModalCard {
  :global {
    .ant-card-body {
      padding: 24px 24px 0 24px;
    }
  }

  .row {
    height: 35px;
  }

  .labelText {
    line-height: 35px;
    padding-right: 0.5em;
  }
}
