.row {
  height: 100%;
  overflow: hidden;

  .col {
    height: 100%;
  }

  .leftTop {
    margin-bottom: 12px;
    height: calc(~'44% - 12px')
  }

  .leftBottom {
    height: 56%;
  }

  .centerTop {
    margin-bottom: 12px;
    height: calc(~'67.826% - 12px');
  }

  .centerBottom {
    height: 32.174%;
  }

  .rightTop {
    margin-bottom: 12px;
    height: calc(~'67.826% - 12px');
  }

  .rightBottom {
    height: 32.173913%;
  }
}
