/* 消防数据统计模块开关容器 */
.switcherContainer {
  position: absolute;
  top: 36px;
  right: 0;
}

/* 隐患巡查统计 */
.hiddenDangerChartContainer {
  padding-bottom: 92px;
  height: 100%;
}
/* 隐患巡查统计图表图例 */
.hiddenDangerChartLegend {
  display: flex;
  position: absolute;
  left: 6px;
  right: 6px;
  bottom: 6px;
  padding: 4px 12px 8px;
  font-size: 14px;
  background-color: rgba(0,0,0,0.3);

  .hiddenDangerChartLegendLeft {
    flex: 1;
    padding-right: 12px;
    border-right: 2px solid #0097E7;

    & > :first-child {
      display: flex;
      align-items: center;
      padding: 8px 0;

      & > :first-child {
        flex: none;
        margin-right: 8px;
        width: 14px;
        height: 14px;
        background: transparent no-repeat center;
        background-size: 100% 100%;
      }
      & > :nth-child(2) {
        flex: 1;
        color: #00A8FF;
      }
    }
    & > :nth-child(2) {
      & > div {
        display: flex;
        align-items: center;
        padding: 8px 0;

        & > :first-child {
          flex: none;
          margin-right: 12px;
          width: 12px;
          height: 12px;
        }
        & > :nth-child(2) {
          flex: none;
        }
        & > :nth-child(3) {
          flex: 1;
          text-align: right;
        }
      }
    }
  }
  .hiddenDangerChartLegendRight {
    flex: 2;

    & > :first-child {
      display: flex;
      align-items: center;
      padding: 8px 12px;

      & > :first-child {
        flex: none;
        margin-right: 8px;
        width: 14px;
        height: 14px;
        background: transparent no-repeat center;
        background-size: 100% 100%;
      }
      & > :nth-child(2) {
        flex: 1;
        color: #00A8FF;
      }
    }
    & > :nth-child(2) {
      overflow: hidden;

      & > div {
        display: flex;
        align-items: center;
        float: left;
        padding: 8px 0 8px 12px;
        width: 50%;

        & > :first-child {
          flex: none;
          margin-right: 12px;
          width: 12px;
          height: 12px;
          border-radius: 50%;
        }
        & > :nth-child(2) {
          flex: none;
        }
        & > :nth-child(3) {
          flex: 1;
          text-align: right;
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) and (max-width: 1599px) {
  /* 隐患巡查统计 */
  .hiddenDangerChartContainer {
    padding-bottom: 74px;
  }
  /* 隐患巡查统计图表图例 */
  .hiddenDangerChartLegend {
    padding: 4px 10px 8px;
    font-size: 12px;

    .hiddenDangerChartLegendLeft {
      padding-right: 10px;

      & > :first-child {
        padding: 6px 0;

        & > :first-child {
          width: 12px;
          height: 12px;
        }
      }
      & > :nth-child(2) {
        & > div {
          padding: 6px 0;

          & > :first-child {
            margin-right: 10px;
            width: 10px;
            height: 10px;
          }
        }
      }
    }
    .hiddenDangerChartLegendRight {
      & > :first-child {
        padding: 6px 10px;

        & > :first-child {
          width: 12px;
          height: 12px;
        }
      }
      & > :nth-child(2) {
        & > div {
          padding: 6px 0 6px 10px;

          & > :first-child {
            margin-right: 10px;
            width: 10px;
            height: 10px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1199px) {
  /* 隐患巡查统计 */
  .hiddenDangerChartContainer {
    padding-bottom: 62px;
  }
  /* 隐患巡查统计图表图例 */
  .hiddenDangerChartLegend {
    padding: 4px 8px 8px;
    font-size: 12px;

    .hiddenDangerChartLegendLeft {
      padding-right: 8px;

      & > :first-child {
        padding: 4px 0;

        & > :first-child {
          width: 12px;
          height: 12px;
        }
      }
      & > :nth-child(2) {
        & > div {
          padding: 4px 0;

          & > :first-child {
            margin-right: 8px;
            width: 10px;
            height: 10px;
          }
        }
      }
    }
    .hiddenDangerChartLegendRight {
      & > :first-child {
        padding: 4px 8px;

        & > :first-child {
          width: 12px;
          height: 12px;
        }
      }
      & > :nth-child(2) {
        & > div {
          padding: 4px 0 4px 8px;

          & > :first-child {
            margin-right: 8px;
            width: 10px;
            height: 10px;
          }
        }
      }
    }
  }
}
