.outer {
  width: 800px;
  height: 600px;
  position: relative;
  border: 1px solid black;
}

.inner {
  width: 600px;
  height: 400px;
  position: absolute;
  left: 0;
  bottom: 0;
  border: 1px solid black;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: red;
  position: absolute;
  transform: translate(-50%, -50%);
  transition: 1s all linear;
}
