.card {
  :global {
    .ant-card-body {
      padding-top: 0;
    }
  }
}

.content {
  width: 100%;
}

.top {
  width: 100%;
  display: flex;
  border-bottom: 1px solid #e8e8e8;

  .left {
    width: 20%;
    display: flex;
    border-right: 1px solid #e8e8e8;
    justify-content: center;
    align-items: center;
  }

  .right {
    width: 80%;
    padding: 15px 0px 10px 15px;

    .item {
      padding-bottom: 5px;
    }

    .label {
      color: red;
      padding: 0 5px;
    }
  }
}

.bottom {
  width: 100%;
  display: flex;
  border-bottom: 1px solid #e8e8e8;

  .left {
    width: 20%;
    display: flex;
    border-right: 1px solid #e8e8e8;
    justify-content: center;
    align-items: center;
  }

  .right {
    width: 80%;
    padding: 15px 0px 20px 15px;

    .item {
      padding-bottom: 5px;
    }

    .personLabel {
      display: flex;
      justify-content: flex-end;

      .label {
        font-weight: bold;
      }
    }
  }
}
