@common-color: #0ff;

.container {
  position: relative;
  padding: 1em;
  font-size: 16px;
  line-height: 1.5;
  background-color: #033069;
  border: 1px solid @common-color;
}
.row {
  display: flex;
  padding: 0.25em 0;
  .label {
    flex: none;
    color: @common-color;
    .labelWrapper {
      display: inline-block;
      width: 6em;
      white-space: nowrap;
      overflow: hidden;
      vertical-align: top;
    }
  }
  .value {
    flex: 1;
    padding-left: 0.25em;
    color: #fff;
  }

  &.extendedDays,
  &.expiryDays {
    .value {
      color: #F83329;
    }
  }
  &.name, &.extendedDays {
    .labelWrapper {
      letter-spacing: 0.666667em;
    }
  }
  &.expiryDays {
    .labelWrapper {
      letter-spacing: 0.25em;
    }
  }
}
.level {
  position: absolute;
  top: 0;
  right: 1em;
  padding-top: 0.75em;
  padding-bottom: 0.875em;
  width: 1.75em;
  text-align: center;
  line-height: 1;
  word-break:break-all;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  z-index: 9;
}
