.treeNodeExtra {
  position: fixed;
  right: 0;
  width: 56px;
  text-align: center;
  cursor: auto;

  .treeNodeExtraInput {
    width: 42px;
    text-align: center;
  }
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.col {
  flex: 1;
  display: flex;
  padding-bottom: 24px;
}
.area {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid #d9d9d9;

  .areaTop {
    flex: none;
    padding: 0 8px;
    width: 100%;
  }
  .areaCenter {
    flex: none;
    display: flex;
    width: 100%;
    text-align: center;
    background-color: #F2F2F2;

    .areaCenterLeft {
      flex: 1;
      border-right: 1px solid #d9d9d9;
    }
    .areaCenterRight {
      flex: none;
      width: 56px;
    }
  }
  .areaBottom {
    flex: 1;
    display: flex;
    position: relative;
    transform: translate(0, 0);

    .areaBottomLeft {
      flex: 1;
      border-right: 1px solid #d9d9d9;
      overflow-x: auto;
      overflow-y: hidden;
    }
    .areaBottomRight {
      flex: none;
      width: 56px;
    }
  }
}

@media screen and (min-width: 576px) {
  .formItem {
    display: flex;

    :global {
      .ant-form-item-label {
        flex: none;
      }
      .ant-form-item-control-wrapper {
        flex: 1;
      }
    }
  }
}
