// .cardIcon {
//   display: inline-block;
//   width: 16px;
//   height: 16px;
//   margin-right: 6px;
//   position: relative;
//   top: 3px;
//   background-size: 100% 100%;
// }

.total {
  position: absolute;
  top: 53%;
  left: 54%;
  transform: translate(-50%, -50%);
  line-height: 1;
  text-align: center;
}

.num {
  font-size: 30px;
  margin-bottom: 10px;
}

.text {
  font-size: 20px;
  margin-bottom: 0;
}
