@height: 18px;

.container {
  padding: 0 15px;
  overflow: hidden;
  height: 100%;
  backface-visibility: hidden;
  box-shadow: 0 0 1.1em rgba(9, 103, 211, 0.9) inset;
}


.title {
  // height: @height;
  height: 48px;
  font-size: @height;
  line-height: @height;
  color: #FFF;
  // margin: 20px 0;
  // padding: 0;
  margin-bottom: 10px;
  padding: 15px 0;
  position: relative;
  left: -15px;
  // padding-left: 35px;
  padding-left: 50px;
  background-size: auto 100%;
  background-repeat: no-repeat;
}

.dot {
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  // left: 0;
  top: 14px;
  left: 16px;
  // top: 0;
  // background: rgb(9, 103, 211);
  background-size: 100% 100%;
}

.back {
  // color: rgb(0, 168, 255);
  color: rgb(4, 253, 255);
  font-size: 16px;
  position: absolute;
  // right: 0;
  // top: 0;
  right: -15px;
  top: 15px;
  cursor: pointer;
}
