@cyan: rgb(4, 253, 253);

.card {
  font-size: 16px;
  color: #FFF;
  padding: 15px 8px 15px 20px;
  margin-bottom: 15px;
  border-left: 5px solid;
  background-color: rgb(6, 59, 111);
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  position: relative;

  p:last-child {
    margin-bottom: 0;
  }
}

.cards {
  .card:last-child {
    margin-bottom: 0;
  }
}

.name {
  // margin-right: 2em;
  display: inline-block;
  width: 25%;
}

.duty {
  font-size: 14px;
  color: @cyan;
  position: absolute;
  top: 15px;
  right: 10px;
  border: 1px solid @cyan;
  border-radius: 5px;
  padding: 0 5px;
  line-height: 20px;
}

.p {
  color: #FFF;
  font-size: 16px;
  text-align: center;
}

.container {
  height: 100%;
}

.cards {
  height: calc(100% - 80px);
  overflow: auto;
}

.legal {
  margin-left: 2em;
}

.leader {
  margin-left: 1em;
}

.admin {
  margin-left: 1em;
}

.person {
  margin-left: 3em;
}
