.cardIcon {
  display: inline-block;
  width: 18px;
  height: 17px;
  margin-right: 6px;
  position: relative;
  top: 2px;
  background-size: 100% 100%;
}

.more {
  margin-top: 6px;
  position: relative;
}

.icon {
  display: inline-block;
  background-size: 100% 100%;
}

.point:extend(.icon) {
  width: 18px;
  height: 18px;
}

.danger:extend(.icon) {
  width: 18px;
  height: 17px;
}

.status {
  position: absolute;
  right: 0;
  top: 0;
}
