.name {
  font-size: 16px;
  color: #FFF;
  padding-left: 14px;
}

.spans {
  display: flex;
  padding: 0 0 15px 15px;
}

.item {
  padding: 5px 8px;
  margin-right: 8px;
  color: #FFF;
  border: 1px solid #0FF;
  border-radius: 6px;
  cursor: pointer;
}

.selected:extend(.item) {
  cursor: auto;
  background-color: rgb(4, 71, 134);
}

.item:hover {
  background-color: rgb(4, 71, 134);
}

.cardContainer {
  color: #FFF;
  padding: 0 14px;
  height: calc(100% - 88px);
  overflow: auto;
  text-align: center;
}
