.search {
  :global {
    .ant-card-body .ant-form-vertical .ant-form-item-label {
      padding: 4px 0;
    }
  }
}

.container {
  margin-top: 20px;
  padding: 14px 10px 0;
  background-color: #FFF;
}

.statistics {
  font-size: 16px;
  padding-left: 20px;
}

.content {
  font-size: 16px;
}

.count {
  margin: 0;
}
