@import '~antd/lib/style/themes/default.less';
@import '../../../utils/utils.less';
.cardList {
  margin-bottom: -24px;
  .card {
    :global {
      .ant-card-extra {
        display: none;
        margin-right: -12px;
        padding: 12px 0;
      }
      .ant-card-head-title {
        font-weight: bold;
      }
      .ant-card-body {
        padding: 12px 24px 0;
      }
      p {
        margin-bottom: 12px;
      }
    }
    .ellipsisText {
      margin-bottom: 12px;
      height: 1.5em;
    }
  }
  :global {
    .ant-list .ant-list-item-content-single {
      max-width: 100%;
      &:hover {
        .ant-card {
          -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.09);
          box-shadow: 0 3px 8px rgba(0, 0, 0, 0.09);
          border-color: rgba(0, 0, 0, 0.09);
        }
        .ant-card-extra {
          display: block;
        }
      }
    }
  }
  .quantity {
    position: absolute;
    right: 25px;
    bottom: -65px;
    width: 65px;
    height: 64px;
    line-height: 64px;
    text-align: center;
    font-size: 20px;
    border-radius: 50%;
    // border: 1px solid;
    color: #737374;
    background: #f0f2f5;
  }
  .servicenum {
    position: absolute;
    right: 22px;
    bottom: -90px;
    font-size: 14px;
  }
}
