.input {
  :global {
    .ant-input-group-addon {
      padding: 0;
      border: 0;
    }
  }
  .button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
.form {
  margin-bottom: 16px;
}
