.input {

}
.icon {
  cursor: pointer;

  &:hover {
    color: #40a9ff !important;
  }
  &:active {
    color: #096dd9 !important;
  }
}
.modal {
  :global {
    .ant-modal-body {
      padding: 0 !important;
      height: 600px;
    }
  }
}
.clickable {
  color: #1890ff !important;
  text-decoration: none !important;
  cursor: pointer;

  &:hover {
    color: #40a9ff !important;
  }

  &:active {
    color: #096dd9 !important;
  }
}
.search {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 256px;
}
