.container {
  :global {
    .ant-tabs-top {
      margin-bottom: -17px !important;
    }
  }
}
.radioList {
  display: inline-block;
  margin-right: 24px;
  vertical-align: top;

  .radioItem {
    display: inline-block;
    padding: 0 8px;
    line-height: 32px;
    color: rgba(0, 0, 0, 0.65);
    cursor: pointer;
    vertical-align: top;
    transition: color 0.3s;

    &:hover,
    &.active {
      color: #1890ff;
    }
  }
}
.monitorItem {
  margin-bottom: 16px;
  padding: 16px;
  background-color: #fff;

  .monitorItemTitleWrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 12px;

    .monitorItemTitle {
      flex: 1;
    }

    .realTimeJumper,
    .historyJumper {
      flex: none;
      margin-left: 16px;
      width: 24px;
      height: 24px;
      background: no-repeat center;
      background-size: contain;
      cursor: pointer;
    }
  }

  .monitorItemContent {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: -12px;

    .monitorItemCountWrapper {
      flex: none;
      margin-bottom: 12px;
      padding-left: 50px;
      width: 50%;
      background: no-repeat left;
      background-size: 36px;

      &:first-child {
        width: 100%;
      }

      .monitorItemCountLabel {
        color: rgba(0, 0, 0, 0.45);
      }

      .monitorItemCountValue {
        font-size: 24px;
      }
    }
  }
}
.card{
  :global {
    .ant-card-body {
      padding-left: 24px !important;
      padding-right: 24px !important;
    }
  }

  &:not(:last-child) {
    margin-bottom: 24px;
  }
}
.countContainer {
  display: flex;
  align-items: center;

  &>:first-child {
    flex: none;

    .countItem {
      padding-left: 50px;
      background: no-repeat left;
      background-size: 36px;
    }
  }

  &>:nth-child(2) {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    padding-left: 24px;
    border-left: 1px solid #ddd;
  }

  .countItem {
    flex: 1;
    white-space: nowrap;

    .countLabel {
      width: 8em;
      color: rgba(0, 0, 0, 0.45);
    }
    .countValue {
      font-size: 24px;
    }
  }
}
