.fieldContainer {
  position: relative;
  margin: -0.5em 0;
  line-height: 1.5;

  .fieldWrapper {
    display: flex;
    padding: 0.5em 0;

    .fieldName {
      flex: none;
      color: rgba(0, 0, 0, 0.85);
    }

    .fieldValue {
      flex: 1;
      width: 0;
    }
  }

  .radioWrapper {
    padding: 0.5em 0;
  }

  .subTitle {
    font-size: 18px;
    padding: 0.5em 0;
  }
}
