.sectionMain {
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 1.8em #000;
  /* 为容器添加内阴影 */
  .shadowIn {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 16px;
    box-shadow: 0 0 1.1em rgba(9, 103, 211, 0.9) inset;
    background: rgba(9, 103, 211, 0.06);
    overflow: hidden;
    .sectionTitle {
      position: relative;
      width: 100%;
      height: 20px;
      line-height: 20px;
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 5px;
      .sectionTitleIcon {
        display: inline-block;
        margin-right: 12px;
        width: 20px;
        height: 20px;
        background-color: #0967D3;
        vertical-align: top;
      }
      .count {
        margin-left: 6px;
        padding-left: 6px;
        font-size: 15px;
        font-weight: 200;
        display: inline-block;
        border-left: 1px solid #0967D3;
        height: 20px;
        line-height: 20px;
      }
      .history {
        float: right;
        height: 20px;
        line-height: 20px;
        font-size: 15px;
        font-weight: 200;
        color: #00a8ff;
        cursor: pointer;
      }
    }
    .filterContainer {
      width: 100%;
      height: 50px;
      display: flex;
      justify-content: left;
      align-items: center;
      :global {
        .ant-radio-button-wrapper {
          border: none;
          color: white;
          background: #06377B;
        }
        .ant-radio-button-wrapper-checked {
          background: #1890ff;
        }
      }
    }
    .sectionContent {
      position: relative;
      width: 100%;
      height: calc(100% - 80px);
      padding: 0;
      overflow-y: auto;
      overflow-x: hidden;
      .alarmItem {
        position: relative;
        padding: 10px 25px 10px 0; // background: #011539;
        background: #032150;
        overflow: hidden;
        .innerItem {
          width: 100%;
          height: 100%;
          .alarmTitle {
            padding-left: 18px;
            width: 100%;
            height: 30px;
            line-height: 30px;
            position: relative;
            display: flex;
            justify-content: space-between;
            .title {
              width: 55%;
              height: 30px;
              position: relative;
              display: flex;
              .icon {
                width: 30px;
                height: 30px;
                display: inline-block;
                flex: none;
              }
              .redText {
                font-size: 16px;
                font-weight: 500;
                height: 30px;
                line-height: 30px;
                display: inline-block;
                flex: 1;
                overflow: hidden;
                color: #E14848;
              }
              .blueText {
                font-size: 16px;
                font-weight: 500;
                height: 30px;
                line-height: 30px;
                display: inline-block;
                flex: 1;
                overflow: hidden;
                color: #00a8ff;
              }
            }
          }
          .alarmDetail {
            padding-left: 25px;
            width: 100%;
            height: 25px;
            line-height: 25px;
            position: relative;
            word-wrap: nowrap;
            overflow: hidden;
            color: #D2D7DE;
          }
          .lastLine {
            padding-left: 25px;
            width: 100%;
            height: 25px;
            line-height: 25px;
            position: relative;
            color: #516895; // display: flex;
            // justify-content: space-between;
            word-wrap: nowrap;
            overflow: hidden;
            display: flex;
            .location {
              flex: 1;
              overflow: hidden;
              word-wrap: nowrap;
            }
            .time {
              flex: none;
            }
          }
        }
        .videoPlayButton {
          position: absolute;
          right: 12px;
          bottom: 12px;
          width: 32px;
          height: 32px;
          cursor: pointer;
          img {
            display: block;
            width: 100%;
            height: 100%;
          }
        }
        .topRightPurpleTag {
          position: absolute;
          width: 100%;
          text-align: center;
          background: #877CE4;
          font-size: 14px;
          line-height: 25px;
          transform: translate(50%, 0) translate(-20px, 20px) rotate(45deg);
          transform-origin: 50% 0;
          top: 0;
          right: 0;
        }
        .topRightBlueTag {
          position: absolute;
          width: 100%;
          text-align: center;
          background: #1890FF;
          font-size: 15px;
          line-height: 25px;
          transform: translate(50%, 0) translate(-20px, 20px) rotate(45deg);
          transform-origin: 50% 0;
          top: 0;
          right: 0;
        }
      }
    }
    .sectionContent::-webkit-scrollbar-track {
      box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.3);
      background-color: #021c40;
    }
    .sectionContent::-webkit-scrollbar {
      width: 7px;
      background-color: #021c40;
    }
    .sectionContent::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: #06428a;
    }
    .noAlarmContainer {
      position: relative;
      width: 100%;
      height: calc(100% - 75px);
      padding: 0;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      &>div {
        width: 180px;
        height: 180px;
      }
    }
  }
  .mt10 {
    margin-top: 10px;
  }
}
