/* 消防数据统计模块开关容器 */

.switcherContainer {
  position: absolute;
  top: 36px;
  right: 0;
}

/* 隐患巡查统计 */

.hiddenDangerChartContainer {
  padding-bottom: 92px;
  height: 100%;
  position: relative;
  .legendContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; // position: absolute;
    // top: 0;
    // right: 10px;
    .line {
      width: 100%;
      display: flex;
      align-items: center;
      cursor: pointer;
      margin-bottom: 0.7em;
      & * {
        font-size: 14px;
      }
      .icon {
        width: 10px;
        height: 10px;
        background-color: #D16772;
        border-radius: 50%;
        margin-right: 0.5em;
      }
      .label {
        flex: none;
        width: 5em;
      }
      .value {
        flex: 1;
      }
    }
  }
}

/* 隐患巡查统计图表图例 */

.hiddenDangerChartLegend {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 6px;
  right: 6px;
  bottom: 6px;
  padding: 4px 12px 8px;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.3);
  .hiddenDangerChartLegendLeft {
    flex: 1;
    padding-right: 12px;
    border-right: 2px solid #0097E7;
    &> :first-child {
      display: flex;
      align-items: center;
      padding: 8px 0;
      &> :first-child {
        flex: none;
        margin-right: 8px;
        width: 14px;
        height: 14px;
        background: transparent no-repeat center;
        background-size: 100% 100%;
      }
      &> :nth-child(2) {
        flex: 1;
        color: #00A8FF;
      }
    }
    &> :nth-child(2) {
      &>div {
        display: flex;
        align-items: center;
        padding: 8px 0;
        &> :first-child {
          flex: none;
          margin-right: 12px;
          width: 12px;
          height: 12px;
        }
        &> :nth-child(2) {
          flex: none;
        }
        &> :nth-child(3) {
          flex: 1;
          text-align: right;
        }
      }
    }
  }
  .hiddenDangerChartLegendRight {
    flex: 2;
    &> :first-child {
      display: flex;
      align-items: center;
      padding: 8px 12px;
      &> :first-child {
        flex: none;
        margin-right: 8px;
        width: 14px;
        height: 14px;
        background: transparent no-repeat center;
        background-size: 100% 100%;
      }
      &> :nth-child(2) {
        flex: 1;
        color: #00A8FF;
      }
    }
    &> :nth-child(2) {
      overflow: hidden;
      &>div {
        display: flex;
        align-items: center;
        float: left;
        padding: 8px 0 8px 12px;
        width: 50%;
        &> :first-child {
          flex: none;
          margin-right: 12px;
          width: 12px;
          height: 12px;
          border-radius: 50%;
        }
        &> :nth-child(2) {
          flex: none;
        }
        &> :nth-child(3) {
          flex: 1;
          text-align: right;
        }
      }
    }
  }
  .firstLine {
    display: flex;
    align-items: center;
    & div:first-child {
      margin-right: 8px;
      width: 14px;
      height: 14px;
    }
    & div:last-child {
      color: #0097E7;
    }
  }
  .content {
    padding: 5px;
    display: flex;
    overflow: hidden;
    & div:last-child {
      border: none;
    }
    .item {
      padding: 5px;
      flex: 1;
      border-right: 2px solid #0097E7;
      .iconContainer {
        width: 100%;
        padding: 0 0 10px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        .blueIcon {
          width: 33px;
          height: 15px;
          border-radius: 12px;
          background: #298BD4;
        }
        .redIcon {
          width: 33px;
          height: 15px;
          border-radius: 12px;
          background: #E96663;
        }
        .ligntBlueIcon {
          width: 33px;
          height: 15px;
          border-radius: 12px;
          background: #00ABC9;
        }
      }
      .text {
        display: flex;
        &>* {
          flex: 1;
          text-align: center;
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) and (max-width: 1599px) {
  /* 隐患巡查统计 */
  .hiddenDangerChartContainer {
    padding-bottom: 74px;
  }
  /* 隐患巡查统计图表图例 */
  .hiddenDangerChartLegend {
    padding: 4px 10px 8px;
    font-size: 12px;
    .hiddenDangerChartLegendLeft {
      padding-right: 10px;
      &> :first-child {
        padding: 6px 0;
        &> :first-child {
          width: 12px;
          height: 12px;
        }
      }
      &> :nth-child(2) {
        &>div {
          padding: 6px 0;
          &> :first-child {
            margin-right: 10px;
            width: 10px;
            height: 10px;
          }
        }
      }
    }
    .hiddenDangerChartLegendRight {
      &> :first-child {
        padding: 6px 10px;
        &> :first-child {
          width: 12px;
          height: 12px;
        }
      }
      &> :nth-child(2) {
        &>div {
          padding: 6px 0 6px 10px;
          &> :first-child {
            margin-right: 10px;
            width: 10px;
            height: 10px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1199px) {
  /* 隐患巡查统计 */
  .hiddenDangerChartContainer {
    padding-bottom: 62px;
  }
  /* 隐患巡查统计图表图例 */
  .hiddenDangerChartLegend {
    padding: 4px 8px 8px;
    font-size: 12px;
    .hiddenDangerChartLegendLeft {
      padding-right: 8px;
      &> :first-child {
        padding: 4px 0;
        &> :first-child {
          width: 12px;
          height: 12px;
        }
      }
      &> :nth-child(2) {
        &>div {
          padding: 4px 0;
          &> :first-child {
            margin-right: 8px;
            width: 10px;
            height: 10px;
          }
        }
      }
    }
    .hiddenDangerChartLegendRight {
      &> :first-child {
        padding: 4px 8px;
        &> :first-child {
          width: 12px;
          height: 12px;
        }
      }
      &> :nth-child(2) {
        &>div {
          padding: 4px 0 4px 8px;
          &> :first-child {
            margin-right: 8px;
            width: 10px;
            height: 10px;
          }
        }
      }
    }
  }
}
