.companyNumber {
  margin-right: 24px;
}
.card:not(:last-child) {
  margin-bottom: 24px;
}
.table {
  :global {
    .ant-table {

      td,
      th {
        white-space: nowrap;
      }
    }

    .ant-table-body {
      overflow-x: auto !important;
    }

    .ant-spin-nested-loading {
      z-index: 2;
    }
  }
}
.operation {
  // display: inline-block;
  // padding: 0 8px;
  // color: #1890ff !important;
  // cursor: pointer;

  // &:hover {
  //   color: #40a9ff !important;
  // }
  // &:active {
  //   color: #096dd9 !important;
  // }
  padding-left: 8px !important;
  padding-right: 8px !important;
}
.multi {
  text-align: left;
}
.modal {
  :global {
    .ant-modal-body {
      padding: 0;
    }
  }
}
