.item {
  width: 60% !important;
}
.verticalItem {
  width: 100% !important;
}
textarea.item {
  margin-top: 4px !important;
}

@media screen and (max-width: 992px) {
  .item {
    width: 100% !important;
  }
}
@media screen and (min-width: 576px) {
  .form {
    :global {
      .ant-form-item {
        display: block !important;
      }

      .ant-form-item-control-wrapper {
        width: auto !important;
      }
    }
  }
}
