/*********************** 单位巡查人员列表 **************************/
.titleWrapper {
  display: inline-block;
  height: 1em;
  vertical-align: top;
}
.title {
  display: inline-block;
  vertical-align: top;
}
.splitLine {
  display: inline-block;
  margin: -0.25em 0.625em;
  width: 0;
  height: 1.5em;
  border-left: 1px solid #00ffFF;
  vertical-align: top;
}
.jumpButton {
  color: #00ffFF;
  cursor: pointer;

  &:hover {
    color: #fff;
  }
}
div.select {
  margin-top: -0.5em;
  color: #fff;
  vertical-align: top;
}
/* 巡查统计 */
.inspectionCount {
  display: inline-block;
  margin-left: 1em;
  font-weight: normal;
  vertical-align: top;
}

/* 表格 */
.table {
  :global {
    .ant-table-small {
      color: #fff;
      border: none;
      border-radius: 0;

      & > .ant-table-content > .ant-table-body > table {
        padding: 0;
        text-align: center;
        border-radius: 0;

        & > .ant-table-thead > tr > th {
          text-align: center;
          color: #fff;
          background-color: rgba(9, 103, 211, 0.2);
          border-bottom-color: rgba(9, 103, 211, 0.7);
        }
      }

      .ant-table-column-sorter {
        color: #4f6793;
      }

      .ant-table-tbody > tr {
        // cursor: pointer;

        &:hover > td {
          background-color: rgba(9, 103, 211, 0.2);
        }

        & > td {
          border-bottom-color: rgba(9, 103, 211, 0.7);
        }
      }

      .ant-table-placeholder {
        background-color: transparent;
        color: #fff;
      }
    }
  }
}
