.container {
  padding: 9px 0;
  line-height: 1.5;
}
.companyName {
  margin-bottom: 8px;
}
.card {
  :global {
    .ant-card-body {
      padding: 12px;
    }
  }
  .divider {
    margin: 12px 0;
  }
}
.fieldWrapper {
  display: flex;

  .fieldName {
    flex: none;
    color: rgba(0, 0, 0, 0.45);
  }

  .fieldValue {
    flex: 1;
  }
}
.empty {
  color: rgba(0, 0, 0, 0.45);
}
