.title {
  padding: 0.25em 0;
}
.loopNumberLabelWrapper {
  width: 4em;
  letter-spacing: 0.5em;
}
.multipleValue {
  &>:nth-child(n+2) {
    margin-left: 0.5em;
  }
}
.status {
  position: absolute;
  top: 0.75em;
  right: 1em;
  margin-top: -1px;
  padding: 0.25em 1em;
  line-height: 1;
  border: 1px solid transparent;
  border-radius: 1em;
}
.action {
  position: absolute;
  bottom: 0.5em;
  right: 1em;
  padding: 0.25em 0;
  color: #0ff;
  cursor: pointer;

  &:hover {
    color: #fff;
  }
}
