.section {
  display: flex;
  height: 100%;
  margin-left: 0.5em;
  margin-right: 0.5em;

  &:hover {
    background-color: rgba(9, 103, 211, 0.2);
    box-shadow: 0 0 2em rgba(9, 103, 211, 1) inset;
  }

  .item {
    flex: 1;
    display: flex;
    justify-content: center;
    margin-top: 8%;

    .line {
      width: 45px;
      height: 65px;
      line-height: 65px;
      margin-right: 3%;
      margin-left: 3%;
      text-align: center;
      font-size: 30px;
      color: #fff;
      background: transparent;
    }

    .name {
      font-size: 14px;
      position: absolute;
      top: 72%;
    }
  }
}
