.section {
  display: flex;
  margin-top: 8%;

  .item {
    flex: 1;
    display: flex;
    justify-content: center;

    .line {
      width: 45px;
      height: 65px;
      line-height: 65px;
      margin-right: 3%;
      margin-left: 3%;
      font-family: 'FZCuSong-B09S';
      text-align: center;
      font-size: 30px;
      color: #fff;
      background: transparent;
    }
    .name {
      font-size: 14px;
      position: absolute;
      top: 72%;
    }
  }
}
