.card {
  overflow: hidden;
  cursor: auto !important;
}
.cardContent {
  position: relative;
  margin: -0.25em 0;
  color: rgba(0, 0, 0, 0.65) !important;

  .cardRow {
    display: flex;
    padding: 0.25em 0;

    & > :first-child {
      flex: none;
    }

    & > :last-child {
      flex: 1;
    }
  }
}
.ellipsis {
  font-weight: bold;
  white-space: normal;
}
.avatar {
  width: 6em;
  cursor: pointer;
}
.statusLabel {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 10em;
  transform: translate(50%, -50%) rotate(45deg);
  color: #fff;
  text-align: center;
}
