.emptyData {
  color: rgba(0, 0, 0, 0.45);
}
.content {
  margin: 0 -12px;

  span {
    padding: 0 12px;
  }
}
.card {
  overflow: hidden;
  cursor: auto !important;
}
.cardContent {
  position: relative;
  margin: -0.25em 0;
  padding-right: 4em;

  .cardRow {
    display: flex;
    padding: 0.25em 0;

    & > :first-child {
      flex: none;
    }

    & > :last-child {
      flex: 1;
    }
  }
  .cardCount {
    position: absolute;
    right: 0;
    top: 50%;
    width: 4em;
    height: 4em;
    transform: translateY(-50%);
  }
}
.ellipsis {
  white-space: normal;
}
.avatar {
  width: 6em;
  cursor: pointer;
}
.statusLabel {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 10em;
  transform: translate(50%, -50%) rotate(45deg);
  color: #fff;
  text-align: center;
}
