/*********************** 单位巡查人员列表 **************************/
.titleWrapper {
  display: inline-block;
  height: 16px;
  vertical-align: top;
}
.title {
  display: inline-block;
  vertical-align: top;
}
.splitLine {
  display: inline-block;
  margin: -4px 10px;
  width: 0;
  height: 24px;
  border-left: 1px solid #00ffFF;
  vertical-align: top;
}
.jumpButton {
  display: inline-block;
  margin-top: -8px;
  width: 32px;
  height: 32px;
  background: url('../../imgs/back.png') no-repeat center;
  background-size: 100% 100%;
  cursor: pointer;

  &:hover {
    background-image: url('../../imgs/back_hover.png');
  }
}
div.select {
  margin-top: -8px;
  color: #fff;
  vertical-align: top;

  :global {
    .ant-select-selection {
      background-color: transparent;
      border-radius: 32px;
      border-color: #00ffff;
    }
    .ant-select-selection__rendered {
      margin-left: 15px;
      margin-right: 15px;
    }
    .ant-select-arrow {
      color: #00ffff;
    }
    .ant-select-selection-selected-value {
      padding-right: 16px;
    }
  }
}
div.dropDown {
  padding: 4px 0;
  background-color: rgb(3, 48, 105);
  border: 1px solid #00ffff;

  :global {
    .ant-select-dropdown-menu-item {
      padding-left: 15px;
      padding-right: 15px;
      color: #fff;
      font-weight: normal;
      border-radius: 0;
      background-color: rgb(3, 48, 105);

      &:hover {
        color: #00ffff;
        background-color: #04407d;
      }
    }
    .ant-select-dropdown-menu::-webkit-scrollbar-track {
      // box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.3);
      background-color: transparent;
    }
    .ant-select-dropdown-menu::-webkit-scrollbar {
      width: 8px;
      background-color: transparent;
    }
    .ant-select-dropdown-menu::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: rgb(0, 87, 169);
    }
  }
}
/* 巡查统计 */
.inspectionCount {
  display: inline-block;
  margin-left: 18px;
  font-weight: normal;
  vertical-align: top;
}

/* 表格 */
.table {
  .abnormal {
    color: #ff4848;
  }

  :global {
    .ant-table-small {
      color: #fff;
      border: none;
      border-radius: 0;

      & > .ant-table-content > .ant-table-body > table {
        padding: 0;
        text-align: center;
        border-radius: 0;

        & > .ant-table-thead > tr > th {
          text-align: center;
          color: #fff;
          background-color: rgba(9, 103, 211, 0.2);
          border-bottom-color: rgba(9, 103, 211, 0.7);
        }
      }

      .ant-table-column-sorter {
        color: #4f6793;
      }

      .ant-table-tbody > tr {
        // cursor: pointer;

        &:hover > td {
          background-color: rgba(9, 103, 211, 0.2);
        }

        & > td {
          border-bottom-color: rgba(9, 103, 211, 0.7);
        }
      }

      .ant-table-placeholder {
        background-color: transparent;
        color: #fff;
      }
    }
  }
}

/* 结果 */
.result {
  position: absolute;
  top: 0;
  left: 25%;
  right: 25%;
}
