@import '~antd/lib/style/themes/default.less';
.waterWave {
  display: inline-block;
  position: relative;
  transform-origin: left;
  .title {
    .num {
      font-size: 2em;
      margin-bottom: 3px;
      color: rgb(0, 168, 255);
    }
    .unit {
      font-size: 1em;
      color: rgb(66, 103, 143);
    }
    position: absolute;
    left: 0;
    top: 20px;
    text-align: center;
    width: 100%;
  }
  .text {
    color: #fff;
    position: absolute;
    left: 0;
    top: 85px;
    text-align: center;
    width: 100%;
    span {
      font-size: 1em;
      line-height: 14px;
    }
    h4 {
      color: @heading-color;
      line-height: 32px;
      font-size: 24px;
    }
  }
  .waterWaveCanvasWrapper {
    transform: scale(0.5);
    transform-origin: 0 0;
  }
}
