.addButton {
  margin-bottom: 8px;
}
.numberInput {
  width: 52px !important;
}
.confirmerInput {
  width: 80px !important;
}
.wrapper {
  text-align: left;
}
.disabled {
  color: rgba(0, 0, 0, 0.45);
}
