/* 容器 */
.container {
  position: relative;
  min-height: 100%;
  background: #fff;
  overflow: hidden;

  // header
  .header {
    position: relative;
    padding: 4.35182vh 18.75vw 4.35182vh; // 47px 360px 47px;
    overflow: hidden;
    .logo {
      float: left;
      width: 337px;
      height: 62px;
      background: url('@/assets/limin_download_logo.png') no-repeat center;
      background-size: 100%;
    }
    // 返回按钮
    .backButtonWrapper {
      float: right;
      height: 62px;
      line-height: 62px;
      .backButton {
        vertical-align: bottom;
      }
    }
  }

  .content {
    position: relative;
    padding: 19.25926vh 25.9375vw; // 208px 498px
    background: url('http://data.jingan-china.cn/v2/login/nanxiao/nanxiao_download_background.png') no-repeat center;
    background-size: cover;
    text-align: right;

    .layer {
      position: absolute;
      top: 18.2%; // 126px
      bottom: 5.5%; // 38px
      left: 18.9583%; // 364px
      z-index: 2;

      img {
        display: inline-block;
        width: auto;
        height: 100%;
        vertical-align: top;
      }
    }
    .codeWrapper {
      position: relative;
      display: inline-block;
      vertical-align: top;
      z-index: 9;

      .code {
        padding: 28px;
        height: 226px;
        background: url('@/assets/nanxiao_download_code.png') no-repeat center;
        background-size: 170px 170px;
      }
      .codeDescription {
        height: 48px;
        line-height: 48px;
        font-size: 24px;
        color: #fff;
        text-align: center;
      }
    }
  }
}

/* 手机端 */
.mobileContainer {
  height: 100%;

  .content {
    position: relative;
    min-height: 100%;
    background: url('http://data.jingan-china.cn/v2/login/nanxiao/nanxiao_download_background.png') no-repeat 25%;
    background-size: auto 100%;
    overflow: hidden;

    .logo {
      height: 20.9vh; // 338px
      background: url('@/assets/limin_download_logo_mobile.png') no-repeat center;
      background-size: auto 24.852%; // 84px
    }
    .layer {
      height: 32vh; // 517px
      text-align: center;

      img {
        display: inline-block;
        width: auto;
        height: 100%;
        vertical-align: top;
      }
    }
    .codeWrapper {
      padding-top: 1.98vh; // 32px;
      padding-bottom: 2.599vh; // 42px;

      .code {
        height: 13.98515vh; // 226px
        background: url('@/assets/nanxiao_download_code.png') no-repeat center;
        background-size: auto 75.22124%; // 170px
      }
      .codeDescription {
        font-size: 1.48515vh; // 24px
        line-height: 2;
        color: #fff;
        text-align: center;
      }
    }
    .buttonWrapper {
      padding: 4.08416vh 0; // 66px
      text-align: center;

      .downloadButton,
      .loginButton {
        display: inline-block;
        width: 9.5em; // 412px
        height: 3em; // 132px
        line-height: 3em;
        font-size: 2.2277vh;
        border-radius: 1vh;
        vertical-align: top;
        cursor: pointer;
      }
      .downloadButton {
        margin-right: 5%;
        color: #fff;
        background-color: #1577E4;

        &:active {
          opacity: 0.9;
        }
      }
      .loginButton {
        color: #1577E4;
        background-color: #fff;

        &:active {
          opacity: 0.9;
        }
      }
    }
  }
}
