.top {
  padding: 0 1em 1em;
  margin: 0 1em;
  // border-bottom: 1px solid rgba(88, 109, 136, 0.7);
}

.line {
  display: flex;
  padding: 0.25em 0;
  position: relative;

  .label {
    flex: none;
    color: #0ff;
    white-space: nowrap;
    overflow: hidden;
  }

  .value {
    flex: 1;
  }

  .number {
    display: inline-block;
    width: 4em;
    letter-spacing: 2em;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
  }
}

.video {
  display: inline-block;
  margin: 0.25em 1em;
  width: 1.4em;
  height: 1em;
  background: url('../../imgs/icon-video.png') no-repeat center;
  background-size: auto 1em;
  vertical-align: top;
  cursor: pointer;
}

.jumperWrapper {
  position: absolute;
  top: 0;
  right: 2em;
  margin: 0 -0.5em;

  span {
    display: inline-block;
    padding: 0 0.5em;
    width: 1.5em;
    height: 1.5em;
    background: no-repeat center;
    background-size: auto 1.5em;
    vertical-align: top;
    cursor: pointer;
    box-sizing: content-box;

    &:first-child {
      background-image: url('../../imgs/icon-work-order.png');
    }

    &:nth-child(2) {
      background-image: url('../../imgs/icon-trend.png');
    }
  }
}

.middle {
  padding: 1.5em 1em;
  margin: 0 1em;
  display: flex;
  align-items: center;
  border-top: 1px solid rgba(88, 109, 136, 0.7);

  .icon {
    flex: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-right: 1em;
    width: 5em;
    height: 6.8315em;
    font-size: 20px;
    color: #3697B6;
    // background: url('../../imgs/icon-tank-empty.png') no-repeat center;
    // background: url('http://data.jingan-china.cn/v2/chem/chemScreen/icon-tank-empty.png') no-repeat center;
    background-size: 100%;

    .iconName {
      padding: 0 5px;
      text-align: center;
      font-size: 0.9em;
    }
  }

  .iconWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
  }

  .infoWrapper {
    flex: 1;
    padding: 0.5em 1em;
    border: 1px dashed #0ff;
  }

  .lineWrapper {
    display: flex;
    justify-content: space-between;

    .line {
      flex: none;

      &:last-child {
        .label {
          color: #fff;
        }
      }
    }
  }

  .updateTime {
    color: #5B809A;
    font-size: 0.875em;
  }

  .paramsWrapper {
    &+.paramsWrapper {
      margin-top: 6px;
    }
  }
}

.bottom {
  padding-top: 0.5em;
  border-top: 1px solid rgba(88, 109, 136, 0.7);
  margin: 0 1em;

  .bottomTitle {
    display: flex;
    padding: 1em 0;

    .bottomTitleIcon {
      flex: none;
      margin-right: 0.625em;
      width: 1em;
      height: 1em;
      background-color: #0ff;
    }

    .bottomTitleLabel {
      flex: none;
      line-height: 1;
      color: #0ff;
      padding-left: 1em;
    }
  }

  .bottomContent {
    padding: 0 2em;
    text-indent: 2em;
    line-height: 2;
  }
}

@media screen and (max-width: 1599px) and (min-width: 1400px) {
  .middle {
    .icon {
      font-size: 18px;
    }
  }
}

@media screen and (max-width: 1399px) {
  .middle {
    .icon {
      font-size: 16px;
    }
  }
}
