.infiniteList {
  :global {
    .ant-row {
      display: flex;
      flex-wrap: wrap;

      .ant-col {
        // flex: none;
        display: flex;
        flex-direction: column;

        .ant-list-item {
          flex: 1;
          display: flex;
          flex-direction: column;

          .ant-card {
            flex: 1;
            display: flex;
            flex-direction: column;
            width: 100%;

            .ant-card-head {
              flex: none;
              .ant-card-head-title {
                white-space: normal;
              }
            }
            .ant-card-body {
              flex: 1;
            }
          }
        }
      }
    }
  }
}
.iconContainer {
  display: flex;
  flex-wrap: wrap;
  margin: -0.5em;

  .iconWrapper {
    flex: none;
    padding: 0.5em;

    .icon {
      display: inline-block;
      width: 32px;
      height: 32px;
      vertical-align: top;
      background: no-repeat center;
      background-size: contain;
      cursor: pointer;
    }
  }
}
