.datePicker,
.rangePicker {
  width: 100%;
}
.buttonContainer {
  margin-right: -8px;
  text-align: right;

  &:global(> .ant-btn) {
    margin-right: 8px;
  }
}
.signature {
  max-width: 100%;
  height: 64px;
}
