.cardList {
  margin-bottom: -24px;
  .card {
    :global {
      .ant-card-extra {
        display: none;
        margin-right: -12px;
        padding: 12px 0;
      }
      .ant-card-head-title {
        font-weight: bold;
      }
      .ant-card-body {
        padding: 21px 24px -11px;
      }
      p {
        margin-bottom: 12px;
      }
      .antd-pro\pages\-personnel-position\-buildings-info\-buildings-info-detailName {
        font-weight: bold;
        font-size: 18px;
      }
    }
    .ellipsisText {
      margin-bottom: 12px;
      height: 1.5em;
    }
  }
  :global {
    .ant-list .ant-list-item-content-single {
      max-width: 100%;
      &:hover {
        .ant-card {
          -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.09);
          box-shadow: 0 3px 8px rgba(0, 0, 0, 0.09);
          border-color: rgba(0, 0, 0, 0.09);
        }
        .ant-card-extra {
          display: block;
        }
      }
    }
  }
  .quantity {
    position: absolute;
    right: 25px;
    top: 16px;
    width: 64px;
    height: 64px;
    line-height: 64px;
    text-align: center;
    font-size: 20px;
    border-radius: 50%;
    // border: 1px solid;
    color: #737374;
    background: #f0f2f5;
  }
}

// 建筑物信息列表Css
.detailName {
  font-weight: bold;
  font-size: 18px;
}
.detailpic {
  position: absolute;
  right: 25px;
  top: 20px;
  width: 90px;
  height: 90px;
  line-height: 80px;
  text-align: center;
  font-size: 20px;
  color: #737374;
  background: #f0f2f5;
}
