.container {
  display: flex;
  justify-content: space-between;
  margin: 25px 0;
  border-bottom: 1px solid #00ffff;
}

.normal {
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: rgb(62, 130, 199);
  background-color: rgb(4, 56, 115);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  cursor: pointer;
  border-bottom: 1px solid #00ffff;
  margin-bottom: -1px;
}

.selected {
  color: #FFF;
  background-color: #033069;
  cursor: auto;
  border: 1px solid #00ffff;
  border-bottom:  1px solid #033069;
}

.alerted {
  color: #f83329;
}
