@grey: rgb(79, 103, 147);

.main {
  height: 96px;
}

.bottom {
  height: 100%;
}

.imgContainer {
  // padding: 10px 5px 15px;
  padding: 0 3px;
  // width: 118px;
  height: 100%;
  cursor: pointer;
}

.imgBase {
  width: 100%;
  height: 100%;
  background-color: rgba(9, 103, 211, 0.2);
  background-repeat: no-repeat;
  background-position: center center;

  border: 1px solid rgb(4, 253, 255);
}

.emptyImg:extend(.imgBase) {
  background-size: 50% auto;
}

.fireImg:extend(.imgBase) {
  background-size: contain;
}

.fireImg:visited {
  border: 1px solid rgba(0, 186, 255);
}

// .fireImg:active {
//   border: 1px solid rgba(0, 186, 255);
// }

.arrow {
  height: 100%;
  background: no-repeat center center;
}

// .arrowRight {
//   height: 100%;
//   background: no-repeat center center;
// }

.magnify {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(3, 36, 83, 0.8);
}

.center {
  width: 300px;
  height: 100%;
  padding: 20px 0 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  overflow: hidden;
  transform: translate(-50%, -50%);
}

.magImg {
  font-size: 120px;
  text-align: center;
  line-height: 400px;
  width: 300px;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.magLeft {
  height: 100%;
  background: no-repeat center center;
}
