.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card {
  position: relative;

  p {
    color: #fff;
    // margin-left: 10px;
    margin-bottom: 8px;
  }

  p:last-child {
    margin-bottom: 0;
  }

  p:first-child {
    color: #fff;
    font-size: 16px;

    .line {
      color: #fff;
      width: auto;
    }
  }

  .line {
    color: #8198B4;
    display: inline-block;
    width: 5.5em;
  }

  .last {
    .line;
    color: #0ff;
  }

  .title {
    font-size: 16px;
  }

  .extra {
    display: inline-block;
    margin-left: 8px;
  }

  .repeat {
    position: relative;
    border-top: 1px solid #04fdff;
    color: #04fdff;
    margin: 10px -10px 0;
    padding: 10px 10px 0;
    line-height: 26px;
    cursor: pointer;

    .arrow {
      position: absolute;
      right: 10px;
      top: 28px;
    }
  }
}

.flow {
  width: 464px;
  height: 133px;
  margin: 0 auto;
  background-size: 100% 100%;
}

.timeline {
  flex: 1;
  overflow: auto;
  margin-top: 40px;
  padding: 35px 0 0 5px;
  border-top: 1px solid rgb(2, 148, 170);

  :global {
    .ant-timeline-item-head {
      width: 11px;
      height: 11px;
      border-color: #0ff;
    }

    .ant-timeline-item-tail {
      border-color: #0ff;
    }
  }

  .spin {
    height: 100%;

    :global {
      .ant-spin-container {
        height: 100%;

        &:after {
          background-color: transparent;
        }
      }
    }
  }
}
