.card {
  position: relative;

  p {
    color: #FFF;
    margin-bottom: 8px;
  }
}

.flow {
  width: 464px;
  height: 133px;
  margin: 0 auto;
  background-size: 100% 100%;
}

.timeline {
  margin-top: 40px;
  padding: 35px 0 0 5px;
  border-top: 1px solid rgb(2, 148, 170);

  :global {
    .ant-timeline-item-head {
      width: 11px;
      height: 11px;
    }
    .ant-timeline-item-tail {
      border-color: rgba(0, 186, 255);
    }
  }
}
