@cyan: rgb(4, 253, 255);
@grey: rgb(79, 103, 147);

.labelContainer {
  text-align: center;
  margin-bottom: 8px;
}

.label {
  color: @cyan;
  padding: 4px 12px;
  line-height: 1;
  border: 1px solid @cyan;
  border-radius: 5px;
}

.greyLabel:extend(.label) {
  color: @grey;
  border-color: @grey;
}

.p {
  color: #FFF;
  text-align: center;
  margin-bottom: 0;
}

.outer {
  padding-left: 10px;
  position: relative;
  top: -4px;
}

.container {
  padding: 10px;
  border: 1px solid @cyan;
}
