.workApprovalHead {
  :global {
    .ant-tabs-bar {
      margin-bottom: 0;
    }
  }
}

.emptyContainer {
  height: 100px;
  line-height: 100px;
  text-align: center;
  color: rgba(0, 0, 0, 0.45);
}
