.container {
  height: calc(100% - 58px);
}
.selectIcon {
  position: absolute;
  top: 15px;
  right: 20px;
  cursor: pointer;

  :global {
    .ant-select {
      font-size: 12px;
      color: #fff;
    }
    .ant-select-arrow {
      color: #fff;
    }
    .ant-select-selection {
      background-color: rgb(9, 103, 211);
      border: none;
      border-radius: 20px;
    }
    .ant-select-selection__rendered {
      margin-left: 25px;
    }
    .anticon {
      padding-right: 8px;
    }
    .ant-select-dropdown-menu {
      color: #fff !important;
      background-color: rgb(2, 45, 91) !important;
    }
  }
}

.timeSection {
  display: flex;
  align-items: center;
  margin-left: 5px;
}

.timeIcon {
  width: 23px;
  height: 23px;
  background-size: cover;
  background-repeat: no-repeat;
}

.day {
  margin-left: 2%;
}

.min {
  margin-left: 2%;
}

.oneCards {
  height: 38%;
}

.twoCards {
  height: 38%;
}
