.content {
  height: 100%;

  :global {
    .ant-select-selection {
      background-color: rgba(9, 103, 211, 0.2);
      border: none;
    }
    .ant-select-arrow {
      color: #fff;
    }
  }
}

.cardContainer {
  height: calc(100% - 12px);
  overflow: auto;

  div:last-child {
    margin-bottom: 0;
  }
}

.noCards {
  position: relative;
  width: 100%;
  height: calc(100% - 106px);
  padding: 0;
  overflow: hidden;
}
