.content {
  :global {
    .ant-select-selection {
      background-color: rgba(9, 103, 211, 0.2);
      border: none;
    }
    .ant-select-arrow {
      color: #fff;
    }
  }

  .cardContainer {
    height: auto;
  }
}

.noCards {
  position: relative;
  width: 100%;
  height: calc(100% - 106px);
  padding: 0;
  overflow: hidden;
}
