.content {
  :global {
    .ant-select-selection {
      background-color: rgba(9, 103, 211, 0.2);
      border: none;
    }
    .ant-select-arrow {
      color: #fff;
    }
  }

  .cardContainer {
    height: auto;
  }
}
