@mb: 14px;
:global {
  .ant-form-item {
    margin-bottom: @mb;
  }
}
.cardContainer {
  .firstLine {
    display: flex;
    .title {
      flex: 1;
      font-size: 18px;
      font-weight: 600;
      word-break: break-all;
      padding-right: 10px;
    }
  }
  .tags {
    margin-top: @mb;
  }
  .introduction {
    margin-top: @mb;
    font-size: 15px;
  }
  .statistics {
    margin-top: @mb;
    color: rgba(0, 0, 0, 0.45);
    .icon {
      margin-right: 8px;
    }
  }
}
.grey {
  color: rgba(0, 0, 0, 0.45);
}

// 查看详情
.detailFirst {
  .detailTitle {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
  }
}

.detailSecond {
  text-align: right;
  margin-top: 15px;
}

.detailMain {
  margin-top: 20px;
}

.resource {
  text-align: center;
}

.contentDetail {
  text-indent: 25px;
  margin-top: 10px;
}
