/**
 * SpecialEquipmentCard
 */
.personLabelWrapper {
  width: 4em;
  letter-spacing: 0.5em;
}

.status {
  position: absolute;
  top: 0;
  right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.75em;
  width: 1.75em;
  text-align: center;
  line-height: 1;
  word-break: break-all;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  z-index: 9;
}

.link {
  position: absolute;
  bottom: 16px;
  right: 16px;
  z-index: 9;
  cursor: pointer;
  color: #0c80ff;
  padding: 0.25em 0;
}
