.titleContainer {
  display: flex;
  align-items: center;

  img {
    flex: none;
    margin: -0.5em 0.75em -0.5em 0;
    width: 2em;
    height: 2em;
  }

  span {
    flex: none;
  }
}
.container {
  padding: 0 1em;

  .subTitle {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
  }
  .subContent {
    margin-bottom: 1em;
    padding: 0.75em 1em;
    border: 1px solid #1c5d90;

    .item {
      padding: 0.25em 0;

      .itemName {
        color: #8198b4;
      }
    }

    &:last-child {
      margin-bottom: 1px;
    }

    &.textArea {
      padding: 1em;
      white-space: pre-wrap;
    }
  }
}
.empty {
  display: inline;
  color: #8198b4 !important;
}
.spin {
  height: calc(~'100% - 3.5em') !important;
}
.radioGroup {
  margin: 0 1em 1em;
  height: 2.5em;
  border-radius: 0;
  overflow: hidden;

  & > div {
    margin-bottom: 0;
    height: 100%;
    border-radius: 0;

    & > div {
      height: 100% !important;
      font-size: inherit !important;
      line-height: 2.5em !important;
    }
  }

  :global {
    .ant-radio-group {
      font-size: inherit;
      border-radius: 0;
    }

    .ant-radio-button-wrapper {
      flex: 1;
      height: 2.5em;
      // color: #fff;
      background: #033069;
      text-align: center;
      padding: 0;
      font-size: inherit;
      border: 1px solid #196092;
      color: #8198b4;
      line-height: calc(~'2.5em - 2px');

      & + .ant-radio-button-wrapper {
        margin-left: 0;
        font-size: inherit;
      }
    }

    .ant-radio-button-wrapper-checked {
      box-shadow: -1px 0 0 0 #0284c7;
    }

    .ant-radio-group-solid
      .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
      font-size: inherit;
      // color: #0284c7;
      // background: #033069;
      border: 1px solid #0284c7;
      height: 2.5em;
      color: #fff;
      background: #0967d3;
    }

    .ant-radio-button-wrapper:not(:first-child)::before {
      width: 0;
      height: 0;
    }
  }
}
