/* 风险点模块 */
.container {
  // margin: 0 auto;
  padding: 1em 10%;
  // max-width: 380px;
  height: 100%;
  line-height: 1;
}
.top {
  position: relative;
  height: 50%;
}
.splitLineWrapper {
  height: 8%;
  .splitLine {
    position: absolute;
    top: 54%;
    left: 0;
    right: 0;
    height: 2px;
    background: no-repeat center;
    background-size: 100% 100%;
  }
}
.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 42%;

  & > div {
    flex: none;
    padding-left: 4.25em;
    line-height: 1.75em;
    background: no-repeat left;
    background-size: 3em 3em;

    .countLabel {
      line-height: 1.25em;
    }
    .countValue {
      font-size: 1.5em;
      color: #00ffff;
    }
  }
  /* 可点击元素 */
  & > .hoverable {
    cursor: pointer;

    &:hover {
      .countValue {
        color: #fff;
      }
    }
  }
}
