/* 风险点模块 */
.container {
  // margin: 0 auto;
  padding: 1em 0;
  // max-width: 380px;
  height: 100%;
  line-height: 1;
}
.top {
  position: relative;
  margin: 0 10%;
  height: 50%;
}
.splitLineWrapper {
  height: 8%;
  .splitLine {
    position: absolute;
    top: 54%;
    left: 0;
    right: 0;
    height: 2px;
    background: no-repeat center;
    background-size: 100% 100%;
  }
}
.bottom {
  display: flex;
  align-items: center;
  height: 42%;

  .bottomItem {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    .bottomItemContent {
      flex: none;

      &.enableClick {
        cursor: pointer;

        &:hover {
          .bottomItemContentTop {
            color: #fff;
          }
        }
      }

      .bottomItemContentTop {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0.75em;
        width: 4em;
        height: 4em;
        font-size: 1.5em;
        color: #0ff;
        border: 2px solid #0ff;
        border-radius: 50%;
      }
      .bottomItemContentBottom {
        line-height: 1;
        text-align: center;
      }
    }
  }
  .verticalSplitLine {
    flex: none;
    width: 2px;
    height: 100%;
    background: no-repeat center;
    background-size: 100% 100%;
  }
  // /* 可点击元素 */
  // & > .hoverable {
  //   cursor: pointer;

  //   &:hover {
  //     .countValue {
  //       color: #fff;
  //     }
  //   }
  // }
}
