.container {
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border: 1px solid #0ff;
  color: #fff;
  line-height: 26px;
  overflow: hidden;

  .field {
    position: relative;

    .label {
      display: inline-block;
      color: #0ff;
    }
  }

  & + .container {
    margin-top: 15px;
  }
}

.icon {
  flex: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-right: 1em;
  width: 5em;
  height: 6.8315em;
  font-size: 16px;
  color: #3697b6;
  // background: url('../imgs/icon-tank-empty.png') no-repeat center;
  // background: url('http://data.jingan-china.cn/v2/chem/chemScreen/icon-tank-empty.png') no-repeat center;
  background-size: 100%;
}

.iconName {
  padding: 0 5px;
  text-align: center;
}

.infoWrapper {
  flex: 1;
}
