.container {
  position: relative;
  padding: 10px 15px;
  border: 1px solid #0ff;
  color: #fff;
  line-height: 26px;

  .field {
    position: relative;

    .label {
      color: #0ff;
    }
  }

  &+.container {
    margin-top: 15px;
  }
}
