.container {
  position: relative;
  color: #fff;

  .wrapper {
    padding-top: 15px;

    &:first-child {
      border-top: 1px solid #1c5d90;
    }

    .wrapperTitle {
      padding-left: 10px;
      border-left: 4px solid #0ff;
      line-height: 18px;
      margin-bottom: 15px;
    }
  }
}
