.container {
  width: 100%;
  height: 260px;
  position: relative;

  .tips {
    position: absolute;
    text-align: center;
    color: #54759F;
    line-height: 14px;
    width: 100%;
    bottom: -6px;
  }

  .overVal {
    color: #F83329;

    .icon {
      margin-right: 6px;
    }
  }
}
