@cyan: #0FF;

.container {
  margin-bottom: 10px;
}

.status {
  color: #FFF;
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.name {
  color: @cyan;
}

.time {
  font-size: 12px;
  color: #5B809A;
  margin: 0;
}
