.container {
  position: relative;
  padding: 10px 15px;
  border: 1px solid #0ff;
  color: #fff;
  line-height: 26px;
  cursor: pointer;

  .title {
    font-size: 18px;
  }

  .label {
    color: #0ff;
  }

  .icon {
    position: absolute;
    right: 15px;
    top: 10px;
    width: 32px;
    height: 32px;
  }

  &+.container {
    margin-top: 15px;
  }
}
