.container {
  padding: 10px 4px;
  border: 1px solid #1c5d90;
  font-size: 14px;

  & + .container {
    margin-top: 15px;
  }
}

.head {
  position: relative;
  padding: 0 10px;
}

.label {
  color: #8198b4;
}

.p {
  margin: 0;
}

.camera {
  width: 1.6em;
  height: 1.6em;
  display: inline-block;
  cursor: pointer;
  margin-left: 18px;
  position: relative;
  top: 5px;
  background-size: 100% 100%;
  background-image: url(../imgs/icon-video-new.png);
}

.icons {
  position: absolute;
  top: -3px;
  right: 10px;
}

.icon {
  width: 22px;
  height: 26px;
  display: inline-block;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center center;
}

.sheet:extend(.icon) {
  margin-right: 10px;
  background-size: 19px 25px;
  background-image: url(../imgs/icon-work-order.png);
}

.trend:extend(.icon) {
  background-size: 22px 21px;
  background-image: url(../imgs/icon-trend.png);
}

.alarm {
  width: 21px;
  height: 21px;
  display: inline-block;
  margin-left: 20px;
  background-repeat: no-repeat;
  background-image: url(../../../../assets/icon-alarm.png);
  background-size: 100% 100%;
}

.detail {
  color: #1890ff;
  position: absolute;
  bottom: 0;
  right: 10px;
  cursor: pointer;
}

.body {
  margin-top: 8px;
  padding: 10px;
  border-top: 1px solid #1c5d90;
}

.h4 {
  color: #fff;
}

.bodyInner {
  display: flex;
  min-height: 150px;
}

.imgContainer {
  width: 35%;
  padding: 15px;
}

.img {
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.info {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.iconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 70%;
  height: 100%;
  margin: 0 auto;

  .tankName {
    padding: 0 5px;
    color: #3697b6;
    text-align: center;
  }
}
