.container {
  position: relative;

  .basic {
    line-height: 28px;
    padding-bottom: 10px;

    .name {
      font-size: 16px;
    }

    .label {
      color: #8198b4;
    }

    div {
      position: relative;
    }

    .extra {
      position: absolute;
      right: 0;
      color: #1475ed;
      cursor: pointer;
      bottom: 0;
    }
  }

  .wrapper {
    padding-top: 15px;

    &:first-child {
      border-top: 1px solid #1c5d90;
    }

    .wrapperTitle {
      padding-left: 10px;
      border-left: 4px solid #0ff;
      line-height: 18px;
      margin-bottom: 15px;
    }
  }
}

.detail {
  position: absolute;
  bottom: 10px;
  right: 15px;
  color: #1475ed;
  cursor: pointer;
}
