.outerCard {
  :global {
    .ant-card-body .ant-card-type-inner .ant-card-head {
      background: #fff;
    }
  }

  margin-bottom: 30px;
}

.notAllowed {
  color: rgba(0, 0, 0, 0.25);

}

.notAllowd:hover {
  color: rgba(0, 0, 0, 0.25);
  cursor: not-allowed;
}

.tableAStyle {
  margin-right: 10px;
}

.tableAStyleNotAllowed {
  &:extend(.notAllowed);
  margin-right: 10px;
}
