.title {
  height: 20px;
  font-size: 20px;
  line-height: 20px;
  color: #FFF;
  margin: 15px 0;
  padding: 0;
  position: relative;
  padding-left: 35px;
}

.dot {
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  left: 0;
  top: 2px;
  background: rgb(9, 103, 211);
}
