.root {
  height: 100%;
  padding-bottom: 2px;
}

.empty {
  height: 2%;
}

.overview {
  height: 49%;
  // background: pink;
}

.gutter1 {
  height: 2%;
}

.alarmInfo {
  height: 49%;
  // background: orange;
}

.map {
  height: 65%;
  // background: #0FF;
}

.gutter2 {
  height: 2%;
}

.center {
  height: 33%;
  // background: #F0F;
}

.centerLeft {
  height: 100%;
  padding-right: 8px;
}

.centerRight {
  height: 100%;
  padding-left: 8px;
}

.inspect {
  height: 49%;
  // background: gold;
}

.gutter3 {
  height: 2%;
}

.system {
  height: 49%;
  // background: silver;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: rgb(9, 103, 211);
}

::-webkit-scrollbar-track {
  border-radius: 4px;
  background: rgba(2, 28, 64, 1);
}
