.container {
  height: 10%;
  position: relative;
  overflow: hidden;
  background-image: url(http://data.jingan-china.cn/v2/big-platform/fire-control/gov/title.png);
  background-size: 80% 100%;
  background-position: 46% center;
  background-repeat: no-repeat;
}

.h {
  color: #FFF;
  font-size: 48px;
  text-align: center;
  margin: 10px 0 0;
}

.time {
  color: #FFF;
  font-size: 18px;
  margin: 0;
  position: absolute;
  right: 100px;
  bottom: 5px;
}

.date {
  margin-right: 15px;
}

.day {
  margin-right: 15px;
}

@color: rgb(255, 255, 255);

.treeContainer {
  position: absolute;
  width: 92%;
  left: 8%;
  bottom: 10%;
  color: @color;

  :global {
    .ant-select {
      color: @color;
    }

    .ant-select-arrow {
      color: @color;
    }

    .ant-select-selection {
      border: none;
      background-color: transparent;
    }
  }
}

.dropdown {
  color: @color;
  background-color: rgba(1, 29, 67, 0.9);
  box-shadow: 0 0 10px rgba(9, 103, 211, 0.9);

  :global {
    .ant-select-tree {
      color: @color;

      li .ant-select-tree-node-content-wrapper {
        color: @color;
      }

      li .ant-select-tree-node-content-wrapper:hover {
        background-color: rgba(4, 73, 140, 0.5);
      }

      li .ant-select-tree-node-content-wrapper.ant-select-tree-node-selected {
        background-color: rgb(4, 73, 140);
      }
    }
  }
}
