.container {
  height: 10%;
  position: relative;
}

.h {
  color: #FFF;
  font-size: 54px;
  text-align: center;
  margin: 0;
}

.time {
  color: #FFF;
  font-size: 18px;
  margin: 0;
  position: absolute;
  right: 100px;
  bottom: 5px;
}

.date {
  margin-right: 15px;
}

.day {
  margin-right: 15px;
}
