.container {
  height: 10%;
  position: relative;
  overflow: hidden;
  background-image: url(http://data.jingan-china.cn/v2/big-platform/fire-control/gov/title.png);
  background-size: 80% 100%;
  background-position: 46% center;
  background-repeat: no-repeat;
}

.h {
  color: #FFF;
  font-size: 48px;
  text-align: center;
  margin: 10px 0 0;
}

.time {
  color: #FFF;
  font-size: 18px;
  margin: 0;
  position: absolute;
  right: 100px;
  bottom: 5px;
}

.date {
  margin-right: 15px;
}

.day {
  margin-right: 15px;
}
