.main {
  position: relative;
  height: 100%;

  .top {
    height: 30%;
    position: relative;
    border-bottom: 2px solid #053d83;
    .left {
      width: 95px;
      height: 95px;
      margin-left: 48px;
      margin-top: 18px;
    }

    .circlrLookUp {
      float: left;
      width: 82px;
      height: 82px;
      position: absolute;
      left: 55px;
      top: 25px;
      font-size: 22px;
      color: #fff;
      padding-left: 15px;
    }
    .right {
      position: absolute;
      left: 10%;
      top: 55px;

      .countDown {
        color: #00a8ff;
        font-size: 16px;
        float: left;
      }
      .flask {
        background-color: #00a8ff;
        float: left;
      }
    }
  }

  .bottom {
    margin-top: 8%;
    margin-left: 5%;
    height: 50%;

    .responsetime {
      margin-top: 2%;
    }
  }
}

// 在岗率
.jobRateWrite {
  height: 25%;
  float: left;
  padding-left: 10px;
  padding-top: 30px;
  color: #fff;
  font-size: 16px;
}

.jobNum {
  height: 25%;
  float: left;
  color: #008dd8;
  font-size: 16px;
  .onJob {
    margin-top: 10px;
    .onJobIcon {
      display: inline-block;
      width: 16px;
      height: 16px;
      margin-right: 5px;
      position: relative;
      top: 2px;
      background-repeat: no-repeat;
    }
    .personnum {
      color: #fff;
      margin-left: 25px;
    }
  }

  .leaveJob {
    margin-top: 10px;
    .leavelJobIcon {
      display: inline-block;
      width: 16px;
      height: 16px;
      margin-right: 5px;
      position: relative;
      top: 2px;
      background-repeat: no-repeat;
    }
    .personnum {
      color: #fff;
      margin-left: 25px;
    }
  }
}

// 应答时间
.timeWrite {
  height: 25%;
  float: left;
  padding-left: 10px;
  padding-top: 25px;
  color: #fff;
  font-size: 16px;
}
.timeIcon {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 12px;
  background-repeat: no-repeat;
}
.timeNum {
  height: 25%;
  float: left;
  color: #008dd8;
  font-size: 16px;
  .rabbit {
    margin-top: 10px;
    .rabbitIcon {
      display: inline-block;
      width: 16px;
      height: 16px;
      margin-right: 5px;
      position: relative;
      top: 2px;
      background-repeat: no-repeat;
    }
    .minutes {
      color: #fff;
      margin-left: 25px;
    }
  }
  .snail {
    margin-top: 10px;
    .snailIcon {
      display: inline-block;
      width: 16px;
      height: 16px;
      margin-right: 5px;
      position: relative;
      top: 1px;
      background-repeat: no-repeat;
    }
    .minutes {
      color: #fff;
      margin-left: 25px;
    }
  }
}
