.card {
  border-radius: 5%;
  background: rgba(0, 168, 255, 0.15);
  overflow: hidden;
}

.titleContainer {
  border-radius: 10% 10% 0 0;
  display: flex;
  height: 25%;
  align-items:center;
  justify-content: center;
  background: rgba(0, 168, 255, 0.3);
}

.title {
  margin: 0;
  color: rgb(0, 168, 255);
  text-align: center;
}

.numContainer {
  display: flex;
  height: 75%;
  align-items:center;
  justify-content: center;
}

.num {
  font-size: 24px;
  margin: 0;
  color: #FFF;
  text-align: center;
}
