.divider {
  :global {
    .ant-divider.ant-divider-horizontal.ant-divider-with-text::before {
      border-top: 1px solid rgb(0, 168, 255);
    }
    .ant-divider.ant-divider-horizontal.ant-divider-with-text::after {
      border-top: 1px solid rgb(0, 168, 255);
    }
  }
}

.title {
  margin: 0;
  font-size: 24px;
  color: rgb(0, 168, 255);
  font-weight: bold;
}

.unit {
  padding-left: 30px;
}
