.left {
    padding-left: 10px;
}

.unit {
    position: 'relative';
    color: rgb(0, 168, 255);
}

.percent {
    font-size: 20px;
    position: 'absoulte';
    color: #FFF;
}

.unitNumber {
    color: rgb(54, 129, 199);
}

.right {
    padding-left: 50px;
}

.host {
    color: rgb(0, 168, 255);
}

.hostNumber {
    font-size: 20px;
    color: #FFF;
}