.left {
    padding-left: 10px;
    position: relative;
}

.unit {
    font-size: 20px;
    margin: 0 0 20px;
    position: relative;
    color: rgb(0, 168, 255);
}

.percent {
    font-size: 26px;
    position: absolute;
    color: #FFF;
    right: 10%;
    top: -4px;
}

.unitNumber {
    font-size: 16px;
    margin: 15px 0 0;
    color: rgb(54, 129, 199);
}

.right {
    padding-left: 100px;
    position: relative;
}

.hostIcon {
  width: 64px;
  height: 104px;
  position: absolute;
  top: 0;
  left: 20px;
}

.host {
    font-size: 20px;
    margin: 5px 0 15px;
    color: rgb(0, 168, 255);
}

.hostNumber {
    font-size: 26px;
    margin: 0;
    color: #FFF;
}

.table {
  height: 60%;
  margin-top: 25px;
  border-top: 2px solid rgb(54, 129, 199);
  padding-right: 5px;
}

.tableTitle {
  margin: 0;
  padding: 10px 0;
  color: rgb(54, 129, 199);
  text-align: center;
}

.unitCard {
  margin: 0;
  padding: 7px 0;
  color: rgb(164, 166, 172);
  text-align: center;
}
