.sectionMain {
  position: relative;
  height: 100%;

  .sectionTop {
    height: 30%;
    position: relative;
    border-bottom: 2px solid #053d83;

    .circlrLookUp {
      float: left;
      position: absolute;
      left: 12%;
      top: 40px;
      font-size: 24px;
      color: #fff;
    }
    .lookUpTime {
      float: left;
      position: absolute;
      left: 40%;
      top: 35px;
    }
  }

  .sectionBottom {
    padding-top: 10%;
    padding-left: 12%;
    height: 70%;
    .jobRate {
      height: 42%;
    }

    .time {
      height: 42%;
    }
  }
}

.lastlookUpTime {
  color: #00a8ff;
  font-size: 16px;
}

.DayTime {
  float: left;

  .day {
    float: left;
    font-size: 16px;
    color: #fff;
  }

  .time {
    padding-left: 5px;
    font-size: 16px;
    float: left;
    color: #fff;
  }
}

.jobRateWrite {
  height: 42%;
  float: left;
  padding-left: 10px;
  padding-top: 10px;
  color: #fff;
  font-size: 14px;
}
.pie {
  height: 42%;
  float: left;
}
.jobNum {
  height: 42%;
  float: left;
  color: #008dd8;
  font-size: 14px;
}

.timeWrite {
  height: 42%;
  float: left;
  padding-left: 10px;
  padding-top: 10px;
  color: #fff;
  font-size: 14px;
}
.timeIcon {
  width: 48px;
  height: 48px;
  position: absolute;
  left: 10px;
}
.timeNum {
  height: 42%;
  float: left;
  color: #008dd8;
  font-size: 14px;
}
