.fixedContent {
  display: flex;
  padding: 0 1em 1em;

  &>:first-child {
    flex: 3;
  }
  &>:nth-child(2) {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
.container {
  padding: 0 1em;
}
.scroll {
  height: calc(~'100% - 3.5em') !important;
}
.card {
  &:not(:last-of-type) {
    margin-bottom: 1em;
  }
  &:last-of-type {
    margin-bottom: 1px;
  }
}
.loadMore {
  padding-top: 1em;
}
