.container {
  width: 355px;
  color: #FFF;
  padding:20px 50px 70px 40px;
  position: absolute;
  top: 20px;
  right: 20px;
  background-image: url(../imgs/alarmCard.png);
  background-size: 100% 100%;
  z-index: 999;

  p {
    margin-bottom: 10px;
  }
}

.title {
  color: #FFF;
  font-size: 16px;
  position: relative;
}

.info {
  width: 20px;
  height: 20px;
  position: absolute;
  background-image: url(../imgs/alarmInfo.png);
  background-size: 100% 100%;
  top: 2px;
  left: -25px;
}
