.card {
    padding: 10px;
}

.inner {
    position: relative;
    overflow: hidden;
}

.check {
    position: absolute;
    left: 20px;
    top: 20px;
    background-color: #FFF;
    border: 1px solid #FFF;
}

.flag {
    position: absolute;
    top: 0;
    right: 0;
}

.type {
    color: #0FF;
    width: 100px;
    position: absolute;
    right: 20px;
    bottom: 30px;
    text-align: center;
    border: 1px solid #0FF;
    border-radius: 5px;
}

.handle {
    width: 100%;
}