.container {
  display: flex;
  padding: 0 90px 0 30px;
  width: 100%;
  position: absolute;
  top: 15px;
  left: 0;
  justify-content: space-between;
}

.total {
  margin-right: 30px;
}

.alarm, .sos {
  margin-right: 20px;
}

.alarmRed, .sosRed {
  color: #F00;
  margin-right: 20px;
  cursor: pointer;
}

.lowPower, .first {
  color: #F00;
  cursor: pointer;
}

.more {
  color: #0FF;
  position: absolute;
  right: 40px;
  top: 0;
  cursor: pointer;
}
