.container {
  color: #FFF;
  // padding:10px 50px 15px 170px;
  padding:10px 50px 70px 170px;
  position: absolute;
  top: 20px;
  right: 20px;
  background-size: 100% 100%;

  p {
    margin-bottom: 10px;
  }
}

.name {
  color: #FFF;
  font-size: 18px;
  font-weight: normal;
  margin-top: 10px;
}

.sos {
  display: inline-block;
  width: 28px;
  height: 22px;
  background-size: 100% 100%;
  margin-left: 20px;
  position: relative;
  top: 5px;
}

.img {
  width: 120px;
  height: 150px;
  position: absolute;
  left: 20px;
  top: 20px;
  background-size: 100% 100%;
}
