.container {
  color: #FFF;
  width: 400px;
  padding: 10px 10px 25px 0;
  position: absolute;
  top: 20px;
  right: 20px;
  background-image: url(../imgs/personCard.png);
  background-size: 100% 100%;
  z-index: 999;
}

.close {
  color: #FFF;
  font-size: 16;
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
}

.info {
  padding: 0 0 10px 170px;

  p {
    margin-bottom: 10px;
  }
}

.name {
  color: #FFF;
  font-size: 18px;
  font-weight: normal;
  margin-top: 10px;
}

.offline {
  color: #0FF;
  font-size: 16px;
  margin-left: 5px;
}

.online:extend(.offline) {
  color: #0FF;
}

.alarm:extend(.offline) {
  color: #FF0019;
}

.sos {
  display: inline-block;
  width: 28px;
  height: 22px;
  margin-left: 20px;
  position: relative;
  top: 5px;
  background-image: url(../imgs/sos.png);
  background-size: 100% 100%;
}

.avatar {
  width: 120px;
  height: 150px;
  position: absolute;
  left: 20px;
  top: 20px;
  background-image: url(../imgs/defaultPhoto.png);
  background-size: 100% 100%;
}

.avatarOff:extend(.avatar) {
  background-image: url(../imgs/defaultPhotoGrey.png);
}

.visitorAvatar:extend(.avatar) {
  background-image: url(../imgs/visitorAvatar.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.visitorAvatarOff:extend(.visitorAvatar) {
  background-image: url(../imgs/visitorAvatarOff.png);
}

.btns {
  display: flex;
  padding-left: 50px;
  justify-content: space-around;
}

.btn {
  color: rgb(4, 253, 255);
  border-color: rgb(4, 253, 255);
}

.btn[disabled] {
  color: #ccc;
}

.btn[disabled]:hover {
  color: rgba(204, 204, 204, 0.8);
  border-color: rgba(204, 204, 204, 0.8);
}
