.container {
  // width: 520px;
  width: 93.5%; // 四标签长度
  // width: 70%; // 三标签长度
  height: 35px;
  position: relative;
  // left: 5px;
  // top: 4px;
}

.tab {
  // width: 145px; // 三标签
  width: 27.8%; // 四标签
  height: 35px;
  line-height: 35px;
  text-align: center;
  background-image: url(../imgs/trapezoid.png);
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  cursor: pointer;
}

.selected:extend(.tab) {
  color: #0FF;
  background-image: url(../imgs/trapezoidSelected.png);
  cursor: auto;
}
