.container {
  height: 110px;
  color: #FFF;
  padding: 20px 0 0 60px;
  position: relative;
}

.row {
  margin-bottom: 6px;
}

.title {
  color: #FFF;
}

.label {
  color: #0FF;
  margin-right: 10px;
}

.camera {
  margin-left: 10%;
  display: inline-block;
  width: 21px;
  height: 15px;
  background-image: url('@/pages/BigPlatform/ChemicalV2/imgs/camera.png');
  background-size: 100% 100%;
  cursor: pointer;
  position: relative;
  top: 2px;
}

.rect {
  width: 20px;
  height: 20px;
  position: absolute;
  background-color: #0FF;
  left: 20px;
  top: 24px;
}

.more {
  color: #1475ed;
  margin-left: 10%;
  cursor: pointer;
}
