.header {
  :global {
    .ant-tabs-bar {
      margin: 0;
      border-bottom-color: transparent !important;

      .ant-tabs-ink-bar {
        transition-duration: 0s;
      }
    }
  }

}
.card {
  &:not(:last-child) {
    margin-bottom: 1.5em;
  }
}
.radioWrapper {
  padding-bottom: 1.5em;
  text-align: right;
}
.dateTypeLabel {
  display: inline-block;
  width: 4em;
  white-space: nowrap;
}
.treeSelectDropDown {
  max-width: 512px !important;
  max-height: 50vh !important;
}
