.selectMap {
  border: 1px dashed #a79999;
  border-radius: 10px;
  width: 170px;
  height: 170px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.selectMapWithUrl {
  border: 1px solid #d8d4d4;
  border-radius: 10px;
  width: 170px;
  height: 170px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
  }
}

.imgItem {
  width: 100%;
  height: 500px;
  text-align: center;
  overflow-y: auto;

  .img {
    width: 100%;
    height: 200px;
  }
}

.emptyContent {
  padding: 50px;
  text-align: center;
}
