.rangePicker {
  margin: 0 0 3% 6%;

  :global {
    .ant-input {
      background-color: transparent;
      border: 1px solid rgb(4, 253, 255);
      color: #fff;
    }

    .ant-calendar-range-picker-separator {
      color: rgb(245, 246, 249);
    }

    .ant-calendar-picker-icon {
      color: rgba(255, 255, 255, 0.25);
    }

    .ant-calendar {
      border: 1px solid #04fdff;
      background-color: #033069;
    }
  }
}
