.rangePicker {
  margin: 0 0 3% 6%;

  :global {
    .ant-input {
      background-color: transparent;
      border: 1px solid rgb(4, 253, 255);
      color: #fff;
    }

    .ant-calendar-range-picker-separator {
      color: rgb(245, 246, 249);
    }

    .ant-calendar-picker-icon {
      color: rgba(255, 255, 255, 0.25);
    }

    .ant-calendar {
      border: 1px solid rgb(4, 253, 255);
      background-color: #033069;
    }

    .ant-calendar-input-wrap {
      border-bottom: 1px solid rgb(4, 253, 255);
    }

    .ant-calendar-input {
      background-color: #033069;
      color: #fff;
    }

    .ant-calendar-range-middle {
      color: #fff;
    }

    .ant-calendar-prev-year-btn {
      color: #fff;
    }

    .ant-calendar-prev-month-btn {
      color: #fff;
    }

    .ant-calendar-year-select {
      color: #fff;
    }

    .ant-calendar-month-select {
      color: #fff;
    }

    .ant-calendar-year-select {
      color: #fff;
    }

    .ant-calendar-month-select {
      color: #fff;
    }

    .ant-calendar-next-month-btn {
      color: #fff;
    }

    .ant-calendar-next-year-btn {
      color: #fff;
    }

    .ant-calendar-body {
      border-top: none;
    }

    .ant-calendar-table {
      color: #fff;
    }

    .ant-calendar-footer {
      border-top: 1px solid rgb(4, 253, 255);
    }

    .ant-calendar-time .ant-calendar-footer .ant-calendar-time-picker-btn-disabled {
      color: rgba(255, 255, 255, 0.25);
    }

    .ant-calendar .ant-calendar-ok-btn-disabled {
      color: #fff;
      background-color: rgb(3, 48, 105);
      border: 1px solid rgb(4, 253, 255);
    }

    .ant-calendar-picker-clear {
      background: #1890ff;
    }

    .ant-calendar-last-month-cell .ant-calendar-date,
    .ant-calendar-next-month-btn-day .ant-calendar-date {
      color: rgba(255, 255, 255, 0.25);
    }

    .ant-calendar-date {
      color: #fff;
    }

    .ant-calendar-range .ant-calendar-in-range-cell:before {
      background: #041b38;
    }

    .ant-calendar-time .ant-calendar-day-select {
      color: #fff;
    }

    // 日期
    .ant-calendar-time-picker-btn .ant-calendar-time-picker-btn-disabled {
      color: rgb(3, 48, 105);
      cursor: default;
    }

    .ant-calendar-range.ant-calendar-time .ant-calendar-footer .ant-calendar-time-picker-btn {
      color: rgb(3, 48, 105);
      cursor: default;
    }

    .ant-calendar-ok-btn {
      width: 75px;
    }

    .ant-calendar-time-picker {
      background-color: #033069;
    }

    .ant-calendar-range-left .ant-calendar-time-picker-inner {
      border-right: none;
    }

    li.ant-calendar-time-picker-select-option-selected {
      background: #021f44
    }

    .ant-calendar-range.ant-calendar-time .ant-calendar-time-picker-combobox {
      background-color: #033069;
      border-top: 1px solid #04fdff;
      border-bottom: 1px solid #04fdff;
      color: #fff;
    }

  }
}
