@width: 150px;

.empty {
  width: 100%;
  height: @width;
  background-size: @width @width;
  background-position: center;
  background-repeat: no-repeat;
}

.info {
  color: #FFF;
  padding-left: 15px;
  border-bottom: 1px solid rgb(9, 103, 211);

  p {
    margin-bottom: 8px;
  }
}

.name {
  font-size: 16px;
}

.location,
.person {
  display: inline-block;
  height: 18px;
  background-size: 100% 100%;
  position: relative;
  top: 3px;
  margin-right: 5px;
}

.location {
  width: 16px;
}

.person {
  width: 18px;
}

.chartContainer {
  padding: 20px 0 0 15px;
}

.chartTitle {
  height: 18px;
  display: flex;
  color: #FFF;
  font-size: 16px;
  line-height: 18px;
  border-left: 2px solid #04fdff;
  padding-left: 10px;
}

.select {
  height: 32px;
  position: relative;
  align-self: flex-start;
  flex-grow: 1;
  top: -10px;
}

.camera {
  width: 36px;
  height: 36px;
  background-size: 100% 100%;
  align-self: flex-start;
  position: relative;
  top: -2px;
  cursor: pointer;
  flex-grow: 0;
}

.section {
  padding-left: 10px;
}

.secTitle {
  color: #FFF;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 0;
}

.secTitle1:extend(.secTitle) {
  margin-bottom: 8px;
}

.gauges {
  color: #FFF;
  display: flex;
  flex-wrap: wrap;
}

.devScroll {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 410px;
  margin-top: 15px;

  .deviceWrapper {
    width: 100%;
    display: flex;
    border: 1px solid #04fdff;
    height: 120px;
    color: #fff;
    padding: 10px;
    padding-left: 0;
    margin-bottom: 15px;

    .deviceImg {
      width: 80px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 70%;
        height: auto;
      }
    }

    .infoWrapper {
      flex: 1;
      justify-content: space-around;
      display: flex;
      flex-direction: column;

      .position {
        width: 100%;
      }

      .infos {}

      .extraWrapper {
        display: flex;
        margin-top: 5px;
        justify-content: space-between;
        align-items: center;

        .camraImg {
          width: 32px;
          height: 32px;
          background-size: 100% 100%;
          align-self: flex-start;
          position: relative;
          top: -2px;
          cursor: pointer;
          flex-grow: 0;
        }

        .status {
          padding: 2px 12px;
          border: 1px solid;
          border-radius: 6px;
        }
      }
    }
  }
}
