@red: rgb(255, 72, 72);

.container {
  padding: 10px 0 10px 10px;
  background-color: rgb(4, 65, 126);

  p {
    color: rgb(0, 163, 255);
    margin: 0 0 10px 10px;
    text-align: left;
  }

  .desc {
    margin-left: 0;
    color: #FFF;
  }

  .descOverDue:extend(.desc) {
    margin-left: 0;
    color: @red;
  }

  .info {
    color: #FFF;
  }

  .overdue {
    color: @red;
  }
}

.space {
  display: inline-block;
  width: 2em;
}

.img {
  // height: 85px;
  height: 110px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.icon {
  display: inline-block;
  width: 17px;
  height: 17px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  top: 2px;
  margin-right: 10px;
}
