.container {
  padding: 10px 0 10px 10px;
  background-color: rgb(4, 65, 126);

  p {
    color: rgb(0, 163, 255);
    margin: 0 0 10px 10px;
    text-align: left;
  }

  .desc {
    margin-left: 0;
    color: #FFF;
  }

  .info {
    color: #FFF;
  }
}

.space {
  display: inline-block;
  width: 2em;
}

.img {
  height: 85px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
