.container {
  height: calc(100% - 58px);
  padding-bottom: 10px;
}

.left {
  position: relative;
  padding: 6% 0 0 20%;
}

.right {
  color: #fff;
  position: relative;
  padding: 8% 0 0 40%;
}

.number {
  margin: 0;
  padding: 10px 0;
  color: #fff;
  text-align: center;
  font-size: 14px;
}

.table {
  height: 80%;
  padding-right: 6px;
  overflow: auto;
  border-top: 2px solid rgb(9, 103, 211);
}

.unitCard {
  color: #fff;
  margin: 0;
  padding: 10px 0;
  text-align: left;
  font-size: 14px;
}

.btnWarning {
  height: 20px;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  border-radius: 50px;

  // .btnWarning :active {
  //   background-color: #011231;
  //   color: #4092fa;
  //   border: #4092fa;
  // }
}

@media screen and (max-width:1366px) {
  .left {
    position: relative;
    padding: 2% 0 0 10%;
  }
}
