.container {
  display: flex;
  justify-content: space-between;
  margin: 25px 0;
}

.normal {
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: rgb(62, 130, 199);
  background-color: rgb(4, 56, 115);
  border-radius: 5px;
  cursor: pointer;
}

.selected {
  color: #FFF;
  background-color: rgb(9, 103, 211);
  cursor: auto;
}

.alerted {
  box-shadow: 0 0 5px 3px rgba(166, 64, 84, 1);
}
