.container {
  width: 300px;
  display: flex;
}

.chart {
  width: 120px;
  height: 110px;
}

.desc {
  width: 180px;
  padding: 15px 0 0 15px;

  p {
    margin-bottom: 5px;
  }
}

.title {
  font-size: 16px;
}
