.container, .container1 {
  width: 100%;
  height: 100%;
  padding: 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.container1 {
  padding-top: 25px;
}

.tank {
  position: relative;
  left: 8%;
}

.title {
  position: absolute;
  top: 0;
  left: 10px;
  margin: 0;
}

.icon {
  width: 18px;
  height: 18px;
  display: inline-block;
  margin-right: 5px;
  position: relative;
  top: 2px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.lightContainer {
  position: absolute;
  left: 25px;
  top: 35px;
}

@lightWidth: 25px;
.alarm {
  height: @lightWidth;
  background-image: url(../imgs/redLight.png);
  background-size: @lightWidth @lightWidth;
  background-repeat: no-repeat;
  background-position: center center;
}

.desc {
  font-size: 12px;
  margin: 0;
  text-align: center;
}
