.container {
  border: 2px solid #000;
  margin-top: 20px;
  padding: 20px;
}

.title {
  text-align: center;
}

.content {
  white-space: pre-wrap;
}

.man {
  text-align: right;
}

.time {
  text-align: right;
}
