.level {
  position: absolute;
  top: 0;
  right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.75em;
  width: 1.75em;
  text-align: center;
  line-height: 1;
  word-break:break-all;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  z-index: 9;
}
.nameLabelWrapper,
.extendedDaysLabelWrapper {
  width: 6em;
  letter-spacing: 0.666667em;
}
.expiryDaysLabelWrapper {
  width: 6em;
  letter-spacing: 0.25em;
}
.nextCheckTime {
  margin-right: 0.5em;
}
.checkCycle {
  color: #AEAEAE;
}
.days {
  color: #f83329;
}

@media screen and (max-width: 1599px) and (min-width: 1400px) {
  .container {
    font-size: 14px;
  }
}

@media screen and (max-width: 1399px) {
  .container {
    font-size: 12px;
  }
}
