<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>晶安智慧云</title>
  <!-- <link rel="manifest" href="/acloud_new/manifest.json"> -->
  <!-- <link rel="icon" href="/favicon.png" type="image/x-icon"> -->
  <!-- <script src="https://cdn.bootcss.com/rollbar.js/2.4.0/rollbar.min.js"></script> -->
  <script src="https://gw.alipayobjects.com/os/antv/assets/data-set/0.8.7/data-set.min.js"></script>
  <!-- <script type="text/javascript">
    (function(w) {
      w.frontjsConfig = {
        token: "60015f494561deeb785f3e6216d779bd",
        behaviour: 15,
        origin: [""],
        exclude: [""]
      }
    })(window);
  </script>
  <script type="text/javascript" src="https://static.frontjs.com/dist/current/tracker.min.js" crossorigin="anonymous"></script>` -->

</head>

<body>
  <div id="root"></div>
  <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.7.2/less.min.js"></script> -->

  <!-- <script src="https://js.fundebug.cn/fundebug.1.4.0.min.js" apikey="5b959725a25256164d62e1fb7879672bd3673dc5602b1b0b50e54c48821230ca"></script> -->
</body>


</html>
