.card:not(:last-child) {
  margin-bottom: 24px;
}
.table {
  :global {
    .ant-table {

      td,
      th {
        white-space: nowrap;
      }
    }

    .ant-table-body {
      overflow-x: auto !important;
    }

    .ant-spin-nested-loading {
      z-index: 2;
    }
  }
}
.multi {
  text-align: left;
}
.operation {
  padding-left: 8px !important;
  padding-right: 8px !important;
}
.modal {
  :global {
    .ant-modal-body {
      padding: 0;
    }
  }
}
.red {
  color: #ff4848;
}
