.container {
  position: relative;
  // height: 100px;
  overflow: hidden;
  background: rgba(1, 21, 57, 0.8);
  margin-bottom: 15px;
  border-radius: 1%;
  cursor: pointer;
}

.container:hover {
  background: rgba(9, 103, 211, 0.1);
}

.company {
  color: #FFF;
  font-size: 16px;
  margin: 19px 0 0 80px;
}

.address {
  color: rgb(79,103,147);
  margin: 15px 0 19px 80px;
}

.locateIcon {
  display: inline-block;
  width: 15px;
  height: 18px;
  margin-right: 10px;
  position: relative;
  top: 5px;
  // background-image: url(http://data.jingan-china.cn/v2/big-platform/fire-control/gov/locate.png);
  background-size: 100% 100%;
}

.time {
  position: absolute;
  right: 10px;
  top: 20px;
}

.timeShort:extend(.time) {
  color: rgb(225,103,98);
}

.timeLong:extend(.time) {
  color: rgb(79,103,147);
}

.fireIcon {
  width: 48px;
  height: 48px;
  position: absolute;
  left: 10px;
  top: 25px;
  // background-image: url(http://data.jingan-china.cn/v2/big-platform/fire-control/gov/fire.png);
  background-size: 100% 100%;
}
