.container {
  color: #FFF;
  padding-left: 38px;
}

.title {
  color: #FFF;
  height: 18px;
  line-height: 18px;
  font-size: 16px;
  padding-left: 10px;
  border-left: 2px solid rgb(4, 253, 255);
  position: relative;
}

.info {
  font-size: 12px;
  margin-left: 8px;
  color: rgb(79, 103, 147);
}

.extra {
  position: absolute;
  right: 0;
  top: 0;
}
