.container {
  color: #FFF;
  padding-left: 38px;
}

.title {
  color: #FFF;
  height: 18px;
  line-height: 18px;
  font-size: 16px;
  padding-left: 10px;
  border-left: 2px solid rgb(4, 253, 255);
}
