.left {
  position: relative;
  padding: 12% 0 6% 20%;
}
.right {
  color: #fff;
  position: relative;
  padding: 15% 6% 6% 40%;
}
.number {
  margin: 0;
  padding: 10px 0;
  color: #fff;
  text-align: center;
  font-size: 14px;
}
.table {
  padding-right: 20px;
}
.unitCard {
  color: #fff;
  margin: 0;
  padding: 10px 0;
  text-align: left;
  font-size: 14px;
}
.btnWarning {
  height: 20px;
  text-align: center;
  font-size: 14px;

  .btnWarning :active {
    background-color: #011231;
    color: #4092fa;
    border: #4092fa;
  }
}
