.card {
  border-radius: 5%;
  // background: rgba(9, 103, 211, 0.2);
  // overflow: hidden;
}

.titleContainer {
  // border-radius: 10% 10% 0 0;
  display: flex;
  height: 25%;
  align-items:center;
  justify-content: center;
  // background: rgba(9, 103, 211, 0.4);

  border-radius: 5px 5px 0 0;
  border: 1px solid rgb(4, 253, 255);
}

.title {
  margin: 0;
  // color: rgb(0, 168, 255);
  text-align: center;

  color: #FFF;
}

.numContainer {
  display: flex;
  height: 75%;
  align-items:center;
  justify-content: center;

  border-radius: 0 0 8% 8%;
  border: 1px solid rgb(4, 253, 255);
  border-top: none;
}

.num {
  font-size: 30px;
  margin: 0;
  color: #FFF;
  text-align: center;
}
