.container {
  height: 45px;
  padding: 0 35% 0 14%;
  margin-bottom: 40px;
  position: relative;
}

.icon {
  position: absolute;
  left: 0;
  background-size: 100% 100%;
}

.percent {
  font-size: 30px;
  line-height: 34px;
  position: absolute;
  bottom: 0;
  left: 70%;
}
