.addButton {
  margin-bottom: 8px;
}
.operation {
  &[disabled] {
    pointer-events: auto;
  }
}
.numberInput {
  width: 52px !important;
}
.confirmerInput {
  width: 80px !important;
}
.wrapper {
  text-align: left;
}
