.card {
  margin-bottom: 24px;

  :global {
    .ant-card-body {
      padding-left: 24px !important;
      padding-right: 24px !important;
    }
  }
}
.toolbar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  & > div {
    flex: none;
  }
}
