// @import './BigPlatform.less';

@imgUrl: '../../static/img/BigPlatform';

.main {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  padding: 0 20px 30px;
  color: #fff;
  background: url('@{imgUrl}/safe-bg.png') no-repeat center center;
  background-size: 100% 100%;
  .mainHeader {
    line-height: 95px;
    font-size: 48px;
    position: relative;
    text-align: center;
    letter-spacing: 14px;
    .subHeader {
      letter-spacing: 0px;
      word-spacing: 10px;
      font-size: 22px;
      position: absolute;
      top: 0;
      right: 30px;
    }
  }

  .mainBody {
    height: calc(~'100% - 80px');
    width: 100%;
    position: relative;
    margin-top: -15px;
    .sectionWrapper {
      width: 100%;
      height: 100%;
      position: relative;
    }
    .sectionTitle {
      background: url('@{imgUrl}/sub-title.png') no-repeat center center;
      background-size: 100% 100%;
      padding: 0 20px;
      font-size: 18px;
      margin-bottom: 8px;
      line-height: 32px;
      height: 32px;
      display: inline-block;
    }
    .sectionMain {
      border: 2px solid transparent;
      border-image: url('@{imgUrl}/safe-border.png') 2 2 stretch;
      width: 100%;
      height: calc(~'100% - 40px');
      position: relative;
      overflow: hidden;
      .safeTable {
        width: 100%;
        vertical-align: middle;
        text-align: center;
        th {
          padding: 12px 5px;
          font-size: 16px;
          color: #00baff;
          border-bottom: 1px solid #00baff;
        }
        td {
          padding: 15px 5px;
          border-bottom: 1px solid #00baff;
          font-size: 16px;
        }
      }
      .sectionChart {
        width: 100%;
        height: 100%;
      }
    }
    .sectionMainFull {
      .sectionMain;
      height: 100%;
    }
  }
}

.heightFull {
  height: 100%;
}

.summaryBar {
  width: 100%;
  line-height: 60px;
  height: 60px;
  padding: 0 20px;
  .summaryNum {
    display: inline-block;
    margin-left: 10px;
    font-size: 26px;
  }
  .spanHalf {
    display: inline-block;
    width: 49.5%;
    white-space:nowrap;
  }
}

.topData {
  position: relative;
  zoom: 1;
  height: 110px;
  font-size: 16px;
  text-align: center;
  border: 2px solid transparent;
  border-image: url('@{imgUrl}/Government/border-top.png') 2 2 stretch;
  border-bottom-width: 1px;
  .topItem {
    float: left;
    flex: 0 0 auto;
    width: 20%;
    height: 100%;
    .topName {
      padding-top: 20px;
      white-space: nowrap;
    }
    .topNum {
      line-height: 64px;
      font-size: 36px;
    }
  }
}

.mapContainer {
  width: 100%;
  height: calc(~'100% - 110px');
  position: relative;
  padding: 12px 10px;
  border: 2px solid transparent;
  border-image: url('@{imgUrl}/Government/border-bottom.png') 2 2 stretch;
  border-top-width: 1px;
}
