@RiskCardBorderColor: rgba(2, 252, 250, 0.302);
// @RiskCardBorderColor: #0ff;

.hack {
  padding-right: 1px;
}
.container {
  color: #fff;
  border: 1px solid @RiskCardBorderColor;

  /* 标题容器 */
  .titleContainer {
    display: flex;
    align-items: center;
    padding: 0.75em;

    /* 标题 */
    .title {
      flex: 1;
      display: flex;
      align-items: center;

      .titleLabel {
        flex: none;
      }
      .titleValue {
        flex: 1;
      }
    }

    /* 风险等级 */
    .level {
      flex: none;
    }
  }

  /* 内容 */
  .content {
    display: flex;

    /* 图片容器 */
    .avatarContainer {
      flex: none;
      display: flex;
      align-items: center;
      padding: 0 0.75em;
      border-top: 1px solid @RiskCardBorderColor;
      border-right: 1px solid @RiskCardBorderColor;
      background: no-repeat center center;
      background-size: 40% auto;

      /* 图片 */
      .avatar {
        flex: none;
        height: 11em;
        width: 8.25em;
        background: no-repeat center center;
        background-size: contain;
      }
    }

    /* 信息容器 */
    .infoContainer {
      flex: 1;

      /* 信息 */
      .info {
        display: flex;
        border-top: 1px solid @RiskCardBorderColor;

        /* 信息名称 */
        .infoName {
          flex: none;
          display: flex;
          align-items: center;
          padding: 0.75em;
          width: 8.5em;
          white-space: nowrap;
          color: #00ffff;
        }
        .smallInfoName {
          .infoName;
          width: 7.5em;
        }

        /* 信息值 */
        .infoValue {
          flex: 1;
          display: flex;
          align-items: center;
          padding: 0.75em;
          border-left: 1px solid @RiskCardBorderColor;
        }
      }
    }
  }
}

.checkPerson {
  margin-right: 0.75em;
}
