/**
 * 维保单位新增或编辑
 */
.advancedForm + div {
  padding-bottom: 64px;
}

.advancedForm {
  :global {
    .ant-form .ant-row:last-child .ant-form-item {
      margin-bottom: 24px;
    }
    .ant-table td {
      transition: none !important;
    }
    .ant-tabs {
      height: 60px;
    }
  }
}

.card {
  margin-bottom: 24px;
  .ellipsisText {
    height: 1.5em;
  }
}

.subTitle {
  margin-bottom: 0;
  padding-bottom: 16px;
  font-size: 14px;
}

.subBody {
  margin-bottom: 16px;
}
