.fileList {
  padding: 9px 0;
  line-height: 1.5;
}
.clickable {
  color: #1890ff !important;
  text-decoration: none !important;
  cursor: pointer;

  &:hover {
    color: #40a9ff !important;
  }

  &:active {
    color: #096dd9 !important;
  }
}
