.lineWrapper {
  margin: -16px;

  div {
    padding: 16px;
  }

  & > :first-child {
    border-bottom: 1px solid #e8e8e8;
  }
}
.img {
  margin: -7.5px 0;
  width: 64px;
  height: 36px;
  cursor: pointer;
  vertical-align: top;
}
