.container {
  width: 119px;
  // height: 103px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.title {
  color: rgb(79, 103, 147);
  font-size: 12px;
  text-align: center;
  margin: 16px 0 0;
}
