.progress {
  :global {
    .ant-progress-inner {
      background-color: rgb(2, 45, 91);
    }
  }
}

.container {
  position: relative;
  margin-bottom: 8px;
}

.num {
  font-size: 18px;
  margin-left: 12px;
  cursor: pointer;
}

.percent {
  font-size: 18px;
  position: absolute;
  top: 0;
  right: 0;
}
