.card {
  height: 52%;
  width: 45%;
  border-radius: 5%;
  margin-bottom: 8px;
  background: #072b5d;
  overflow: hidden;
  cursor: pointer;
}

.numContainer {
  height: 70%;
  background: rgb(7, 43, 97, 0.6);
  justify-content: center;
}

.num {
  font-size: 2em;
  color: rgb(232, 103, 103);
  text-align: center;
  padding-top: 6%;
}

.titleContainer {
  border-radius: 10% 10% 0 0;
  display: flex;
  height: 30%;
  align-items: center;
  justify-content: center;
  background: rgb(8, 85, 176);
}

.title {
  margin: 0;
  color: #fff;
  font-size: 0.8em;
  text-align: center;
  letter-spacing: 5px;
}
