.card {
  height: 30%;
  width: 100%;
  color: #fff;
  background-color: rgb(2, 24, 60);
  margin-bottom: 10px;
}

.top {
  height: 10%;
  display: flex;
  padding-top: 1%;
}

.dot {
  width: 4px;
  height: 20px;
  display: block;
  background: #0967d3;
  margin-left: 10px;
}

.topTitle {
  padding-left: 7px;
}

.topNum {
  position: absolute;
  right: 10px;
  color: rgb(81, 104, 149);
}

.bottom {
  height: 20%;
  display: flex;
  justify-content: center;

  .liquid {
    width: 33%;
    height: 100%;
    font-size: 15px;
    background-position: right;
    text-align: center;

    .liquidCount {
      font-size: 1.2em;
      margin: auto;
    }
    .liquidTitle {
      font-size: 0.9em;
      color: rgb(81, 104, 149);
    }
  }

  .pressure {
    width: 33%;
    height: 100%;
    font-size: 15px;
    background-position: right;
    text-align: center;

    .pressureCount {
      font-size: 1.2em;
      margin: auto;
    }
    .pressureTitle {
      font-size: 0.9em;
      color: rgb(81, 104, 149);
    }
  }

  .temp {
    width: 33%;
    height: 100%;
    font-size: 15px;
    text-align: center;

    .tempCount {
      font-size: 1.2em;
      margin: auto;
    }
    .tempTitle {
      font-size: 0.9em;
      color: rgb(81, 104, 149);
    }
  }
}
