/**
 * 新企业消防
 */
.container {
  position: relative;
  padding: 16px 20px 24px;
  height: 100%;
}
.top {
  position: relative;
  margin-bottom: 16px;
  height: calc(~'69% - 16px');

  .topItem {
    position: absolute;
    top: 0;
    width: 20%;
    height: 100%;
  }
  .topMain {
    height: 100%;
  }
}
.bottom {
  display: flex;
  height: 31%;
}
.item {
  flex: 1;
  height: 100%;
}
.inner {
  padding: 0 4px;
  height: 100%;
}
