/**
 * 新企业消防
 */
.container {
  position: relative;
  padding: 16px 20px 24px;
  height: 100%;
}
.top {
  display: flex;
  margin-bottom: 16px;
  height: calc(~'69% - 16px');
}
.bottom {
  display: flex;
  height: 31%;
}
.item {
  flex: 1;
  height: 100%;

  .inner {
    padding: 0 4px;
    height: 100%;
  }
}
.main {
  width: 100%;
  height: 100%;
  position: relative;
  :global {
    .antd-pro\\layouts\\-big-platform-layout\\index-container .antd-pro\\layouts\\-big-platform-layout\\index-header .antd-pro\\layouts\\-big-platform-layout\\index-headerTime {
      font-size: 16px;
    }
  }
}
