/**
 * 新企业消防
 */
.container {
  padding: 16px 20px 24px;
  height: 100%;
  overflow: hidden;
}
.top {
  display: flex;
  margin-bottom: 8px;
  height: calc(~'69% - 8px');
}
.bottom {
  display: flex;
  height: 31%;
}
.item {
  flex: 1;
  height: 100%;

  .inner {
    padding: 0 4px;
    height: 100%;
  }
}
