/* 下拉框 */
div.select {
  margin-top: -0.5em;
  margin-right: 1em;
}
.jumper {
  color: #0ff;
  cursor: pointer;

  &:hover {
    color: #fff;
  }
}
/* 容器 */
.sectionContainer {
  font-size: 16px;
}
.sectionContent {
  padding: 1em 0;
}
.container {
  padding: 0 1em;
}
/* 空数据 */
.empty {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: no-repeat center;
  background-size: 50% auto;
}
.loadMoreWrapper {
  padding-top: 1em;
  text-align: center;
}
.spin {
  :global {
    .ant-spin-container {
      &:after {
        background-color: transparent;
      }
    }
  }
}
.card {
  margin-bottom: 1em;
  &:last-of-type {
    margin-bottom: 1px;
  }
}

@media screen and (max-width: 1599px) and (min-width: 1400px) {
  .sectionContainer {
    font-size: 14px;
  }
}

@media screen and (max-width: 1399px) {
  .sectionContainer {
    font-size: 12px;
  }
}
