.clickable {
  color: #1890ff;
  cursor: pointer;

  &:hover {
    color: #40a9ff;
  }

  &:active {
    color: #096dd9;
  }

  &.disabled {
    color: rgba(0, 0, 0, 0.45);
    cursor: not-allowed;
  }
}
