.info {
  color: #FFF;
  padding-left: 38px;
  border-bottom: 1px solid rgb(9, 103, 211);

  p {
    margin-bottom: 8px;
  }
}

.name {
  font-size: 16px;
}

.location, .person {
  display: inline-block;
  height: 18px;
  background-size: 100% 100%;
  position: relative;
  top: 3px;
  margin-right: 5px;
}

.location {
  width: 16px;
}

.person {
  width: 18px;
}

.select {
  padding-left: 38px;
  margin: 15px 0;
}

.gauges {
  display: flex;
  flex-wrap: wrap;
}
