.container {
  position: relative;
  height: 100%;
  overflow: auto;
  margin-right: -15px;
  padding-right: 15px;
  color: #fff;

  .basic {
    margin-bottom: 15px;
    border: 1px solid #1c5d90;
  }

  .detail {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    color: #1890ff;
  }

  .surround {
    padding: 10px 15px;
    position: relative;
    border-top: 1px solid #1c5d90;
  }
}

.spin {
  height: 100%;

  :global {
    .ant-spin-container {
      height: 100%;

      &:after {
        background-color: transparent;
      }
    }
  }
}
