.tableCard {
  :global {
    .ant-card-body {
      padding-bottom: 8px;
    }
  }
}
.table {
  :global {
    .ant-table {
      td,
      th {
        white-space: nowrap;
      }
    }

    .ant-table-content {
      overflow-x: auto !important;
    }
  }
}
