.title {
  font-weight: bold;
}
.table {
  :global {
    th,
    td {
      padding: 3px !important;
      white-space: nowrap;
    }

    th {
      color: rgba(0, 0, 0, 0.45) !important;
      background-color: transparent !important;
    }

    .ant-table-column-sorters {
      padding: 0 !important;
    }
  }
}
.ellipsis {
  vertical-align: top;
}
.badge {
  margin: 1px 0;
  vertical-align: top !important;
}
