@comImgUrl: 'http://data.jingan-china.cn/v2/big-platform/safety/com/';
.overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  font-size: 16px;
  color: #fff;
  background: url('@{comImgUrl}company-bg.png') no-repeat center center / 100% 100%;

  /* 头部 */
  .mainHeader {
    flex: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 12.685185%;
    background: url('@{comImgUrl}title-bg.png') no-repeat center center / 100% 100%;

    .mainHeaderTitle {
      font-size: 48px;
    }

    .mainHeaderTime {
      line-height: 1;
      letter-spacing: 0px;
      word-spacing: 10px;
      font-size: 22px;
      position: absolute;
      bottom: 15px;
      right: 30px;
    }
  }

  /* 主体 */
  .mainBody {
    flex: 1;
    position: relative;
    padding: 12px 24px 24px;
    width: 100%;

    .column {
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    .sectionWrapper {
      .sectionTitle {
        position: relative;
        width: 100%;
        height: 20px;
        line-height: 20px;
        font-size: 16px;
        font-weight: bold;

        .sectionTitleIcon {
          display: inline-block;
          margin-right: 12px;
          width: 20px;
          height: 20px;
          background-color: #0967D3;
          vertical-align: top;
        }
      }

      .sectionMain {
        width: 100%;
        height: 100%;
        position: relative;
        box-shadow: 0 0 1.8em #000;

        .shadowIn {
          width: 100%;
          height: 100%;
          padding: 15px;
          position: relative;
          box-shadow: 0 0 1.1em rgba(9, 103, 211, 0.9) inset;
          background: rgba(9, 103, 211, 0.06);
          overflow-x: hidden;
          overflow-y: auto;
        }

        .companyMain {
          .companyIcon {
            float: left;
            width: 50px;
            height: 100px;
            margin: 0 10px;
            background: url('@{comImgUrl}company-icon.png') no-repeat center center;
            background-size: 100% auto;
          }

          .companyInfo {
            width: calc(~'100% - 71px');
            float: left;
            word-wrap: none;
            overflow: hidden;
            white-space: nowrap;

            .companyName {
              height: 40px;
              line-height: 40px;
              font-size: 18px;
            }

            .companyCharger {
              height: 30px;
              line-height: 30px;
            }

            .companyPhone {
              .companyCharger;
            }
          }
        }

        .summaryBottom {
          width: calc(~'100% - 30px');
          position: absolute;
          bottom: 0;

          .summaryHalf {
            height: 50%;
            margin-bottom: 15px;

            .summaryIcon {
              float: left;
              width: 50px;
              height: 50px;
              margin: 5px 10px;
            }

            .summaryText {
              float: left;
              width: calc(~'100% - 71px');
              height: 30px;
              line-height: 30px;
            }

            .summaryNum {
              .summaryText;
              font-size: 16px;
            }

            .summaryCheck {
              .summaryIcon;
              background: url('@{comImgUrl}check-icon.png') no-repeat center center;
              background-size: 100% 100%;
            }

            .summarySpecial {
              .summaryIcon;
              background: url('@{comImgUrl}special-icon.png') no-repeat center center;
              background-size: 100% 100%;
            }

            .summaryPeople {
              .summaryIcon;
              background: url('@{comImgUrl}people-icon.png') no-repeat center center;
              background-size: 100% 100%;
            }

            .summaryhd {
              .summaryIcon;
              background: url('@{comImgUrl}hd-icon.png') no-repeat center center;
              background-size: 100% 100%;
            }

            .summaryNormal {
              .summaryIcon;
              background: url('@{comImgUrl}normal-icon.png') no-repeat center center;
              background-size: 100% 100%;
            }

            .summaryChecking {
              .summaryIcon;
              background: url('@{comImgUrl}checking-icon.png') no-repeat center center;
              background-size: 100% 100%;
            }

            .summaryAbnormal {
              .summaryIcon;
              background: url('@{comImgUrl}abnormal-icon.png') no-repeat center center;
              background-size: 100% 100%;
            }

            .summaryOver {
              .summaryIcon;
              background: url('@{comImgUrl}over-icon.png') no-repeat center center;
              background-size: 100% 100%;
            }
          }
        }

        /* 重要单位 */
        .importantUnit {
          position: absolute;
          right: 0;
          top: 30.949285%;
          width: 82px;
          height: 27px;

          img {
            display: block;
            width: 100%;
            height: 100%;
          }
        }
      }
    }

    .infoWrapper {
      margin-bottom: 24px;
      height: calc(~'44% - 12px');
    }

    .hdWrapper {
      height: calc(~'56% - 12px');
    }
  }
}

.heightFull {
  height: 100%;
}
/* 字段名 */
.fieldName {
  color: #00A8FF;
}

/* 安全人员卡片 */
.safety {
  .personWrapper {
    padding: 12px 0 24px;
  }

  .person {
    display: flex;
    padding: 12px 0 12px 32px;
    font-size: 16px;
    line-height: 1;

    .personName {
      width: 92px;
      color: #00A8FF;
      .overflow;
    }
    .personValue {
      flex: 1;
      .overflow;
    }
  }

  .personList {
    position: relative;
    margin-bottom: 14px;
    padding-left: 26px;
    padding-right: 88px;
    border-left: 6px solid #fff;
    box-shadow: 3px 3px 3px #000;
    background-color: #011539;

    .personItem {
      display: flex;
      font-size: 16px;
      line-height: 48px;
      overflow: hidden;

      .personItemName {
        flex: 1;
        .overflow;
      }

      .personItemPhone {
        flex: 3;
        .overflow;
      }
    }

    .personLabel {
      position: absolute;
      top: 12px;
      right: 8px;
      padding: 4px 0;
      width: 80px;
      height: 24px;
      line-height: 1;
      text-align: center;
      color: #00A8FF;
      border: 1px solid #00A8FF;
      border-radius: 4px;
    }
  }
}

/* 风险点卡片 */
.risk {
  .riskLevelList {
    padding: 32px 0;

    .riskLevelItem {
      text-align: center;
      line-height: 1;

      .riskLevelItemValue {
        margin-bottom: 8px;
        font-size: 24px;
      }

      .riskLevelItemName {
        font-size: 16px;
      }
    }
  }

  .riskPointItem {
    position: relative;
    margin-bottom: 14px;
    padding: 3px 0 3px 16px;
    font-size: 16px;
    box-shadow: 3px 3px 3px #000;
    background-color: #011539;

    .riskPointItemLabel {
      position: absolute;
      top: 0;
      right: 20px;
      width: 30px;
      height: 36px;
      line-height: 32px;
      text-align: center;
      border-bottom-left-radius: 50%;
      border-bottom-right-radius: 50%;
    }

    .riskPointItemNameWrapper {
      display: flex;
      padding: 9px 0;
      line-height: 1;

      .riskPointItemName {
        width: 80px;
        color: #4F6793;
      }
      .riskPointItemValue {
        flex: 1;
        .overflow;
      }
    }
  }
}

.legendList {
  position: absolute;
  top: 0;
  right: 0;
  height: 20px;
  line-height: 20px;

  .legendItem {
    float: left;
    margin-right: 12px;
    height: 100%;

    .legendItemIcon {
      display: inline-block;
      margin-right: 8px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
    }

    .legendItemName {
      font-size: 12px;
    }
  }
}

/* 中等大小 */
@media screen and (min-width: 1200px) and (max-width: 1599px) {
  .main {
    font-size: 14px;

    .mainHeader {
      .mainHeaderTitle {
        font-size: 42px;
      }

      .mainHeaderTime {
        font-size: 18px;
      }
    }
    .mainBody {

      .sectionWrapper {
        .sectionMain {
          .shadowIn {
            padding: 8px;
          }
          .companyMain {
            .companyIcon {
              width: 38px;
              height: 80px;
              margin: 0 10px;
            }
            .companyInfo {
              width: calc(~'100% - 59px');
              float: left;
              word-wrap: none;
              overflow: hidden;
              white-space: nowrap;
              .companyName {
                height: 30px;
                line-height: 30px;
                font-size: 15px;
              }
              .companyCharger {
                height: 25px;
                line-height: 25px;
              }
              .companyPhone {
                .companyCharger;
              }
            }
          }
          .summaryBottom {
            width: calc(~'100% - 16px');
            bottom: 0;
            .summaryHalf {
              height: 50%;
              margin-bottom: 10px;
              .summaryIcon {
                width: 38px;
                height: 38px;
                margin: 5px 10px;
              }
              .summaryText {
                height: 24px;
                line-height: 24px;
                width: calc(~'100% - 59px');
              }
              .summaryNum {
                .summaryText;
                font-size: 15px;
              }
              .summaryCheck {
                .summaryIcon;
              }
              .summarySpecial {
                .summaryIcon;
              }
              .summaryPeople {
                .summaryIcon;
              }
              .summaryhd {
                .summaryIcon;
              }
              .summaryNormal {
                .summaryIcon;
              }
              .summaryChecking {
                .summaryIcon;
              }
              .summaryAbnormal {
                .summaryIcon;
              }
              .summaryOver {
                .summaryIcon;
              }
            }
          }
        }
      }
    }
  }
}

/* 低等大小 */
@media screen and (max-width: 1199px) {
  .main {
    font-size: 12px;

    .mainHeader {
      .mainHeaderTitle {
        font-size: 36px;
      }

      .mainHeaderTime {
        font-size: 14px;
      }
    }
    .mainBody {

      .sectionWrapper {
        .sectionMain {
          .shadowIn {
            padding: 8px;
          }
          .companyMain {
            .companyIcon {
              width: 32px;
              height: 80px;
              margin: 0 5px;
            }
            .companyInfo {
              width: calc(~'100% - 43px');
              .companyName {
                height: 30px;
                line-height: 30px;
                font-size: 12px;
              }
              .companyCharger {
                height: 25px;
                line-height: 25px;
              }
              .companyPhone {
                .companyCharger;
              }
            }
          }
          .summaryBottom {
            width: calc(~'100% - 16px');
            bottom: 0;
            .summaryHalf {
              height: 50%;
              margin-bottom: 10px;
              .summaryIcon {
                width: 32px;
                height: 32px;
                margin: 5px;
              }
              .summaryText {
                height: 21px;
                line-height: 21px;
                width: calc(~'100% - 43px');
              }
              .summaryNum {
                .summaryText;
                font-size: 14px;
              }
              .summaryCheck {
                .summaryIcon;
              }
              .summarySpecial {
                .summaryIcon;
              }
              .summaryPeople {
                .summaryIcon;
              }
              .summaryhd {
                .summaryIcon;
              }
              .summaryNormal {
                .summaryIcon;
              }
              .summaryChecking {
                .summaryIcon;
              }
              .summaryAbnormal {
                .summaryIcon;
              }
              .summaryOver {
                .summaryIcon;
              }
            }
          }
        }
      }
    }
  }
}
