@comImgUrl: 'http://data.jingan-china.cn/v2/big-platform/safety/com/';
.overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  font-size: 16px;
  color: #fff;
  background: url('@{comImgUrl}company-bg.png') no-repeat center center / 100% 100%;

  /* 头部 */
  .mainHeader {
    flex: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 12.685185%;
    background: url('@{comImgUrl}title-bg.png') no-repeat 43% center / 90% 100%;

    .mainHeaderTitle {
      font-size: 48px;
    }

    .mainHeaderTime {
      position: absolute;
      right: 7.1875%;
      bottom: 17.518248%;
      line-height: 1;
      font-size: 18px;
    }
  }

  /* 主体 */
  .mainBody {
    flex: 1;

    .column {
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    /* 块容器 */
    .sectionWrapper {
      /* 块标题 */
      .sectionTitle {
        position: relative;
        width: 100%;
        height: 20px;
        line-height: 20px;
        font-size: 16px;
        font-weight: bold;

        .sectionTitleIcon {
          display: inline-block;
          margin-right: 12px;
          width: 20px;
          height: 20px;
          background-color: #0967D3;
          vertical-align: top;
        }
      }

      /* 为容器添加外阴影 */
      .sectionMain {
        position: relative;
        width: 100%;
        height: 100%;
        box-shadow: 0 0 1.8em #000;

        /* 为容器添加内阴影 */
        .shadowIn {
          position: relative;
          width: 100%;
          height: 100%;
          padding: 24px;
          box-shadow: 0 0 1.1em rgba(9, 103, 211, 0.9) inset;
          background: rgba(9, 103, 211, 0.06);
          overflow: hidden;
        }

        /* 左上角企业信息 */
        .companyMain {
          height: 50%;

          .companyInfo {
            padding-left: 80px;
            line-height: 1;
            background: url('@{comImgUrl}unitIcon.png') no-repeat 6px center / 50px 50px;

            .companyName {
              padding: 16px 0;
              width: 100%;
              font-size: 18px;
              .overflow;
            }

            .companyCharger,
            .companyPhone {
              padding: 8px 0;
              width: 100%;
              .overflow;
            }
          }
        }

        /* 左上角统计信息 */
        .summaryBottom {
          display: flex;
          align-items: flex-end;
          flex-wrap: wrap;

          .summaryHalf {
            flex: none;
            width: 50%;
            padding-left: 80px;
            background: transparent no-repeat 6px center / 50px 50px;
            line-height: 1;

            &.hoverable:hover {
              background-color: #02244D;
            }

            .summaryText {
              padding-bottom: 10px;
              .overflow;
            }

            .summaryNum {
              font-size: 24px;
              .overflow;
            }
          }
        }

        /* 重要单位 */
        .importantUnit {
          position: absolute;
          right: 0;
          top: 30.949285%;
          width: 82px;
          height: 27px;

          img {
            display: block;
            width: 100%;
            height: 100%;
          }
        }
      }
    }

    .infoWrapper {
      margin-bottom: 24px;
      height: calc(~'47% - 24px');
    }

    .hdWrapper {
      height: 53%;
    }
  }
}

.heightFull {
  height: 100%;
}
/* 字段名 */
.fieldName {
  color: #00A8FF;
}

/* 环形图 */
.pieChart {
  height: calc(~'58% - 20px');
}

/* 曲线图 */
.lineChart {
  height: calc(~'100% - 20px');
}

/* 安全人员卡片 */
.safety {
  .personWrapper {
    padding: 12px 0 24px;
  }

  .person {
    display: flex;
    padding: 12px 0 12px 32px;
    line-height: 1;

    .personName {
      width: 92px;
      color: #00A8FF;
      .overflow;
    }
    .personValue {
      flex: 1;
      .overflow;
    }
  }

  .personList {
    position: relative;
    margin-bottom: 14px;
    padding-left: 26px;
    padding-right: 90px;
    border-left: 6px solid #fff;
    box-shadow: 3px 3px 3px #000;
    background-color: #011539;

    .personItem {
      display: flex;
      line-height: 48px;
      overflow: hidden;

      .personItemName {
        flex: 1;
        .overflow;
      }

      .personItemPhone {
        flex: 3;
        .overflow;
      }
    }

    .personLabel {
      position: absolute;
      top: 12px;
      right: 8px;
      padding: 4px 0;
      width: 82px;
      height: 26px;
      line-height: 1;
      text-align: center;
      color: #00A8FF;
      border: 1px solid #00A8FF;
      border-radius: 4px;
    }
  }
}

/* 风险点卡片 */
.risk {
  .riskLevelList {
    padding: 32px 0;

    .riskLevelItem {
      text-align: center;
      line-height: 1;

      .riskLevelItemValue {
        margin-bottom: 8px;
        font-size: 24px;
      }
    }
  }

  .riskPointItem {
    position: relative;
    margin-bottom: 14px;
    padding: 3px 0 3px 16px;
    box-shadow: 3px 3px 3px #000;
    background-color: #011539;

    .riskPointItemLabel {
      position: absolute;
      top: 0;
      right: 20px;
      width: 30px;
      height: 36px;
      line-height: 32px;
      text-align: center;
      border-bottom-left-radius: 50%;
      border-bottom-right-radius: 50%;
    }

    .riskPointItemNameWrapper {
      display: flex;
      padding: 9px 0;
      line-height: 1;

      .riskPointItemName {
        width: 80px;
        color: #4F6793;
      }
      .riskPointItemValue {
        flex: 1;
        .overflow;
      }
    }
  }
}

.legendList {
  position: absolute;
  top: 0;
  right: 0;
  height: 20px;
  line-height: 20px;

  .legendItem {
    float: left;
    margin-right: 12px;
    height: 100%;

    .legendItemIcon {
      display: inline-block;
      margin-right: 8px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
    }

    .legendItemName {
      font-size: 12px;
    }
  }
}

/* 关闭按钮 */
.closeButton {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 20px;
  cursor: pointer;
}

.safetyScroll {
  height: calc(~"100% - 116");
}
.riskScroll {
  height: calc(~"100% - 132px");
}
.innerBox {
  margin-right: -8px;
  padding-right: 8px;
  overflow-x: hidden;
  overflow-y: auto;
}

.innerBox::-webkit-scrollbar {
  width: 8px;
}
.innerBox::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: rgb(9, 103, 211);
}
.innerBox::-webkit-scrollbar-track {
  border-radius: 4px;
  background: rgba(2, 28, 64, 1);
}

/* 中等大小 */
@media screen and (min-width: 1200px) and (max-width: 1599px) {
  .main {
    font-size: 14px;

    .mainHeader {
      .mainHeaderTitle {
        font-size: 40px;
      }

      .mainHeaderTime {
        font-size: 16px;
      }
    }
    .mainBody {
      .sectionWrapper {
        /* 块标题 */
        .sectionTitle {
          height: 18px;
          line-height: 18px;
          font-size: 14px;

          .sectionTitleIcon {
            margin-right: 10px;
            width: 18px;
            height: 18px;
          }
        }

        .sectionMain {
          .shadowIn {
            padding: 18px;
          }

          .companyMain {
            .companyInfo {
              padding-left: 62px;
              background-size: 40px 40px;

              .companyName {
                padding: 12px 0;
                font-size: 16px;
              }
              .companyCharger,
              .companyPhone {
                padding: 6px 0;
              }
            }
          }
          .summaryBottom {
            .summaryHalf {
              padding-left: 62px;
              background-size: 40px 40px;

              .summaryText {
                padding-bottom: 6px;
              }

              .summaryNum {
                font-size: 20px;
              }
            }
          }
        }
      }
    }
  }

  /* 环形图 */
  .pieChart {
    height: calc(~'58% - 18px');
  }
  /* 曲线图 */
  .lineChart {
    height: calc(~'100% - 18px');
  }
  /* 关闭按钮 */
  .closeButton {
    font-size: 18px;
  }
  /* 安全人员卡片 */
  .safety {
    .personWrapper {
      padding: 8px 0 16px;
    }

    .person {
      padding: 8px 0 8px 28px;

      .personName {
        width: 80px;
      }
    }

    .personList {
      margin-bottom: 12px;
      padding-left: 23px;
      padding-right: 78px;
      border-left: 5px solid #fff;

      .personItem {
        line-height: 42px;
      }

      .personLabel {
        top: 10px;
        right: 6px;
        padding: 3px 0;
        width: 72px;
        height: 22px;
        border-radius: 3px;
      }
    }
  }
  /* 风险点卡片 */
  .risk {
    .riskLevelList {
      padding: 24px 0;

      .riskLevelItem {
        .riskLevelItemValue {
          margin-bottom: 6px;
          font-size: 22px;
        }
      }
    }

    .riskPointItem {
      margin-bottom: 12px;
      padding: 3px 0 3px 14px;

      .riskPointItemLabel {
        right: 16px;
        width: 26px;
        height: 32px;
        line-height: 28px;
      }

      .riskPointItemNameWrapper {
        padding: 8px 0;

        .riskPointItemName {
          width: 70px;
        }
      }
    }
  }
  .safetyScroll {
    height: calc(~"100% - 102px");
  }
  .riskScroll {
    height: calc(~"100% - 108px");
  }
}

/* 低等大小 */
@media screen and (max-width: 1199px) {
  .main {
    font-size: 12px;

    .mainHeader {
      .mainHeaderTitle {
        font-size: 32px;
      }

      .mainHeaderTime {
        font-size: 14px;
      }
    }
    .mainBody {
      .sectionWrapper {
        /* 块标题 */
        .sectionTitle {
          height: 16px;
          line-height: 16px;
          font-size: 12px;

          .sectionTitleIcon {
            margin-right: 8px;
            width: 16px;
            height: 16px;
          }
        }

        .sectionMain {
          .shadowIn {
            padding: 12px;
          }
          .companyMain {
            .companyInfo {
              padding-left: 44px;
              background-size: 30px 30px;

              .companyName {
                padding: 8px 0;
                font-size: 14px;
              }
              .companyCharger,
              .companyPhone {
                padding: 4px 0;
              }
            }
          }
          .summaryBottom {
            .summaryHalf {
              padding-left: 44px;
              background-size: 30px 30px;

              .summaryText {
                padding-bottom: 4px;
              }

              .summaryNum {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
  /* 环形图 */
  .pieChart {
    height: calc(~'58% - 16px');
  }
  /* 曲线图 */
  .lineChart {
    height: calc(~'100% - 16px');
  }
  /* 关闭按钮 */
  .closeButton {
    font-size: 16px;
  }
  /* 安全人员卡片 */
  .safety {
    .personWrapper {
      padding: 6px 0 12px;
    }

    .person {
      padding: 6px 0 6px 24px;

      .personName {
        width: 68px;
      }
    }

    .personList {
      margin-bottom: 10px;
      padding-left: 20px;
      padding-right: 68px;
      border-left: 4px solid #fff;

      .personItem {
        line-height: 36px;
      }

      .personLabel {
        top: 8px;
        right: 4px;
        padding: 3px 0;
        width: 62px;
        height: 20px;
      }
    }
  }
  /* 风险点卡片 */
  .risk {
    .riskLevelList {
      padding: 16px 0;

      .riskLevelItem {
        .riskLevelItemValue {
          margin-bottom: 4px;
          font-size: 20px;
        }
      }
    }

    .riskPointItem {
      margin-bottom: 10px;
      padding: 3px 0 3px 12px;

      .riskPointItemLabel {
        right: 14px;
        width: 22px;
        height: 28px;
        line-height: 24px;
      }

      .riskPointItemNameWrapper {
        padding: 6px 0;

        .riskPointItemName {
          width: 60px;
        }
      }
    }
  }
  .safetyScroll {
    height: calc(~"100% - 82px");
  }
  .riskScroll {
    height: calc(~"100% - 84px");
  }
}
