// @import './BigPlatform.less';
@imgUrl: 'http://data.jingan-china.cn/v2/big-platform/safety/gov';
.main {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-size: 14px;
  padding: 0 20px 30px;
  color: #fff;
  background: url('@{imgUrl}safe-bg.png') no-repeat center center;
  background-size: 100% 100%;
  .mainHeader {
    line-height: 95px;
    height: 95px;
    font-size: 48px;
    position: relative;
    text-align: center;
    letter-spacing: 14px;
    .subHeader {
      letter-spacing: 0px;
      word-spacing: 10px;
      font-size: 22px;
      position: absolute;
      top: 0;
      right: 30px;
    }
  }
  .mainBody {
    height: calc(~'100% - 80px');
    width: 100%;
    position: relative;
    margin-top: -15px;
    .sectionWrapper {
      width: 100%;
      height: 100%;
      position: relative;
    }
    .sectionTitle {
      background: url('@{imgUrl}sub-title.png') no-repeat center center;
      background-size: 100% 100%;
      padding: 0 20px;
      font-size: 18px;
      margin-bottom: 8px;
      line-height: 32px;
      height: 32px;
      display: inline-block;
    }
    .sectionMain {
      border: 2px solid transparent;
      border-image: url('@{imgUrl}safe-border.png') 2 2 stretch;
      width: 100%;
      height: calc(~'100% - 40px');
      position: relative;
      overflow: hidden;
      .thFix {
        width: 100%;
        vertical-align: middle;
        text-align: center;
        height: 45px;
        th {
          padding: 0 5px;
          font-size: 16px;
          color: #00baff;
          border-bottom: 1px solid #00baff;
          height: 45px;
        }
      }
      .scrollWrapper {
        width: 100%;
        height: calc(~'100% - 45px');
        overflow: hidden;
        position: relative;
        .tableWrapper {
          width: 100%; // position: absolute;
          // top: 0;
          // left: 0;
          .safeTable {
            width: 100%;
            vertical-align: middle;
            text-align: center;
            margin-bottom: 150px;
            th {
              padding: 0 5px;
              font-size: 16px;
              color: #00baff;
              border-bottom: 1px solid #00baff;
              height: 45px;
              width: 50%;
            }
            td {
              padding: 0 5px;
              border-bottom: 1px solid #00baff;
              font-size: 15px;
              height: 50px;
              width: 50%;
            }
          }
        }
      }
      .hdArea {
        width: 100%;
        height: calc(~'100% - 60px');
      }
      .hdPie {
        width: 67%;
        height: calc(~'100% - 60px');
      }
    }
    .sectionMainFull {
      .sectionMain;
      height: 100%;
    }
  }
}

.heightFull {
  height: 100%;
}

.summaryBar {
  width: 100%;
  line-height: 60px;
  height: 60px;
  padding: 0 20px;
  .summaryNum {
    display: inline-block;
    margin-left: 10px;
    font-size: 26px;
  }
  .spanHalf {
    display: inline-block;
    width: 49.5%;
    white-space: nowrap;
  }
}

.topData {
  position: relative;
  zoom: 1;
  height: 110px;
  font-size: 16px;
  text-align: center;
  border: 2px solid transparent;
  border-image: url('@{imgUrl}border-top.png') 2 2 stretch;
  border-bottom-width: 1px;
  .topItem {
    float: left;
    flex: 0 0 auto;
    width: 20%;
    height: 100%;
    .topName {
      padding-top: 20px;
      white-space: nowrap;
    }
    .topNum {
      line-height: 64px;
      font-size: 36px;
    }
  }
}

.pieLegend {
  width: 33%;
  height: 210px;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -100px;
  .hdTitle {
    font-size: 12px;
    text-align: center;
    line-height: 25px;
    float: left;
    width: 100%;
  }
  .hdLegend {
    float: left;
    padding-right: 8px;
    width: 100%;
    line-height: 24px;
    height: 22px;
    overflow: hidden;
    font-size: 12px;
    .legendCircle {
      display: inline-block;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      position: relative;
      top: 3px;
      margin-right: 3px;
    }
    .legendNum {
      float: right;
    }
  }
}

.mapContainer {
  width: 100%;
  height: calc(~'100% - 110px');
  position: relative;
  padding: 12px 10px;
  border: 2px solid transparent;
  border-image: url('@{imgUrl}border-bottom.png') 2 2 stretch;
  border-top-width: 1px;
  :global {
    .amap-toolbar.amap-touch-toolbar {
      left: 10px !important;
      top: 20px !important;
      bottom: auto !important;
    }
    .amap-scalecontrol {
      top: 10px !important;
      left: 80px !important;
      bottom: auto !important;
    }
    .amap-info-content.amap-info-outer {
      background-color: rgba(4, 50, 98, 0.8) !important;
      border: none;
    }
    .amap-info-sharp {
      display: none;
    }
  }
  .mapLegend {
    width: calc(~'100% - 20px');
    height: 60px;
    line-height: 60px;
    background-color: rgba(2, 32, 62, 0.7);
    position: absolute;
    bottom: 12px;
    left: 10px;
    padding-left: 15px;
    padding-right: 25px;
    white-space: nowrap;
    .legendIcon {
      display: inline-block;
      width: 18px;
      height: 18px;
      position: relative;
      top: 4px;
      margin-right: 3px;
    }
    .dotRed {
      .legendIcon;
      background: url('@{imgUrl}dot-red.svg') no-repeat center center;
      background-size: 100% 100%;
      width: 24px;
      height: 24px;
      top: 7px;
    }
    .dotOrange {
      .legendIcon;
      background: url('@{imgUrl}dot-orange.png') no-repeat center center;
      background-size: 100% 100%;
    }
    .dotYel {
      .legendIcon;
      background: url('@{imgUrl}dot-yel.png') no-repeat center center;
      background-size: 100% 100%;
    }
    .dotBlue {
      .legendIcon;
      background: url('@{imgUrl}dot-blue.png') no-repeat center center;
      background-size: 100% 100%;
    }
  }
}

@media screen and (min-width: 1361px) and (max-width: 1441px) {
  .main {
    font-size: 12px;
    .mainHeader {
      line-height: 70px;
      height: 70px;
      font-size: 38px;
      .subHeader {
        font-size: 18px;
      }
    }
    .mainBody {
      height: calc(~'100% - 50px');
      .sectionTitle {
        font-size: 16px;
        height: 26px;
        line-height: 26px;
      }
      .hdArea {
        width: 100% !important;
        height: calc(~'100% - 35px') !important;
      }
      .hdPie {
        width: 69% !important;
        height: calc(~'100% - 35px') !important;
      }
      .sectionMain {
        height: calc(~'100% - 34px');
        .thFix {
          height: 40px;
          th {
            font-size: 14px;
            height: 40px;
          }
        }
        .scrollWrapper {
          height: calc(~'100% - 40px');
          .tableWrapper {
            .safeTable {
              th {
                padding: 0 5px;
                font-size: 14px;
                height: 40px;
              }
              td {
                padding: 0 5px;
                font-size: 13px;
                height: 40px;
              }
            }
          }
        }
      }
    }
    .summaryBar {
      height: 35px;
      line-height: 35px;
      .summaryNum {
        font-size: 24px;
      }
    }
    .pieLegend {
      width: 31%;
      .legendCircle {
        width: 12px;
        height: 12px;
      }
    }
    .topData {
      font-size: 14px;
      height: 75px;
      .topItem {
        .topName {
          padding-top: 5px;
        }
        .topNum {
          line-height: 40px;
          font-size: 28px;
        }
      }
    }
    .mapContainer {
      height: calc(~'100% - 75px');
      .mapLegend {
        height: 40px;
        line-height: 40px;
        padding-left: 5px;
        padding-right: 15px;
      }
    }
  }
}

@media screen and (max-width: 1460px) {
  .main {
    font-size: 12px;
    .mainHeader {
      line-height: 55px;
      height: 55px;
      font-size: 28px;
      .subHeader {
        font-size: 14px;
      }
    }
    .mainBody {
      height: calc(~'100% - 30px');
      .sectionTitle {
        font-size: 16px;
        height: 26px;
        line-height: 26px;
      }
      .hdArea {
        width: 100% !important;
        height: calc(~'100% - 35px') !important;
      }
      .hdPie {
        width: 100% !important;
        height: calc(~'100% - 35px') !important;
      }
      .sectionMain {
        height: calc(~'100% - 34px');
        .thFix {
          height: 40px;
          th {
            font-size: 14px;
            height: 40px;
          }
        }
        .scrollWrapper {
          height: calc(~'100% - 40px');
          .tableWrapper {
            .safeTable {
              th {
                padding: 0 5px;
                font-size: 14px;
                height: 40px;
              }
              td {
                padding: 0 5px;
                font-size: 13px;
                height: 40px;
              }
            }
          }
        }
      }
    }
    .summaryBar {
      height: 35px;
      line-height: 35px;
      .summaryNum {
        font-size: 20px;
      }
    }
    .pieLegend {
      display: none;
      width: 31%;
      .legendCircle {
        width: 12px;
        height: 12px;
      }
    }
    .topData {
      font-size: 14px;
      height: 75px;
      .topItem {
        .topName {
          padding-top: 5px;
        }
        .topNum {
          line-height: 40px;
          font-size: 26px;
        }
      }
    }
    .mapContainer {
      height: calc(~'100% - 75px');
      .mapLegend {
        height: 40px;
        line-height: 40px;
        padding-left: 5px;
        padding-right: 15px;
      }
    }
  }
}
