/* 风险四色图相关样式 */
.fourColorImgContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  height: calc(~'68% - 24px');

  .fourColorImgTitle {
    padding-left: 16px;
    height: 24px;
    line-height: 24px;
    font-size: 20px;
    color: #00A8FF;
  }
  .fourColorImgLabelContainer {
    display: flex;
    padding-top: 24px;
    height: 48px;
    line-height: 24px;

    .fourColorImgLabel {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;

      .fourColorImgLabelIcon {
        display: inline-block;
        margin-right: 8px;
        width: 16px;
        height: 16px;
      }
    }
  }
}
