/* 风险四色图相关样式 */
.fourColorImgContainer {
  position: relative;
  margin-bottom: 24px;
  height: calc(~'68% - 24px');

  .fourColorImgTitle {
    line-height: 1;
    font-size: 20px;
    color: #00A8FF;
  }
  .fourColorImgLabelContainer {
    display: flex;
    padding-top: 24px;
    height: 48px;
    line-height: 24px;

    .fourColorImgLabel {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;

      .fourColorImgLabelIcon {
        display: inline-block;
        margin-right: 8px;
        width: 24px;
        height: 24px;
        background: transparent no-repeat center center;
        background-size: 100% 100%;
        border: 3px solid #fff;
        border-radius: 50%;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.4) inset;
      }
    }
  }
}

.riskImage {
  height: calc(~'100% - 68px');
}


.fourColorImgPaginationContainer {
  position: absolute;
  top: 30px;
  left: 0;
  padding-right: 16px;
  overflow: hidden;

  .paginationWrapper {
    position: relative;
    height: 38px;
    transform: translateX(-100%);

    .paginationWrapperRight {
      position: absolute;
      left: 100%;
      top: 0;
      width: 16px;
      height: 38px;
      border-width: 10px 0 0 16px;
      border-style: solid;
      border-color: transparent transparent transparent #022D5B;
      z-index: 1;
    }
    .paginationList {
      position: absolute;
      left: 100%;
      bottom: 0;
      width: 16px;
      z-index: 2;
      .paginationItem {
        text-align: center;
        height: 14px;
        line-height: 14px;
      }
    }
  }
  .tabWrapper {
    margin-bottom: 6px;
  }
  .tab {
    position: relative;
    display: inline-block;
    padding: 11px 4px 11px 20px;
    width: auto;
    height: 38px;
    line-height: 1;
    transform: translateX(-100%);
    transition: 'transform 0.5s';
    background-color: #022D5B;
    cursor: pointer;

    .tabRight {
      position: absolute;
      left: 100%;
      top: 0;
      width: 16px;
      height: 38px;
      border-width: 10px 0 0 16px;
      border-style: solid;
      border-color: transparent transparent transparent #022D5B;
    }

    &:hover {
      transform: translateX(0);
      background-color: #0967D3;

      .tabRight {
        border-left-color: #0967D3;
      }
    }
  }
}

/* 中等大小 */
@media screen and (min-width: 1200px) and (max-width: 1599px) {
  .fourColorImgContainer {
    .fourColorImgTitle {
      font-size: 18px;
    }
    .fourColorImgLabelContainer {
      padding-top: 20px;
      height: 40px;
      line-height: 20px;

      .fourColorImgLabel {
        .fourColorImgLabelIcon {
          margin-right: 7px;
          width: 20px;
          height: 20px;
        }
      }
    }
  }
  .riskImage {
    height: calc(~'100% - 58px');
  }
}

/* 低等大小 */
@media screen and (max-width: 1199px) {
  .fourColorImgContainer {
    .fourColorImgTitle {
      font-size: 16px;
    }
    .fourColorImgLabelContainer {
      padding-top: 16px;
      height: 32px;
      line-height: 16px;

      .fourColorImgLabel {
        .fourColorImgLabelIcon {
          margin-right: 6px;
          width: 16px;
          height: 16px;
        }
      }
    }
  }
  .riskImage {
    height: calc(~'100% - 48px');
  }
}
