.map {
  margin-bottom: 15px;
}

.img {
  width: 100%;
  vertical-align: top;
}

.img1:extend(.img) {
  margin-top: 15px;
}

.type {
  color: rgb(0, 0, 0, 0.85);
  margin-bottom: 0;
}

.checks {
  margin-left: 50px;
}

.card {
  margin-top: 25px;

  :global {
    // .ant-form-item-label {
    //   text-align: left;
    // }

    .ant-form-item {
      margin-bottom: 0;
    }
  }
}

.hour {
  margin-left: 8px;
}
