.card {
  position: relative;
  cursor: pointer;

  :global {
    .ant-card-head-title {
      display: block;
      font-weight: bold;
      white-space: normal;
    }
  }
}

.total {
  margin: 0;
  font-size: 16px;
}

.address {
  display: flex;
}

.table {
  margin-top: 20px;
}
