.mapContainer {
  height: 100%;
  background-color: transparent;

  :global {
    /* 缩放控制器 */
    .leaflet-control-zoom {
      border-color: transparent;

      /* 缩放按钮 */
      a {
        color: #fff;
        background-color: #044786;

        &:first-child {
          border-bottom-color: #fff;
          border-top-left-radius: 4px;
          border-top-right-radius: 4px;
        }
        &:last-child {
          border-bottom-left-radius: 4px;
          border-bottom-right-radius: 4px;
        }
        /* 悬浮 */
        &:hover {
          background-color: #0259a4;
        }
        /* 点击 */
        &:active {
          background-color: #03396b;
        }
        /* 禁用 */
        &.leaflet-disabled {
          color: #7c96ae;
          background-color: #366c9e;
          cursor: not-allowed;
        }
      }
    }
    /* 编辑控制器 */
    .leaflet-draw {
      /* 部分 */
      .leaflet-draw-toolbar {
        border-color: transparent;
        a {
          color: #fff;
          background-color: #044786;

          &:not(:last-child) {
            border-bottom-color: #fff;
          }
          &:first-child {
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
          }
          &:last-child {
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
          }
          /* 悬浮 */
          &:hover {
            background-color: #0259a4;
          }
          /* 点击 */
          &:active {
            background-color: #03396b;
          }
          /* 禁用 */
          &.leaflet-disabled {
            color: #7c96ae;
            background-color: #366c9e;
            cursor: not-allowed;
          }
          /* 编辑按钮 */
          &.leaflet-draw-edit-edit {
            background-image: url('data:image/svg+xml;utf8,<svg t="1547797169958" class="icon" style="" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="12191" xmlns:xlink="http://www.w3.org/1999/xlink" width="128" height="128"><defs><style type="text/css"></style></defs><path d="M857.4 722.7c-4 84-73.5 151.2-158.3 151.2H324.8c-84.8 0-154.3-67.1-158.3-151.2h-0.2V299.3h0.2c4-84.1 73.5-151.3 158.3-151.3H640l-68.3 57.7H324.8C269.3 205.9 224 251.3 224 307v408c0 55.7 45.3 101.1 100.8 101.1H699.1c55.6 0 100.8-45.4 100.8-101.1V429.5l57.6-56.8v350h-0.1zM658.4 469l-41.8 44.1c-13.9 14.2-48.9 49.7-60 61.5-11.1 11.8-20.4 21.5-27.6 29.2-7.3 7.6-11.7 12-13 13.1-3.5 3.2-7.5 6.7-12 10.3-4.5 3.6-9.2 6.5-14.1 8.7-4.9 2.6-12 5.6-21.4 9.3-9.4 3.6-19.2 7.1-29.5 10.6s-20 6.4-29.2 9c-9.2 2.5-16.1 4.2-20.6 4.9-9.4 1.1-15.6-0.4-18.8-4.4-3.1-4-4-10.8-2.6-20.1 0.7-5.1 2.4-12.5 5-22.1 2.6-9.6 5.4-19.6 8.3-30 3-10.3 5.8-19.9 8.6-28.6 2.8-8.7 5-14.7 6.8-18 2.1-5 4.4-9.7 7.1-13.9 2.6-4.2 6.3-8.8 11.2-13.9 2.1-2.2 7-7.4 14.6-15.5 7.6-8.2 39.7-40.8 51.2-52.8l38.1-39.8 42.3-44.1 108-112.8 98.4 99.8-109 115.5z m176.5-186c-5.2 5.4-9.8 10.2-14 14.2-4.1 4.1-7.7 7.7-10.7 10.8-3.5 3.6-6.7 6.8-9.7 9.5l-97.9-99.8c5.2-5 11.4-11 18.5-18s13.1-12.5 17.9-16.6c6.1-5 12.4-8.5 18.9-10.5 6-1.9 11.8-2.8 17.6-2.7h1.6c3.2 0.1 6.3 0.4 9.4 1h-0.3 0.3c13.2 2.5 27 9.6 38.7 20.9 6.5 6.3 11.8 13.4 15.6 20.6 5.7 10.7 8.4 21.9 7.8 32.1 0 1.2 0.1 2.5 0.1 3.8 0 5.9-1.1 11.8-3.3 17.7-2.2 5.9-5.7 11.6-10.5 17z m0 0" p-id="12192" fill="#fff"></path></svg>');
            background-position: center center;
            background-size: 20px 20px;

            &.leaflet-disabled {
              background-image: url('data:image/svg+xml;utf8,<svg t="1547797169958" class="icon" style="" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="12191" xmlns:xlink="http://www.w3.org/1999/xlink" width="128" height="128"><defs><style type="text/css"></style></defs><path d="M857.4 722.7c-4 84-73.5 151.2-158.3 151.2H324.8c-84.8 0-154.3-67.1-158.3-151.2h-0.2V299.3h0.2c4-84.1 73.5-151.3 158.3-151.3H640l-68.3 57.7H324.8C269.3 205.9 224 251.3 224 307v408c0 55.7 45.3 101.1 100.8 101.1H699.1c55.6 0 100.8-45.4 100.8-101.1V429.5l57.6-56.8v350h-0.1zM658.4 469l-41.8 44.1c-13.9 14.2-48.9 49.7-60 61.5-11.1 11.8-20.4 21.5-27.6 29.2-7.3 7.6-11.7 12-13 13.1-3.5 3.2-7.5 6.7-12 10.3-4.5 3.6-9.2 6.5-14.1 8.7-4.9 2.6-12 5.6-21.4 9.3-9.4 3.6-19.2 7.1-29.5 10.6s-20 6.4-29.2 9c-9.2 2.5-16.1 4.2-20.6 4.9-9.4 1.1-15.6-0.4-18.8-4.4-3.1-4-4-10.8-2.6-20.1 0.7-5.1 2.4-12.5 5-22.1 2.6-9.6 5.4-19.6 8.3-30 3-10.3 5.8-19.9 8.6-28.6 2.8-8.7 5-14.7 6.8-18 2.1-5 4.4-9.7 7.1-13.9 2.6-4.2 6.3-8.8 11.2-13.9 2.1-2.2 7-7.4 14.6-15.5 7.6-8.2 39.7-40.8 51.2-52.8l38.1-39.8 42.3-44.1 108-112.8 98.4 99.8-109 115.5z m176.5-186c-5.2 5.4-9.8 10.2-14 14.2-4.1 4.1-7.7 7.7-10.7 10.8-3.5 3.6-6.7 6.8-9.7 9.5l-97.9-99.8c5.2-5 11.4-11 18.5-18s13.1-12.5 17.9-16.6c6.1-5 12.4-8.5 18.9-10.5 6-1.9 11.8-2.8 17.6-2.7h1.6c3.2 0.1 6.3 0.4 9.4 1h-0.3 0.3c13.2 2.5 27 9.6 38.7 20.9 6.5 6.3 11.8 13.4 15.6 20.6 5.7 10.7 8.4 21.9 7.8 32.1 0 1.2 0.1 2.5 0.1 3.8 0 5.9-1.1 11.8-3.3 17.7-2.2 5.9-5.7 11.6-10.5 17z m0 0" p-id="12192" fill="#7c96ae"></path></svg>');
            }
          }
          /* 删除按钮 */
          &.leaflet-draw-edit-remove {
            background-image: url('data:image/svg+xml;utf8,<svg t="1547796937380" class="icon" style="" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="4383" xmlns:xlink="http://www.w3.org/1999/xlink" width="128" height="128"><defs><style type="text/css"></style></defs><path d="M585.27998 767.998465 585.27998 365.722472c0-46.879704 73.238025-46.879704 73.238025 0l0 402.275993C658.518005 814.883285 585.27998 814.883285 585.27998 767.998465L585.27998 767.998465 585.27998 767.998465zM365.500415 767.998465 365.500415 365.722472c0-46.879704 73.271794-46.879704 73.271794 0l0 402.275993C438.771185 814.883285 365.500415 814.883285 365.500415 767.998465L365.500415 767.998465 365.500415 767.998465zM988.190423 182.861748 805.060569 182.861748l0-73.16844c0-60.576657-49.247634-109.692285-108.754936-109.692285L328.879356 0.001023c-60.673871 0-109.887736 49.116651-109.887736 109.692285l0 73.16844L35.860742 182.861748c-46.949288 0-46.949288 73.104995 0 73.104995l952.32968 0C1035.104919 255.966743 1035.104919 182.861748 988.190423 182.861748L988.190423 182.861748 988.190423 182.861748zM292.26239 109.692285c0-19.428491 17.158798-36.58729 36.615942-36.58729l367.426277 0c19.459191 0 35.484166 14.863523 35.484166 36.58729l0 73.16844L292.26239 182.860724 292.26239 109.692285 292.26239 109.692285zM768.410857 1024 255.607562 1024c-60.640102 0-109.853967-49.111534-109.853967-109.687168L145.753595 365.722472c0-21.723767 17.158798-36.586267 36.615942-36.586267 19.462261 0 36.621059 14.862499 36.621059 36.586267l0 548.589336c0 19.389606 17.192567 36.547381 36.615942 36.547381l512.803295 0c19.457144 0 36.649711-17.157775 36.649711-36.547381L805.059546 366.855272c0-48.012504 73.238025-48.012504 73.238025 0l0 547.456536C878.298594 974.888466 829.084729 1024 768.410857 1024L768.410857 1024zM768.410857 1024" p-id="4384" fill="#fff"></path></svg>');
            background-position: center center;
            background-size: 14px 14px;

            &.leaflet-disabled {
              background-image: url('data:image/svg+xml;utf8,<svg t="1547796937380" class="icon" style="" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="4383" xmlns:xlink="http://www.w3.org/1999/xlink" width="128" height="128"><defs><style type="text/css"></style></defs><path d="M585.27998 767.998465 585.27998 365.722472c0-46.879704 73.238025-46.879704 73.238025 0l0 402.275993C658.518005 814.883285 585.27998 814.883285 585.27998 767.998465L585.27998 767.998465 585.27998 767.998465zM365.500415 767.998465 365.500415 365.722472c0-46.879704 73.271794-46.879704 73.271794 0l0 402.275993C438.771185 814.883285 365.500415 814.883285 365.500415 767.998465L365.500415 767.998465 365.500415 767.998465zM988.190423 182.861748 805.060569 182.861748l0-73.16844c0-60.576657-49.247634-109.692285-108.754936-109.692285L328.879356 0.001023c-60.673871 0-109.887736 49.116651-109.887736 109.692285l0 73.16844L35.860742 182.861748c-46.949288 0-46.949288 73.104995 0 73.104995l952.32968 0C1035.104919 255.966743 1035.104919 182.861748 988.190423 182.861748L988.190423 182.861748 988.190423 182.861748zM292.26239 109.692285c0-19.428491 17.158798-36.58729 36.615942-36.58729l367.426277 0c19.459191 0 35.484166 14.863523 35.484166 36.58729l0 73.16844L292.26239 182.860724 292.26239 109.692285 292.26239 109.692285zM768.410857 1024 255.607562 1024c-60.640102 0-109.853967-49.111534-109.853967-109.687168L145.753595 365.722472c0-21.723767 17.158798-36.586267 36.615942-36.586267 19.462261 0 36.621059 14.862499 36.621059 36.586267l0 548.589336c0 19.389606 17.192567 36.547381 36.615942 36.547381l512.803295 0c19.457144 0 36.649711-17.157775 36.649711-36.547381L805.059546 366.855272c0-48.012504 73.238025-48.012504 73.238025 0l0 547.456536C878.298594 974.888466 829.084729 1024 768.410857 1024L768.410857 1024zM768.410857 1024" p-id="4384" fill="#7c96ae"></path></svg>');
            }
          }
          /* 多边形 */
          &.leaflet-draw-draw-polygon {
            background-image: url('data:image/svg+xml;utf8,<svg t="1547797371118" class="icon" style="" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="19137" xmlns:xlink="http://www.w3.org/1999/xlink" width="128" height="128"><defs><style type="text/css"></style></defs><path d="M235.408 946.006l-170.933-526.117 447.503-325.125 447.525 325.125-170.932 526.117z" p-id="19138" fill="#fff"></path></svg>');
            background-position: center center;
            background-size: 15px 15px;
          }
          /* 矩形  */
          &.leaflet-draw-draw-rectangle {
            background-image: url('data:image/svg+xml;utf8,<svg t="1547797387168" class="icon" style="" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="19407" xmlns:xlink="http://www.w3.org/1999/xlink" width="128" height="128"><defs><style type="text/css"></style></defs><path d="M65.95584 66.06848v891.91936h892.032V66.06848H65.95584z" p-id="19408" fill="#fff"></path></svg>');
            background-position: center center;
            background-size: 15px 15px;
          }
          /* 圆 */
          &.leaflet-draw-draw-circle {
            background-image: url('data:image/svg+xml;utf8,<svg t="1547797405734" class="icon" style="" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="20368" xmlns:xlink="http://www.w3.org/1999/xlink" width="128" height="128"><defs><style type="text/css"></style></defs><path d="M512 512m-512 0a100 100 0 1 0 1024 0 100 100 0 1 0-1024 0Z" p-id="20369" fill="#fff"></path></svg>');
            background-position: center center;
            background-size: 14px 14px;
          }
          /* 标记 */
          &.leaflet-draw-draw-marker {
            background-image: url('data:image/svg+xml;utf8,<svg t="1547797339377" class="icon" style="" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="19003" xmlns:xlink="http://www.w3.org/1999/xlink" width="128" height="128"><defs><style type="text/css"></style></defs><path d="M513.024 1024h-1.024c-17.92 0-34.816-7.168-47.104-20.48-9.728-10.24-97.28-102.912-184.832-219.648C162.304 625.664 102.4 499.2 102.4 409.088 102.4 183.296 286.208 0 512 0s409.6 183.296 409.6 409.088c0 54.784-20.992 121.856-62.976 199.68-39.936 74.752-100.352 161.792-179.712 258.048l-0.512 0.512-117.76 134.144c-11.776 14.336-29.184 22.528-47.616 22.528z m-1.024-423.936c105.984 0 191.488-86.016 191.488-191.488S617.984 217.6 512 217.6 320 303.104 320 409.088s86.016 190.976 192 190.976z" p-id="19004" fill="#fff"></path></svg>');
            background-position: center center;
            background-size: 14px 14px;
          }
          /* 圆形标记 */
          &.leaflet-draw-draw-circlemarker {
            background-image: url('data:image/svg+xml;utf8,<svg t="1547802175574" class="icon" style="" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="1524" xmlns:xlink="http://www.w3.org/1999/xlink" width="128" height="128"><defs><style type="text/css"></style></defs><path d="M512.00337692 223.62507194c-39.07811828 0-76.40824868 7.54812851-112.02349786 22.7966725-35.61524846 15.24854397-66.28448731 35.85361048-92.03419966 61.53711098-25.75633368 25.82254479-46.28194643 56.45205638-61.51062641 92.02757833-15.26178662 35.70794488-22.88274757 72.93213694-22.88274757 112.07646705 0 39.01190645 7.62096168 76.36852217 22.88274757 111.94404411 15.22868071 35.71456621 35.75429346 66.3440778 61.51062641 92.1666226 25.74971235 25.69012185 56.41895047 46.14952278 92.03419966 61.53049039a284.03475437 284.03475437 0 0 0 112.02349786 22.80329382c39.06487635 0 76.39500676-7.69379412 112.01025522-22.80329382 35.61524846-15.38096763 66.28448731-35.84698987 92.03419965-61.5304904 25.75633368-25.82254479 46.28194643-56.45205638 61.51062642-92.16662258 15.28827122-35.57552195 22.88274757-72.93213694 22.88274758-111.94404412 0-39.1443301-7.5944771-76.36852217-22.88274758-112.07646704-15.22868071-35.57552195-35.75429346-66.21165414-61.51062642-92.03419894-25.74971235-25.67687918-56.41895047-46.28194643-92.03419965-61.53049038C588.39838368 231.17982179 551.06163194 223.62507194 511.99675559 223.62507194m0-82.41364616c50.20167629 0 98.25809517 9.75297643 144.02359033 29.39797427 45.79860107 19.63837652 85.22764104 46.0104785 118.27387798 79.10968462 33.07272152 32.96678243 59.41833818 72.38920181 79.03023011 118.2606353 19.61851326 45.73901058 29.43770153 93.81529271 29.45094418 143.94413656 0.03972724 50.27450871-9.81918826 98.35079085-29.45094418 144.08980216-19.62513458 45.87143423-45.97075126 85.29385288-79.03023011 118.254014-33.03299426 33.10582743-72.43554966 59.47792868-118.27387797 79.12292725C610.19526027 872.88993219 562.19181056 882.78195289 512.00337692 882.78195289c-50.18843363 0-98.19188333-9.89202143-144.02359031-29.39797427-45.85157025-19.63837652-85.26736828-46.0104785-118.28712063-79.1096846C216.62656579 741.30751156 190.28757045 701.8850922 170.66243587 656.00703736 151.03068066 610.27464813 141.17176516 562.19836599 141.21149168 511.93047787c0.01324266-50.13546446 9.83243092-98.21174661 29.45094419-143.94413656 19.61189194-45.88467617 45.950888-85.3004742 79.03023011-118.26725664 33.0396156-33.10582743 72.47527689-59.47130809 118.28712063-79.11630594C413.73866043 150.96440221 461.78845799 141.21142578 511.99675559 141.21142578" p-id="1525" fill="#fff"></path></svg>');
            background-position: center center;
            background-size: 18px 18px;
          }
        }
      }
      /* 提示框 */
      .leaflet-draw-actions {
        a {
          color: #fff;
          background-color: #1a1a1a;
          border-left-color: #fff;

          &:hover {
            background-color: #333;
          }
          &:active {
            background-color: #000;
          }
        }
      }
    }
    /* popup */
    .leaflet-draw-tooltip {
      background-color: rgba(0,0,0,.75);
      color: #fff;
      &:before {
        border-right-color: rgba(0,0,0,.75);
      }
      &.leaflet-error-draw-tooltip {
        border-color: rgba(0,0,0,.75);
        // box-shadow: 0 0 10px #f00;
      }
    }
    .leaflet-popup {
      .leaflet-popup-content-wrapper {
        background-color: rgba(0,0,0,.75);
        color: #fff;
        font-size: 14px;
        .leaflet-popup-content {
          margin: 6px;
        }
      }
      .leaflet-popup-tip {
        background-color: rgba(0,0,0,.75);
      }
    }
    /* tooltip */
    .leaflet-tooltip {
      background-color: rgba(0,0,0,.75);
      border-color: rgba(0,0,0,.75);
      font-size: 14px;
      color: #fff;
      opacity: 1 !important;
      &.leaflet-tooltip-right:before {
        border-right-color: rgba(0,0,0,.75);
      }
      &.leaflet-tooltip-left:before {
        border-left-color: rgba(0,0,0,.75);
      }
      &.leaflet-tooltip-top:before {
        border-top-color: rgba(0,0,0,.75);
      }
      &.leaflet-tooltip-bottom:before {
        border-bottom-color: rgba(0,0,0,.75);
      }
    }
  }
}
/* 图片容器 */
.imageOverlay {
  z-index: auto !important;
}
