html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
}

html ul,
body ul {
  list-style-type: none;
  padding: 0;
}

#root {
  width: 100%;
  height: 100%;
  background: url(./imgs/bg.png) no-repeat center center;
  background-size: 100% 100%;
}

.main {
  width: 80%;
  height: 80%;
  position: absolute;
  top: 11%;
  left: 10%;
  display: flex;
  flex-direction: column;
}

.main .top {
  width: 100%;
  height: 66%;
  display: flex;
}

.main .bottom {
  flex: 1;
  width: 100%;
  margin-top: 18px;
  display: flex;
}

.main .item {
  flex: 1;
  color: #fff;
  padding: 0 32px;
  cursor: pointer;
  border: 2px solid transparent;
}

.main .item:hover {
  /* border: 2px solid rgba(255, 255, 255, 0.5); */
  box-shadow: 0px 0px 8px #fff;
}

.item+.item {
  height: 100%;
  margin-left: 20px;
}

.item-title {
  font-size: 28px;
  margin-top: 40px;
  margin-bottom: 25px;
}

.top .item-title {
  margin-top: 60px;
}

.item-p {
  font-size: 16px;
}

.safe\&fire {
  background: url(./imgs/safe&fire.png) no-repeat center center;
  background-size: 100% 100%;
}

.production {
  background: url(./imgs/production.png) no-repeat center center;
  background-size: 100% 100%;
}

.fire {
  background: url(./imgs/fire.png) no-repeat center center;
  background-size: 100% 100%;
}

.electricity {
  background: url(./imgs/electricity.png) no-repeat center center;
  background-size: 100% 100%;
}

.gas {
  background: url(./imgs/gas.png) no-repeat center center;
  background-size: 100% 100%;
}

.smoke {
  background: url(./imgs/smoke.png) no-repeat center center;
  background-size: 100% 100%;
}
