.container {
  :global {
    .ant-input-group-addon {
      padding: 0 !important;
      border: 0 !important;
    }
    .ant-btn {
      border-top-left-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
    }
    .ant-input {
      color: rgba(0, 0, 0, 0.65) !important;
      background-color: #fff !important;
      cursor: pointer !important;

      &:hover {
        border-color: #40a9ff !important;
      }
    }
  }
}
.form {
  margin-bottom: 16px;
}
