.list {
  font-size: 14px;
  color: #fff;

  .title {
    margin: 16px 0 16px 4px;
    padding-left: 8px;
    height: 14px;
    line-height: 14px;
    border-left: 3px solid #00A8ff;
  }
  .content {

  }
}
