
.scrollContainer {
  height: calc(~'100% - 25.25em - 7px') !important;
}
.container {
  padding: 0 1em;
}

/* 标题 */
.titleWrapper {
  padding: 0 1em;
  line-height: 1;

  .title {
    padding-left: 0.625em;
    border-left: 3px solid #00ffff;
  }
}
/* 轮播 */
.carouselContainer {
  padding: 1em 1em 1.5em;
  :global {
    .ant-carousel {
      font-size: 1em;
    }
    .slick-dots {
      bottom: -16px;
    }

    /* 空数据 */
    .ant-empty {
      padding: 2em 0;
      font-size: 1em;
      font-weight: bold;
      line-height: 1;
      color: #4F6793;
    }
    .ant-empty-image {
      margin-bottom: 6px;
      height: 10em;
    }
  }
}
/* 标签 */
.tabList {
  display: flex;
  line-height: 1;
  border-bottom: 1px solid rgb(5, 71, 149);

  .tab {
    flex: none;
    margin-right: 0.5em;
    padding: 0.75em 1em;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    background-color: rgb(4, 56, 115);
    cursor: pointer;

    .tabTitle {
      padding-left: 0.625em;
      color: rgb(62, 130, 199);
      border-left: 3px solid rgb(62, 130, 199);
    }

    &:hover {
      background-color: rgb(5, 71, 149);
      .tabTitle {
        color: #fff;
        border-left: 3px solid #00ffff;
      }
    }
  }
  .activeTab {
    background-color: rgb(5, 71, 149);
    cursor: auto;
    .tabTitle {
      color: #fff;
      border-left: 3px solid #00ffff;
    }
  }
}

/* 标签 */
.subTabList {
  display: flex;
  padding: 1em;
  line-height: 1;

  .subTab {
    flex: none;
    margin-right: 0.5em;
    padding: 0.625em 0;
    width: 6em;
    color: #fff;
    text-align: center;
    border-radius: 3em;
    background-color: rgba(4, 64, 125, 0.502);
    cursor: pointer;

    &:hover {
      background-color: rgb(5, 71, 149);
    }
  }
  .activeSubTab {
    background-color: rgb(5, 71, 149);
    cursor: auto;
  }
}
/* 卡片 */
.card {
  margin-bottom: 1em;
  &:last-of-type {
    margin-bottom: 1px;
  }
}
/* 加载更多按钮 */
.loadMoreWrapper {
  padding-top: 1em;
  text-align: center;
}

.defaultHiddenDanger {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: no-repeat center;
  background-size: 50% auto;
}
