.container {
  line-height: 1.5;
}
.wrapper {
  position: relative;
  padding-top: 78px;
  padding-left: 268px;
  height: 321px;
  background: no-repeat left;
  background-size: auto 100%;

  .paramList {
    position: absolute;
    top: 30px;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 240px;

    .paramItem {
      flex: none;
      display: flex;
      align-items: center;

      &:not(:last-child) {
        margin-bottom: 0.5em;
      }

      .paramItemName {
        flex: 1;
        width: 0;
        padding-right: 0.5em;
        text-align: right;
        color: rgba(0, 0, 0, 0.45);
      }

      .paramItemValue {
        flex: none;
        width: 70px;
        height: 28px;
        font-size: 18px;
        text-align: center;
        line-height: 28px;
        background-color: rgba(255, 255, 255, 0.75);
      }

      .paramItemUnit {
        flex: 1;
        width: 0;
        padding-left: 0.5em;
        color: rgba(0, 0, 0, 0.45);
      }
    }
  }

  .alarmWrapper {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    .alarmIcon {
      flex: none;
      width: 32px;
      height: 32px;
    }

    .alarmHandler {
      flex: none;
      padding: 0.25em 0;
    }
  }

  .fieldContainer {
    position: relative;
    font-size: 16px;

    .fieldWrapper {
      display: flex;
      padding: 0.5em 0;

      .fieldName {
        flex: none;
        color: rgba(0, 0, 0, 0.45);
      }

      .fieldValue {
        flex: 1;
        width: 0;
      }
    }

    .videoIcon {
      position: absolute;
      top: -34px;
      left: 0;
      width: 30px;
      height: 22px;
      background: url('../../assets/icon-video-play.png') no-repeat;
      background-size: contain;
      cursor: pointer;
    }
  }

  .col {
    padding: 0.5em 0;
  }
}
