.button {
  display: inline-block;
  font-size: 16px;
  // color: #05448F;
  color: rgb(0, 87, 169);
  cursor: pointer;

  &:hover {
    color: #00ffff;
  }

  .buttonIcon {
    transform: rotate(90deg);
  }
}
