.cardList {
  :global {
    .ant-card-extra {
      padding: 0;
    }
  }
}

.pageLayout {
  :global {
    .antd-pro\\layouts\\-grid-content-main.antd-pro\\layouts\\-grid-content-wide {
      max-width: none;
    }

    .antd-pro-layouts-grid-content-main.antd-pro-layouts-grid-content-wide {
      max-width: none;
    }
  }
}
