.fieldWrapper {
  display: flex;
  white-space: nowrap;

  & > :first-child {
    flex: none;
    color: rgba(0, 0, 0, 0.85);
  }

  & > :last-child {
    flex: 1;
  }
}
.badgeWrapper {
  margin-left: 12px;
}
