/***************************** 隐患详情单元 *************************/
.riskDetailItem {
  position: relative;
  margin-bottom: 14px;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.004);
  background: rgba(7, 43, 93, 0.702) no-repeat right bottom / 110px;

  .riskDetailItemSealWrapper {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 110px;
    height: 110px;
    z-index: 9;

    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  .riskDetailItemTitleWrapper {
    display: flex;
    padding: 10px 0;

    .riskDetailItemTitleAvatar {
      flex: none;
      width: 24px;
      height: 24px;
      margin: 0 10px;
      background: transparent no-repeat center / auto 100%;
    }

    .riskDetailItemTitle {
      flex: 1;
      line-height: 24px;
    }
  }

  .riskDetailItemContentWrapper {
    display: flex;
    padding: 0 0 8px 6px;

    .riskDetailItemImageWrapper {
      flex: none;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 120px;
      height: 160px;
      background: #021C42 no-repeat center center;
      background-size: 50% auto;
      overflow: hidden;
    }

    .riskDetailItemTextWrapper {
      display: flex;
      padding: 5px 0 5px 18px;
      align-items: center;
      justify-content: center;
      line-height: 24px;

      .riskDetailItemTextFirstChild {
        margin-right: 20px;
      }
    }
  }
}

/* 中等大小 */
@media screen and (min-width: 1200px) and (max-width: 1599px) {
  .riskDetailItem {
    margin-bottom: 12px;
    background-size: 90px;

    .riskDetailItemSealWrapper {
      width: 90px;
      height: 90px;
    }

    .riskDetailItemTitleWrapper {
      padding: 8px 0;

      .riskDetailItemTitleAvatar {
        width: 20px;
        height: 20px;
        margin: 0 8px;
      }

      .riskDetailItemTitle {
        line-height: 20px;
      }
    }

    .riskDetailItemContentWrapper {
      padding: 0 0 7px 5px;

      .riskDetailItemImageWrapper {
        width: 102px;
        height: 136px;
      }

      .riskDetailItemTextWrapper {
        padding: 4px 0 4px 12px;
        line-height: 22px;

        .riskDetailItemTextFirstChild {
          margin-right: 16px;
        }
      }
    }
  }
}

/* 低等大小 */
@media screen and (max-width: 1199px) {
  .riskDetailItem {
    margin-bottom: 10px;
    background-size: 70px;

    .riskDetailItemSealWrapper {
      width: 70px;
      height: 70px;
    }

    .riskDetailItemTitleWrapper {
      padding: 6px 0;

      .riskDetailItemTitleAvatar {
        width: 16px;
        height: 16px;
        margin: 0 6px;
      }

      .riskDetailItemTitle {
        line-height: 16px;
      }
    }

    .riskDetailItemContentWrapper {
      padding: 0 0 6px 4px;

      .riskDetailItemImageWrapper {
        width: 90px;
        height: 120px;
      }

      .riskDetailItemTextWrapper {
        padding: 3px 0 3px 8px;
        line-height: 20px;

        .riskDetailItemTextFirstChild {
          margin-right: 12px;
        }
      }
    }
  }
}
