.form {
  margin-bottom: -24px !important;
}
.datePicker {
  width: 100%;
}
.buttonContainer {
  margin-right: -8px;

  &:global(> .ant-btn) {
    margin-right: 8px;
  }
}
.bold {
  font-weight: bold;
}
.table {
  width: 100%;
  border-collapse: collapse;

  td {
    width: 20%;
    padding: 5px 0;
    text-align: center;
    border: 1px solid #d9d9d9;
  }

  td:first-child,
  td:nth-child(2) {
    width: 10%;
  }

  .red {
    background-color: #f5222d;
  }

  .orange {
    background-color: #fa8c16;
  }

  .yellow {
    background-color: #fadb14;
  }

  .blue {
    background-color: #1890ff;
  }
}
