/* 当前时间和额外内容的公共样式 */
.mixTimeAndExtra() {
  position: absolute;
  bottom: 0;
  width: 25%;
  font-size: 16px;
  padding: 14px 0;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
}

/* 容器 */
.container {
  width: 100%;
  height: 100%;
  font-size: 14px;
  color: #fff;
  background: no-repeat center center;
  background-size: 100% 100%;
  overflow: hidden;

  /* 头部 */
  .header {
    position: relative;
    height: 10%;
    background: no-repeat center center;
    background-size: auto 100%;

    /* 标题 */
    .headerTitle {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 48px;
      white-space: nowrap;
    }

    /* 右边时间容器 */
    .headerTime {
      .mixTimeAndExtra;
      right: 0;
    }

    /* 左边额外内容 */
    .headerExtra {
      .mixTimeAndExtra;
      left: 0;
    }
  }

  /* 内容 */
  .content {
    height: 90%;
  }
}
