.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.preWrapText {
  white-space: pre-wrap;
}
.tooltipContent {
  // overflow: visible !important;
  height: auto !important;

  & > div:first-child {
    position: static !important;
    max-height: 400px;

    &::-webkit-scrollbar {
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: transparent;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }

    &::-webkit-scrollbar-corner {
      background-color: transparent;
    }

    &::-webkit-resizer {
      background-color: transparent;
    }
  }

  & > div:last-child {
    right: 0 !important;

    & > div {
      background-color: rgba(255, 255, 255, 0.65) !important;
    }
  }
}
