.container {
  position: relative;
  height: 63.86%;
  color: #fff;

  .lvlWrapper {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    .lvlIcon {
      width: 60px;
      height: 54px;
    }

    .label {
      line-height: 30px;
      font-size: 15px;
      margin-top: 5px;
    }

    .number {
      color: #0ff;
      font-size: 20px;
    }
  }

  .checkCol {
    height: 100%;

    .checkItem {
      display: flex;
      height: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      color: #fff;
      font-size: 15px;

      .label {
        padding: 0 12px;
        border-radius: 5px;
        height: 26px;
        line-height: 26px;
      }

      .triangle {
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
      }

      .dot {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        z-index: 66;
        position: relative;
        margin-top: 4px;
      }

      .number {
        font-size: 18px;
        height: 32px;
      }

      &::before {
        content: '';
        position: absolute;
        width: 50%;
        height: 3px;
        top: 50%;
        left: 0;
        background-color: #8491a1;
        z-index: 1;
      }

      &::after {
        content: '';
        position: absolute;
        width: 50%;
        height: 3px;
        top: 50%;
        left: 50%;
        background-color: #8491a1;
        z-index: 8;
      }
    }

    &:first-child {
      .checkItem::before {
        display: none;
      }
    }

    &:last-child {
      .checkItem::after {
        display: none;
      }
    }
  }
}
