@import '~antd/lib/style/themes/default.less';
.main {
  width: 368px;
  margin: 0 auto;
  @media screen and (max-width: @screen-sm) {
    width: 95%;
  }
  .icon {
    font-size: 22px;
    color: rgba(0, 0, 0, 0.2);
    margin-left: 16px;
    vertical-align: middle;
    cursor: pointer;
    transition: color 0.3s;
    &:hover {
      color: @primary-color;
    }
  }
  .other {
    text-align: center;
    margin-top: 24px;
    line-height: 22px;
    .register {
      float: right;
    }
    .download {
      color: rgba(0, 0, 0, 0.65);
      font-size: 14px;
      cursor: pointer;
      &:hover {
        color: @primary-color;
      }
    }
  }
  .tab {
    display: block;
    text-align: left;
    height: 30px;
    line-height: 30px;
    .pane {
      display: inline-block;
      color: #1890ff;
      font-size: 16px;
      font-weight: 500;
      cursor: pointer;
      border-bottom: 2px solid #1890ff;
      padding-bottom: 5px;
      text-align: center;
      width: 130px;
      transition: all 0.5s;
    }
    .pane:hover {
      color: #40a9ff;
    }
  }
}
