.missionListCard {
  :global {
    .ant-form-item {
      margin-bottom: 0;
    }
  }
}

.missionList {
  :global {
    .ant-card-body {
      padding: 15px 24px 5px 24px;
    }
  }
  .ellipsisText {
    margin-bottom: 12px;
    height: 1.5em;
  }
  .statusLogo {
    position: absolute;
    width: 130px;
    height: 45px;
    top: 110px;
    right: 25px;
  }
}
