.container {
  margin: 0;
  padding: 0;
}

.selectArea {
  .radioBtn {
    float: right;
  }

  .reminder {
    margin-bottom: 10px;
  }

  .extrude {
    color: #1890ff;
    cursor: pointer;
  }
}

.emptyArea {
  text-align: center;
  margin-top: 70px;
  font-size: 18px;
}

.content {
  overflow: hidden;

  .sectionChart {
    display: flex;
    width: 100%;
    height: 480px;

    .left {
      width: 50%;
      margin-right: 2%;

      .itemTop {
        height: 300px;
        background-color: rgb(255, 255, 255);
        padding: 15px 12px;

        .headline {
          height: 8%;
          font-size: 15px;
          font-weight: bold;
        }

        .echarts {
          height: 90%;
        }
      }

      .itemBottom {
        height: 170px;
        margin-top: 10px;
        background-color: rgb(255, 255, 255);
        padding: 15px 12px;

        .headline {
          height: 40%;
          font-size: 15px;
          font-weight: bold;
        }

        .label {
          height: 45%;
          display: flex;

          .labelFirst {
            width: 50%;
            text-align: center;
            line-height: 27px;
            border-right: 1px solid #d3d3d3;

            .number {
              font-size: 28px;
              font-weight: 600;
            }

            .title {
              height: 20px;
              font-size: 14px;
              color: #a1a1a1;
              padding-top: 10px;
            }
          }

          .labelSecond {
            width: 50%;
            text-align: center;
            line-height: 27px;

            .number {
              font-size: 28px;
              font-weight: 600;
            }

            .title {
              height: 20px;
              font-size: 14px;
              color: #a1a1a1;
              padding-top: 10px;
            }
          }
        }
      }
    }

    .right {
      width: 48%;
      background-color: rgb(255, 255, 255);
      padding: 15px 12px;

      .top {
        height: 8%;
        font-size: 15px;
        font-weight: bold;
      }

      .table {
        height: 92%;
        padding: 0 12px;
        overflow-y: auto;

        .title {
          height: 10%;
          // background-color: rgb(242, 242, 242);
          border-bottom: 1px solid #eee;
          color: #a1a1a1;
          line-height: 39px;
          text-align: center;
        }

        .dataCard {
          height: 70%;
        }

        .row {
          line-height: 10px;
          border-bottom: 1px solid #eee;
          padding-top: 14px;
          line-height: 12px;
          text-align: center;
        }
      }
    }
  }

  .sectionTable {
    width: 100%;
    margin-top: 10px;

    .selectArea {
      display: flex;
    }

    .table {
      height: auto;
      margin-top: 18px;
      background-color: rgb(255, 255, 255);
    }
  }
}
