.button {
  display: inline-block;
  padding: 0.5em 1.5em;
  font-size: 16px;
  color: #4f6793;
  border: 1px solid #4f6793;
  border-radius: 3em;
  cursor: pointer;

  .buttonLabel {
    display: inline-block;
    margin-right: 0.5em;
    vertical-align: top;
  }
  .buttonIcon {
    transform: rotate(90deg);
  }

  &:hover {
    color: #00ffff;
    border: 1px solid #00ffff;
  }
}
