.list {
  display: flex;
  height: 100%;
  margin-left: 0.5em;
  margin-right: 0.5em;

  .item {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: rgba(9, 103, 211, 0.2);
      box-shadow: 0 0 2em rgba(9, 103, 211, 1) inset;
    }

    .quantity {
      width: 64px;
      height: 64px;
      line-height: 64px;
      text-align: center;
      font-size: 25px;
      border-radius: 50%;
      color: #fff;
      background: transparent;
      margin-bottom: 10%;
    }

    .name {
      font-size: 14px;
      position: absolute;
      top: 75%;
      margin-left: 1px;
    }
  }
}
