.container {
  position: relative;
  padding: 0 1em;
}
.scrollContainer {
  height: calc(~'100% - 6em') !important;
}
/* 统计头 */
.riskLevelList {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em 0 2em;

  .riskLevelItem {
    flex: 1;
    text-align: center;
    line-height: 1;

    &.notRatedItem {
      flex: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: -1em;
      margin-bottom: -1em;
      width: 5em;
      height: 5em;
      border-radius: 50%;
      border: 2px solid #00ffff;

      .riskLevelItemName {
        color: #00ffff;
      }
    }

    .riskLevelItemValue {
      font-size: 1.5em;
    }
    .riskLevelItemName  {
      margin-top: 0.5em;
    }
  }
}
.card {
  margin-bottom: 1em;
  &:last-of-type {
    margin-bottom: 1px;
  }
}
/* 风险点列表 */
.riskPointItem {
  position: relative;
  margin-bottom: 12px;
  padding: 3px 48px 3px 16px;
  background-color: rgb(4, 64, 125);
  font-size: 16px;

  &:last-child {
    margin-bottom: 0;
  }

  .riskPointItemLabel {
    position: absolute;
    top: 0;
    right: 18px;
    width: 30px;
    padding-top: 10px;
    padding-bottom: 15px;
    line-height: 1;
    text-align: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    z-index: 9;
  }

  .riskPointItemNameWrapper {
    display: flex;
    line-height: 36px;

    .riskPointItemName {
      flex: none;
      width: 80px;
      color: #00ffff;
    }
    .riskPointItemValue {
      flex: 1;
    }
  }
}
/* 空数据 */
.empty {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: no-repeat center;
  background-size: 50% auto;
}

.spin {
  height: 100%;

  :global {
    .ant-spin-container {
      height: 100%;

      &:after {
        background-color: transparent;
      }
    }
  }
}
