/* 容器 */
.container {
  position: relative;
  height: 100%;
  overflow: hidden;
}
.left {
  position: absolute;
  left: 24px;
  width: 25.46875%;
  z-index: 9999;
}
.right {
  position: absolute;
  top: calc(~'9.62963% + 68px');
  // bottom: 24px;
  right: 24px;
  width: 19.0625%;
  z-index: 9999;
}
.scroll {
  flex: 1;
  display: flex;
  height: auto !important;

  & > :first-child {
    position: static !important;
    flex: 1;
  }
}
