.cardContainer {
    overflow: auto;
    // height: calc(100% - 102px);
    // height: 100%;
    position: relative;
}

.noCard {
  width: 179px;
  height: 199px;
  position: absolute;
  left: 50%;
  top: 50%;
  background-image: url(http://data.jingan-china.cn/v2/big-platform/fire-control/gov/noAlarm.png);
  background-size: 100% 100%;
  transform: translate(-50%, -50%);
}
