.top {
  height: 60%;
  overflow: hidden;
  position: relative;
  border-bottom: 2px solid #053d83;
}
.time {
  position: absolute;
  left: -80px;
}
.status {
  position: absolute;
  width: 50px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  font-size: 14px;
  border-radius: 10%;
  // border: 1px solid;
  color: #737374;
  background-color: #0967d3 !important;
  margin-left: 10px;
}

.content {
  padding-left: 70px;
  font-size: 16px;
}
.contact {
  margin-left: 68px;
  margin-top: -15px;
  font-size: 14px;
  .phone {
    padding-left: 20px;
  }
}
