.up {
  padding-top: 20px;
  height: 50%;
}

.unitInfo {
  position: relative;
  margin-bottom: 20px;

  p {
    font-size: 18px;
    // color: rgb(0, 161, 246);
    margin: 0 0 0 100px;
    padding-right: 10px;

    color: #FFF;
  }

  .name {
    margin: 0 0 0 100px;
    padding-right: 10px;
    // color: rgb(0, 186, 255);
    cursor: pointer;

    color: rgb(4, 253, 255);
    font-size: 20px;
    margin-bottom: 10px;
  }

  .link {
    color: rgb(0, 186, 255);
  }

  .link:focus {
    text-decoration: none;
  }

  .safety {
    margin-bottom: 5px;
  }

  .info {
    color: #FFF;
  }
}

.unitIcon {
  position: absolute;
  left: 30px;
  top: 30px;
}

.down {
  height: 50%;
}

.unit {
  padding-left: 30px;
  cursor: pointer;
}
