.left {
    padding-left: 10px;
    position: relative;
}

.unit {
    font-size: 20px;
    margin: 0 0 20px;
    position: relative;
    // color: rgb(0, 168, 255);

    color: #FFF;
}

.percent {
    font-size: 26px;
    position: absolute;
    color: #FFF;
    right: 10%;
    top: -4px;
}

.unitNumber {
    font-size: 16px;
    margin: 15px 0 0;
    // color: rgb(54, 129, 199);

    color: #FFF;
}

.right {
    padding-left: 100px;
    position: relative;
}

.hostIcon {
  width: 64px;
  height: 104px;
  position: absolute;
  top: 0;
  left: 20px;
  // background-image: url(http://data.jingan-china.cn/v2/big-platform/fire-control/gov/host.png);
  background-size: 100% 100%;
}

.host {
    font-size: 20px;
    margin: 5px 0 15px;
    // color: rgb(0, 168, 255);

    color: #FFF;
}

.hostNumber {
    font-size: 26px;
    margin: 0;
    color: #FFF;
}

@color: rgb(9, 103, 211);

.table {
  margin-top: 25px;
  border-top: 2px solid @color;
  // padding-right: 5px;
}

.tableTitle {
  margin: 0;
  padding: 10px 0;
  // color: rgb(54, 129, 199);
  text-align: center;

  color: #FFF;
}

.unitCard {
  margin: 0;
  padding: 7px 0;
  // color: rgb(164, 166, 172);
  text-align: center;

  color: #FFF;
}

.link {
  // color: rgb(164, 166, 172);

  color: #FFF;
}

.link:focus {
  text-decoration: none;
}

.link:hover {
  color: rgb(4, 253, 255);
}
