.articleList {
  @mb: 14px;
  :global {
    .ant-form-item {
      margin-bottom: @mb;
    }
  }
  .cardContainer {
    .firstLine {
      display: flex;
      .title {
        flex: 1;
        font-size: 16px;
        font-weight: 600;
        word-break: break-all;
        padding-right: 10px;
      }
      .rightIcon {
        visibility: hidden;
        color: #615b5b;
        .icon {
          cursor: pointer;
        }
        .disabledIcon {
          cursor: not-allowed;
        }
      }
    }
    &:hover {
      .rightIcon {
        visibility: visible;
      }
    }
    .tags {
      margin-top: @mb;
      font-size: 13px;
    }
    .introduction {
      margin-top: @mb;
      font-size: 15px;
    }
    .statistics {
      margin-top: @mb;
      color: rgba(0, 0, 0, .45);
      .icon {
        margin-right: 8px;
      }
    }
  }
  .grey {
    color: rgba(0, 0, 0, .45);
  }
}

.articleDrawerTitle {
  display: flex;
  .title {
    flex: 1;
    color: rgba(0, 0, 0, .65);
    word-break: break-all;
    padding-right: 10px;
  }
  .rightIcon {
    color: rgba(0, 0, 0, .45);
    .icon {
      margin-right: 8px;
    }
  }
}
