.articleList {
  @mb: 0.8em;
  :global {
    .ant-form-item {
      margin-bottom: @mb;
    }
  }
  .cardContainer {
    .firstLine {
      display: flex;
      .title {
        flex: 1;
        font-size: 16px;
        font-weight: 600;
      }
      .rightIcon {
        visibility: hidden;
        color: #615b5b;
        .icon {
          cursor: pointer;
        }
      }
    }
    &:hover {
      .rightIcon {
        visibility: visible;
      }
    }
    .introduction {
      margin-top: 0.6em;
      font-size: 15px;
      :nth-child(1) {
        font-weight: 600;
      }
    }
  }
}
