
.buttonWrapper {
  text-align: center;
}
.clickable {
  color: #1890ff !important;
  cursor: pointer;

  &:hover {
    color: #40a9ff !important;
  }
  &:active {
    color: #096dd9 !important;
  }
}
