.buttonContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 -4px 16px;

  .buttonWrapper {
    flex: none;
    padding: 0 4px;
  }
}
.form {
  margin-bottom: -8px;
}
.childTable {
  :global {
    .ant-table {
      margin-left: 93px !important;
    }
  }
}
.link {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
