.card {
  :global {
    .antd-pro-components-description-list-index-descriptionList
      .antd-pro-components-description-list-index-term {
      vertical-align: top;
    }
    .antd-pro\\components\\-description-list\\index-descriptionList
      .antd-pro\\components\\-description-list\\index-term {
      vertical-align: top;
    }
  }
  .imgSection {
    width: 10%;
    height: 140px;
    float: left;
    margin-right: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    border: 1px solid #000;
    cursor: pointer;
  }
}
