.titleWrapper {
  display: flex;
  padding: 0.25em 0;
}
.title {
  flex: 1;
}
.enable,
.disable {
  flex: none;
}
.enable {
  color: #0ff;
}
.disable {
  color: #f83329;
}
.count {
  position: absolute;
  right: 1em;
  bottom: 1.25em;

  span {
    color: #0ff;
  }
}
.nameLabelWrapper，
.numberLabelWrapper {
  width: 2em;
}
