@color: rgb(4, 253, 255);
.drawer {
  :global {
    // .ant-drawer-content-wrapper {
    //   box-shadow: none;
    // }
    // 关闭按钮被修改到header里面了，为了不显示header，直接将其不显示，但要自定义close按钮
    .ant-drawer-header {
      display: none;
    }
    .ant-drawer-body {
      padding: 0;
      height: 100%;
    }
    .ant-drawer-content {
      // background-color: transparent;
      // background-color: rgb(3, 48, 105);
      background-color: #033069;
    }
    .ant-drawer-close {
      color: #FFF;
    }
  }
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 4px; // background: rgba(9, 103, 211, 0.5);
    background: rgba(0, 87, 169, 1);
  }
  ::-webkit-scrollbar-track {
    border-radius: 4px; // background: rgba(2, 28, 64, 1);
    background: rgba(2, 28, 64, 0.6);
  }
}

.container {
  padding: 16px;
  height: 100%; // border: 1px solid @color;
  // background-color: rgb(3, 48, 105);
  // box-shadow: 2px 0 8px rgba(0, 0, 0, 0.15);
  // border-radius: 10px;
}

.title {
  color: #FFF;
  font-size: 18px;
  margin-bottom: 24px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 95%;
}

.rect {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: @color;
  margin-right: 15px;
  position: relative;
  top: 3px;
}
