.ElectricityCharts {
  width: 100%;
  height: 100%;
  position: relative;
  .tabsWrapper {
    width: 100%;
    border-bottom: 2px solid #0967d3;
    padding-left: 10px;
    overflow: auto;
    margin-top: 5px;
    .tabItem {
      height: 32px;
      line-height: 32px;
      display: inline-block;
      padding: 0px 15px;
      color: #fff;
      cursor: pointer;
      background: #043b7e;
      border: 1px solid #043b7e;
      border-bottom: none;
      border-radius: 8px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      &+.tabItem {
        margin-left: 8px;
      }
    }
    .tabItem.active {
      color: #fff;
      background-color: #0967d3;
      background: #0967d3;
      border: 1px solid #0967d3;
      border-bottom: none;
    }
  }
  .selectIcon {
    position: absolute;
    top: 15px;
    right: 20px;
    z-index: 99;
    cursor: pointer;
    :global {
      .ant-select {
        font-size: 12px;
        color: #fff;
      }
      .ant-select-arrow {
        color: #fff;
      }
      .ant-select-selection {
        background-color: transparent;
        border: none;
        border-radius: 20px;
        border: 1px solid #04fdff;
      }
      .ant-select-selection-selected-value {
        padding-right: 10px;
      }
      .ant-select-selection__rendered {
        margin: 0 18px;
      }
      .ant-select-dropdown-menu {
        color: #fff !important;
        background-color: rgb(2, 45, 91) !important;
      }
    }
  }
  .noCards {
    position: relative;
    width: 100%;
    flex: 1;
    padding: 0;
    overflow: hidden;
  }
}

.selectDropDown {
  padding: 4px 0;
  background-color: #033069;
  :global {
    .ant-select-dropdown-menu-item {
      padding-left: 16px;
      padding-right: 24px;
      color: #fff;
      font-size: 12px;
      border-radius: 0;
      background-color: #033069;
      &:hover {
        color: #04fdff;
        background-color: #063b6f;
      }
    }
  }
}
