.buttonWrapper {
  margin: 0 -8px;
}
.fieldContainer {
  text-align: left;
}
.fieldWrapper {
  display: flex;

  .fieldName {
    flex: none;
    color: rgba(0, 0, 0, 0.45);
  }

  .fieldValue {
    flex: 1;
  }
}
