.item {
  width: 80% !important;
}

.treeSelectDropDown {
  max-width: 512px !important;
  max-height: 50vh !important;
}

@media screen and (max-width: 1199px) {
  .item {
    width: 100% !important;
  }
}
