.select {
  color: inherit !important;

  :global {
    .ant-select-selection {
      color: inherit !important;
      transition: none;
    }
    .ant-select-selection-selected-value {
      color: inherit !important;
    }
  }
}
