/* 企业信息 */
.container {
  margin: 0 auto;
  padding: 16px;
  max-width: 380px;
  height: 100%;
  font-size: 16px;
  line-height: 1;
}
.top {
  position: relative;
  height: 50%;

  .table {
    display: table;
    width: 100%;
    height: 100%;
  }

  .unitName {
    display: table-row;
    height: 42.222222%; // 28*2+20
    font-size: 20px;
    cursor: pointer;
  }
  .unitContact {
    display: table-row;
    height: 20%; // 36
  }
  .fieldName {
    display: inline-block;
    width: 96px;
    color: #00ffff;
    white-space: nowrap;
    vertical-align: top;
  }
  .cell {
    display: table-cell;
    vertical-align: middle;
  }
  .emptyRow {
    display: table-row;
  }
}
.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 50%;

  & > div {
    flex: none;
    padding-left: 68px;
    background: no-repeat left;
    background-size: 48px 48px;

    .countLabel {
      height: 20px;
      line-height: 20px;
      font-size: 16px;
    }
    .countValue {
      height: 28px;
      line-height: 28px;
      font-size: 24px;
      color: #00ffff;
    }
  }
  /* 可点击元素 */
  & > .hoverable {
    cursor: pointer;

    &:hover {
      .countValue {
        color: #fff;
      }
    }
  }
}

/* 安全指数球 */
.safetyIndex {
  position: absolute;
  top: 30%;
  right: 0;
}

/* 重要单位 */
.importantUnit {
  position: absolute;
  top: 18px;
  left: 18px;
  width: 100%;
  height: 28px;
  line-height: 28px;
  font-size: 16px;
  color: #fff;
  background-color: #ff4848;
  text-align: center;
  transform: translate(-50%, 0) rotate(-45deg);
  transform-origin: 50% 0;
  z-index: 9;
}
