/* 企业信息 */
.container {
  // margin: 0 auto;
  padding: 1em 10%;
  // max-width: 380px;
  height: 100%;
  line-height: 1;
}
.top {
  position: relative;
  height: 50%;

  .table {
    display: table;
    width: 100%;
    height: 100%;
  }

  .unitName {
    display: table-row;
    height: 42.222222%; // 28*2+20
    font-size: 1.25em;
    cursor: pointer;
  }
  .unitContact {
    display: table-row;
    height: 20%; // 36
  }
  .fieldNameWrapper {
    display: inline-block;
    width: 6em;
    color: #00ffff;
    white-space: nowrap;
    vertical-align: top;
    .fieldName {
      display: inline-block;
      width: 5em;
      white-space: nowrap;
      vertical-align: top;
    }
  }
  .cell {
    display: table-cell;
    vertical-align: middle;
  }
  .emptyRow {
    display: table-row;
  }
}
.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 50%;

  & > div {
    flex: none;
    padding-left: 4.25em;
    line-height: 1.75em;
    background: no-repeat left;
    background-size: 3em 3em;

    .countLabel {
      line-height: 1.25em;
    }
    .countValue {
      font-size: 1.5em;
      color: #00ffff;
    }
  }
  /* 可点击元素 */
  & > .hoverable {
    cursor: pointer;

    &:hover {
      .countValue {
        color: #fff;
      }
    }
  }
}

/* 安全指数球 */
.safetyIndex {
  position: absolute;
  top: 30%;
  right: 0;
}

/* 重要单位 */
.importantUnit {
  position: absolute;
  top: 1.25em;
  left: 1.25em;
  width: 100%;
  height: 1.75em;
  line-height: 1.75em;
  color: #fff;
  background-color: #ff4848;
  text-align: center;
  transform: translate(-50%, 0) rotate(-45deg);
  transform-origin: 50% 0;
  z-index: 9;
}
