.btnLink {
  margin-left: 20px;
  color: #1890ff;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;

  &:visited,
  &:hover,
  &:active,
  &:focus {
    background-color: transparent;
    border-color: transparent;
    outline: none;
    box-shadow: none;
  }
}

.stylesImg {
  width: 100%;
  cursor: pointer;
  margin-top: 15px;

  img {
    width: 100%;
    height: auto;
  }
}

.form {
  :global {
    .ant-form-item-label {
      text-align: left;
    }
  }
}
