.imageSelect {
  display: inline-block;
  width: 128px;
  height: 128px;
  border: 1px dashed #d9d9d9;
  cursor: pointer;

  &:hover {
    border: 1px dashed #1890ff;
  }

}
.imageWrapper {
  height: 192px;
  background: no-repeat center;
  background-size: contain;
}

.radioWrapper {
  padding: 12px 0;
  text-align: center;
}

.empty {
  padding: 24px;
  text-align: center;
}
