@import '~antd/lib/style/themes/default.less';
@import '../../../utils/utils.less';

.header {
  :global {
    .ant-tabs-bar {
      margin: 0;
      border-bottom-color: transparent !important;

      .ant-tabs-ink-bar {
        transition-duration: 0s;
      }
    }

    .ant-tabs {
      width: 950px;
    }
  }
}

.cardList {
  margin-bottom: -24px;

  .card {
    &:hover {
      :global {
        .ant-card {
          -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.09);
          box-shadow: 0 3px 8px rgba(0, 0, 0, 0.09);
          border-color: rgba(0, 0, 0, 0.09);
        }

        .ant-card-extra {
          display: block;
        }
      }
    }

    :global {
      .ant-card-extra {
        width: 120px;
        display: none;
        margin-right: -12px;
        padding: 12px 0;
      }

      .ant-btn[disabled] {
        background-color: #fff;
        color: #fff;
        cursor: default;
      }

      .ant-card-head {
        padding: 0 10px;
      }

      .ant-card-head-title {
        font-weight: bold;
      }

      .ant-card-body {
        padding: 17px;
      }

      p {
        margin-bottom: 12px;
      }
    }

    .ellipsisText {
      margin-bottom: 12px;
      height: 1.5em;
    }
  }

  // :global {
  //   .ant-list .ant-list-item-content-single {
  //     max-width: 100%;

  //     &:hover {
  //       .ant-card {
  //         -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.09);
  //         box-shadow: 0 3px 8px rgba(0, 0, 0, 0.09);
  //         border-color: rgba(0, 0, 0, 0.09);
  //       }

  //       .ant-card-extra {
  //         display: block;
  //       }
  //     }
  //   }
  // }

  .quantity {
    position: absolute;
    right: 25px;
    top: 16px;
    width: 75px;
    height: 75px;
    line-height: 25px;
    text-align: center;
    font-size: 15px;
    border: 1px solid #737374;
    color: #737374;
  }
}

.titleSpan {
  border: 1px solid #096dd9;
  border-radius: 12%;
  position: absolute;
  right: 60px;
  font-weight: normal;
  font-size: 14px;
  color: #096dd9;
  padding: 0px 5px;
}

.tabs {
  :global {
    .ant-form-item-label {
      text-align: left;
    }
  }
}

.magnify {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.5);
}

.qrcode {
  position: absolute;
  left: 50%;
  top: 50%;
  overflow: hidden;
  transform: translate(-50%, -50%);
}

.iconClose {
  position: absolute;
  left: 54%;
  top: 36%;
  color: #fff;
  font-size: 25px;
  cursor: pointer;
}

.mr10 {
  margin-right: 10px;
}

@media screen and (max-width: 1440px) {
  .iconClose {
    position: absolute;
    left: 55.5%;
    top: 33%;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
  }
}

@media screen and (max-width: 1366px) {
  .iconClose {
    position: absolute;
    left: 56%;
    top: 30%;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
  }
}
