.list {
  :global {
    .ant-row {
      display: flex;
      flex-wrap: wrap;

      & > .ant-col {
        flex: none;
      }
    }
  }
}
.wrapper {
  padding: 4px 0;
}
.fieldWrapper {
  display: flex;

  .fieldName {
    flex: none;
  }
  .fieldValue {
    flex: 1;
  }
}
