.countdown-days:after,
.countdown-hours:after,
.countdown-minutes:after {
  content: ':';
  line-height: 20px;
  font-size: 30px;
  vertical-align: top;
  display: inline-block;
  color: #fff;
  margin-top: 31px;
}

.countdown-days,
.countdown-hours,
.countdown-minutes,
.countdown-seconds {
  display: inline-block;
}
