.countdown-days:after,
.countdown-hours:after,
.countdown-minutes:after {
  content: ':';
  line-height: 8px;
  font-size: 30px;
  vertical-align: top;
  display: inline-block;
  color: #fff;
  margin-top: 26px;
}

.countdown-days,
.countdown-hours,
.countdown-minutes,
.countdown-seconds {
  display: inline-block;
}
