.sectionArea {
  width: 100%;
  height: 100%;
  border: 1px solid steelblue;
}
.topArea {
  width: 100%;
  height: 20px;
}
.bottomMain {
  width: 100%;
  height: 80%;
}
.top {
  width: 100%;
  height: calc(100% - 60px);
  display: flex;
  justify-content: center;
}
.fireHostImg {
  width: calc(50% - 0.5px);
  height: 100%;
  background-position: center;
}
.anime {
  position: absolute;
  width: 30%;
  height: 35%;
  margin: -6% 3% 0 -5%;
}
.twoTotal {
  width: calc(50% - 0.5px);
  height: 100%;
  font-size: 15px;
}
.bottom {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
}
