.card {
  position: relative;

  :global {
    .ant-card-head-title {
      display: block;
      font-weight: bold;
      white-space: normal;
    }
  }
}

.qualified {
  position: absolute;
  right: 25px;
  bottom: 65px;
}

.total {
  margin: 0;
  font-size: 16px;
}

.p {
  margin-bottom: 5px;
}

.pLast {
  margin: 0;
}

.searchSelect {
  :global {
    .ant-input {
      vertical-align: top;
    }
  }
}
