.row {
  height: 100%;
  overflow: hidden;

  .col {
    height: 100%;
  }

  /* 企业信息 */
  .leftTop {
    margin-bottom: 12px;
    height: calc(~'44% - 12px')
  }

  /* 风险点信息 */
  .leftBottom {
    height: 56%;
  }

  /* 安全风险四色图 */
  .centerTop {
    margin-bottom: 12px;
    height: calc(~'69% - 12px');
  }

  /* 单位巡查 */
  .centerBottom {
    height: 31%;
  }

  /* 隐患详情 */
  .right {
    height: 100%;
  }
}
