/* 容器 */
.container {
  position: relative;
  height: calc(~'100% - 30px');
  overflow: hidden;
  padding: 0 25px 20px;

  .topContainer {
    height: 63.6%;
  }

  .bottomContainer {
    margin-top: 15px;
    height: calc(~'36.4% - 15px');
  }
}

.height100 {
  height: 100%;
}

.menuBtn {
  position: absolute;
  top: 12px;
  right: 10px;
  z-index: 66666;
  width: 25px;
  height: 25px;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}
