.container {
  font-size: 16px;
  font-weight: normal;
  width: 180px;
  height: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
}

.img {
  position: relative;
  bottom: 3px;
}

.exam {
  margin: 0 15px 0 8px;
}

.time {
  font-size: 22px;
  color: rgb(205, 63, 63);
}
