.container {
  height: 100px;
  position: relative;
  padding-left: 120px;
  margin-bottom: 20px;
  overflow: hidden;
}

.img {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 0;
  top: 0;
  background-size: contain;
  // background-color: grey;
}

.name {
  margin: 10px 0 10px 0;
  font-size: 18px;
  font-weight: bold;
}

.desc {
  margin: 0;
}
