.container {
  font-size: 18px;
  padding-left: 30px;

  :global {
    .ant-radio {
      bottom: 2px;
    }
  }
}

.backspace {
  display: inline-block;
  width: 30px;
}

.p {
  margin-bottom: 8px;
}
